[2019-06-06 22:57] arouinfar commented on #110
@pixelzoom kg to AMU and atm to kPa are pretty standard unit conversions, so I don't think we need to include them in model.md. I do, however, think we should show the calculations for the Boltzmann constant and pressure conversions (since these are non-standard units, requiring multi-step conversion). I'm not sure that I can make a decent looking equation in a markdown file, so here are some scre

[2019-06-06 23:01] pixelzoom commented on #110
Right, sorry they got lumped in there.  And I should change the doc, I believe that Google provided them :)

Perfect, thanks!  I'll check this screenshot into GitHub, then reference it from model.md.

[2019-06-06 23:20] pixelzoom commented on #110
Done, closing.

[2019-06-06 23:20] #110 closed

[2019-06-06 23:27] pixelzoom commented on #108
Looks like `this.lidWidthProperty.value` is unexpectedly large in all cases.   So validator computation and `isValidValues` must be incorrect.

[2019-06-06 23:33] pixelzoom commented on #108
Base on `GasPropertiesContainer`, `lidWidthProperty` should range from 1325 pm (container at max width of 5000 pm) to 13075 pm (container at max width of 15000 pm)

[2019-06-06 23:42] pixelzoom commented on #108
`lidWidthProperty.value` is set in 3 places:
* LidDragListener.drag
* GasPropertiesContainer.setWidth
* GasPropertiesContainerNode, container.lidIsOnProperty listener

[2019-06-06 23:44] pixelzoom commented on #108
I'm wondering if there's a multi-touch problem with resizing the container and lid at the same time.

[2019-06-07 17:58] arouinfar commented on #88
👍

[2019-06-07 17:58] #88 closed

[2019-06-07 19:37] pixelzoom opened #111 "final code review"
Discussed at 6/6/19 dev meeting.

_Please contact me before starting review to verify that I'm ready, and that I've completed the "self" code review in #122._

@jbphet is probably on deck to do the final code review, but @ariel-phet will verify. That will happen after dev testing, probably sometime in the first 2 weeks of July.

Please include `gases-intro` and `diffusion` in this review. They are

[2019-06-07 19:38] pixelzoom commented on #111
*Please mark failed items with* ❌

PhET code-review checklist
=============

## Table of Contents
* [Build and Run Check](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md#build-and-run-checks)
* [Memory Leaks](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md#memory-leaks)
* [Performance](https://github.com/phetsims/phet-info

[2019-06-07 23:40] pixelzoom opened #112 "break GasPropertiesModel into smaller pieces"
Of the 123 .js files in this sim, all but 5 are less than 300 lines, and they are:

325 ./common/view/GasPropertiesScreenView.js
362 ./diffusion/model/DiffusionModel.js
377 ./common/model/CollisionDetector.js
557 ./common/view/GasPropertiesIconFactory.js
692 ./common/model/GasPropertiesModel.js

I'm please with all of these except GasPropertiesModel.js.  It's not huge, but it's a lot to digest in

[2019-06-10 07:10] pixelzoom commented on #112
This is done. `GasPropertiesModel` has been broken up as described in https://github.com/phetsims/gas-properties/issues/112#issue-453729378.  I'm much happier with this. It's more modular, easier to understand, and should be more maintainable.

I reviewed `DiffusionModel` to see if something similar would be useful there.  But it's a small model (362 lines), much less complicated, and I think it's

[2019-06-10 07:10] #112 closed

[2019-06-10 14:31] pixelzoom opened #113 "CT: bad initialTemperature: 0"
This started occurring after the reorganization in #112.  Present in gas-properties and gases-intro.

[code]

[2019-06-10 15:49] veillette opened #114 "linting error while using ../chipper/eslint/sim_es6_eslintrc_review.js""
While performing the code-review (#109), we noticed that although it passes the lint test using sim_es6_eslintrc.js, it fails the lint test while using sim_es6_eslintrc_review.js.

[code]

[2019-06-10 16:04] veillette commented on #103
While reviewing the simulation, we build the simulation with
grunt --minify.mangle=false --brands=phet

on Windows 10, with fuzz test, we find that the heap size does not increase over time

![image](https://user-images.githubusercontent.com/7633344/59208692-98a79780-8b77-11e9-84ef-6d1970030612.png)

[2019-06-10 16:42] pixelzoom commented on #114
Thanks @veillette.   Could you please reference #109 in code-review issues that you create, so that they are linked?

[2019-06-10 17:05] veillette commented on #114
I edited my comments so that they are linked both ways.

[2019-06-10 17:06] arouinfar commented on #98
@pixelzoom performance is looking pretty smooth, even in the worst-case scenario described in https://github.com/phetsims/gas-properties/issues/98#issuecomment-499338186.

According to @KatieWoe we no longer support iOS 9 or iOS 10, so I tested dev.36 on these devices:
* Chadwick, Chromebook running latest Chrome (74.0.3729.159)
* Pauling, iPad Air 2, iOS 11.3
* Leibniz, iPair Air 2, iOS 12

The i

[2019-06-10 17:07] #98 closed

[2019-06-10 18:30] veillette commented on #79
While performing the code-review in #109, we noticed that there are a number of TODOs in model.md. These should be revisited.

[2019-06-10 19:19] arouinfar opened #115 "wallSpeedLimit looks incorrect"
In reviewing the performance for #98, I noticed that the wallSpeedLimit for compression looks incorrect in [dev.36](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.36/phet/gas-properties_en_phet.html). It appears quite a bit faster than [dev.32](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.32/phet/gas-properties_en_phet.html) which had the appropriate speed limit. Not su

[2019-06-10 19:59] pixelzoom commented on #79
Thanks @veillette, agreed.  As noted in #109:

[2019-06-10 21:15] arouinfar commented on #60
@pixelzoom things are generally looking really good. In the constant pressure modes, changing N can lead to some odd looking behavior.

In Pressure ↕T, changing N instantaneously changes T (as it should). However, the fire/ice animation will not begin until the simulation is stepped forward. I don't think this is particularly pedagogically problematic since the fire/ice animation will appear on th

[2019-06-10 21:20] pixelzoom commented on #60
The fire/ice currently can't run unless the sim clock is running.  I could move it to its own timer, but not sure what problems we'll encounter there.  If you're OK with the current behavior, then so am I.

How about if we simply redistribute the particles if the volume changes while the sim is paused? Just like when the user is dragging the container resize handle.  @arouinfar does that sound rea

[2019-06-10 21:27] pixelzoom commented on #115
I'll investigate.  dev.32 and dev.36 should both have `wallSpeedLimit: 800` (decision in https://github.com/phetsims/gas-properties/issues/90#issuecomment-497461559), and that's what it's currently set to in master:

[code]

[2019-06-10 21:29] pixelzoom commented on #115
Verified that dev.36 and master are indeed faster than dev.32. dev.35 looks correct, so something changed between dev.35 and dev.36.

[2019-06-10 21:30] arouinfar commented on #60
I don't really want to go there. I'm OK with the current behavior.

That sounds like a good idea. For consistency, I think we'd also want the particles to redistribute when the volume changes while the sim is not paused, though.

[2019-06-10 21:38] pixelzoom commented on #115
There's only one relevant changeset between dev.35 and dev.36: https://github.com/phetsims/gas-properties/commit/a7c7a54ad47f674b205e1075ab091cbe4c03e159

[2019-06-10 22:17] pixelzoom commented on #115
Fixed in the above commit.  There were some ofter changes, and it looks like perhaps the container was getting stepped twice, sorry about that.   @arouinfar please verify in master or [1.0.0-dev.37](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.37/phet/gas-properties_en_phet.html).

[2019-06-10 22:33] arouinfar commented on #115
Looking good in dev.37, thanks @pixelzoom!

[2019-06-10 22:33] #115 closed

[2019-06-10 23:01] pixelzoom commented on #114
The code review item is:

The short answer is no, this doesn't reveal any problems that need to be fixed.  So I'm going to close this issue.

The longer answer is that 100% of these don't need to be fixed, and the majority of them are actually contrary to PhET coding conventions.   So after spending a little time reformatting files in an attempt to remove trailing spaces that WebStorm can't find,

[2019-06-10 23:01] #114 closed

[2019-06-11 01:05] pixelzoom commented on #108
To reproduce manually:

1. Start sim, go to Ideal screen
2. Add 50 heavy particles using spinner
3. When "Pressure V"radio button becomes enabled, selected it
4. Wait for particles to spread out, pause the sim.
5. Remove 2 heavy particles using the spinners.  Assertion will fail with something like:

[code]

[2019-06-11 01:10] pixelzoom commented on #60
Agreed.  Implemented in master, @arouinfar please verify.

[2019-06-11 01:42] pixelzoom commented on #113
Fixed in master, passing fuzz test.  I'll leave this open for a couple of CT cycles.

[2019-06-11 02:16] pixelzoom commented on #108
Fixed in the above commit, passing fuzz test.  I'll leave this open for a few cycles of CT.

[2019-06-11 02:18] pixelzoom commented on #113
There's still a problem here, steps to reproduce:

1. Start sim, go to Ideal screen.
2. Pause the sim.
3. Add particles to the container, temperature will be 0K instead of 300K
4. Press play button. Particles won't move because they have (presumably) have zero speed.

[2019-06-11 02:45] pixelzoom commented on #113
There's an ordering dependency in the listeners for `numberOfHeavyParticlesProperty` and `numberOfLightParticlesProperty` in ParticleSystem.  If DerivedProperty `numberOfParticlesProperty` is added first, then it will be updated before the particle arrays are populated, which is bad news.  I'll need to mull this over a bit and decide if we can live with this order dependency if well-documented and

[2019-06-11 03:00] pixelzoom commented on #113
I added assertions to verify that arrays have been populated, and I documented what to do if these assertions are hit.  I'm not crazy about having an order dependency.  But I'm trading the performance of plain old arrays for the notification features of ObservableArray, and I think that's an acceptable trade-off in this case.

[2019-06-11 03:00] pixelzoom commented on #113
Back to seeing if CT is happy with this.

[2019-06-11 04:57] pixelzoom commented on #108
CT seems happy. Closing.

[2019-06-11 05:00] pixelzoom opened #116 "use ObservableArray for Particle collections?"
To optimize performance, I'm currently using plain old Arrays for storing Particles.  I didn't want to involve ObservableArray because of the overhead.,

But this led to an order dependency in https://github.com/phetsims/gas-properties/issues/113#issuecomment-500665501 when deriving `numberOfParticlesProperty`.  And I'm guessing that PhET-iO is going to want to get at the collection of particles i

[2019-06-11 05:00] pixelzoom commented on #113
CT is happy, so I'm going to close this.

The order dependency noted here bugs me, so I've opened https://github.com/phetsims/gas-properties/issues/116.

[2019-06-11 05:00] #113 closed

[2019-06-11 05:32] pixelzoom commented on #116
I have this working in my local copy.  I feel like I've done everything possible to use ObservableArray efficiently, including iterating over its raw array where possible.  But the performance is noticeably degraded, even on my latest-model MacBook Pro.   I could commit to a branch, but I'm not convinced that there's much point in doing that.  I'll sleep on it...

[2019-06-11 13:17] pixelzoom opened #117 "branch: observableArray116"
Related to #116.

This was an attempt to use ObservableArray for storing collections of Particles.   As noted in that issue, I feel like I've done everything possible to use ObservableArray efficiently, including iterating over its raw array where possible. But the performance is noticeably degraded, even on my latest-model MacBook Pro.

There are no plans to merge this branch into master; it's an

[2019-06-11 13:18] pixelzoom commented on #116
These changes will not go to master.  I've saved them temporarily in observable-array-116, with no plans to merge.

[2019-06-11 15:56] arouinfar commented on #60
Looks great @pixelzoom!

[2019-06-11 15:56] #60 closed

[2019-06-11 16:03] pixelzoom commented on #117
I published one-off [1.0.0-observableArray116.1](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-observableArray116.1/phet/gas-properties_en_phet.html) from this branch.

[2019-06-11 16:03] pixelzoom commented on #116
For posterity, I published one-off [1.0.0-observableArray116.1](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-observableArray116.1/phet/gas-properties_en_phet.html) from this branch.

[2019-06-11 16:04] pixelzoom commented on #116
So... I'm going to stick with plain old Arrays, and punt on ObservableArray.   Closing.

[2019-06-11 16:04] #116 closed

[2019-06-11 16:06] pixelzoom commented on #77
I experimented with using ObservableArray to store Particles, more details in In #116.  The performance was significantly compromised, so beware about going down that path when this sim is instrumented.

[2019-06-11 16:18] pixelzoom commented on #117
Might want to keep this branch around for if/when this sim is instrumented for PhET-iO, to demonstrate that using ObservableArray is not an option.

[2019-06-11 17:02] pixelzoom opened #118 "with sim paused, "Return Lid" button appears before sim has been moved"
If you blow the lid off with the sim paused, the "Return Lid" button appears before the lid has moved.  See screenshot below.

Steps to reproduce:
1. start the sim, go to Ideal screen
2. add 800 of each particle type
3. pause the sim
4. drag the containers resize handle to make the container smaller
5. the "Return Lid" button appears

<img width="939" alt="screenshot_1242" src="https://user-images

[2019-06-11 17:02] pixelzoom commented on #118
@arouinfar and I discussed this on Slack, and we decided that this was OK.

The alternative would be to wait until the lid has moved off of the container, then show the button.  But this may be a less desirable alternative, since then there will be no feedback that the lid has blown off when the sim is paused.

Closing as "won't fix".

[2019-06-11 17:03] #118 closed

[2019-06-11 17:53] pixelzoom opened #119 "dev testing"
This issue will summarize progress on dev testing.

[2019-06-11 17:54] pixelzoom commented on #119
[1.0.0-dev.38](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.38/phet/gas-properties_en_phet.html) built on 6/11/19.
Dev test issue https://github.com/phetsims/QA/issues/342

[2019-06-11 22:54] KatieWoe opened #120 "Should erase button be color other than grey?"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/342
I had two problems with the current eraser button.  First, the difference between it being clickable and not is rather hard to see.  Second, the grey image on a grey background can make it a bit hard to see what the button is.

**Screenshots:**
![notdifferen

[2019-06-11 23:39] veillette commented on #109
There author keeps track of TODO's in a text file. There are a handful of TODOs in the simulation but they are all being tracked in issue #108, #80, and #79., so there is no point is raising a separate issue.

[2019-06-11 23:46] veillette opened #121 "update copyright dates of modules"
The are a few modules that, although strictly speaking not under the purview of this code review  (#109), will need to be updated via grunt-copyright-dates.

[2019-06-12 00:28] veillette commented on #109
The preliminary code review was completed. There were only very minor issues.  Overall, the part of the simulation I reviewed was in excellent shape. Well done.

Some of the checkbox items were applied to the entire simulation rather than the few modules that were selected. In light of the review #111, I can contact @jbphet to avoid unnecessary duplication.

[2019-06-12 00:29] veillette commented on #109
Assigning to @pixelzoom

[2019-06-12 01:29] pixelzoom commented on #120
@KatieWoe thanks for reporting. The design issue for the erase button is https://github.com/phetsims/gas-properties/issues/91, and it was added fairly recently.  I believe that it started life as the standard "PhET yellow" button, which certainly stood out.  But then the goal became to make it purposefully not stand out. As you can see, we went through a number of colors before deciding on the cur

[2019-06-12 01:30] pixelzoom commented on #121
Thanks @veillette.  I will certainly update the copyright dates before the final code review.  And it's good to have this issue to remind me.  Unassigning until that time.

[2019-06-12 01:31] pixelzoom commented on #120
I'm also going to change the label on this from "bug" to "design:general", since it was a conscious design decision and the implementation matches the specification.

[2019-06-12 01:53] pixelzoom commented on #109
Thanks @veillette and @brandonLi8, the review is much appreciated.  I'll make a note in #111 to have the final reviewer take a look at this issue and contact you to compare notes and avoid duplication.

[2019-06-12 01:53] #109 closed

[2019-06-12 01:59] pixelzoom opened #122 "self code review"
This is the checklist that I'll go through myself before handing over for final code review in #111.

*Please mark failed items with* ❌

PhET code-review checklist
=============

## **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)

[2019-06-12 02:00] pixelzoom commented on #121
I ran `grunt update-copyright-dates` and pushed the changes.  I'm going to go ahead and close this issue.  I always for a "self review" with the code-review checklist (#122) that will remind me to run `grunt update-copyright-dates` again.

[2019-06-12 02:00] #121 closed

[2019-06-12 13:22] pixelzoom opened #123 "CT: value failed isValidValue (PressureGauge)"
Intermittent failure:

[code]

Relevant code is PressureGauge.step line 132:

[code]

`pressureKilopascalsProperty` and `pressureProperty` both have validators `isValidValue: value => ( value >= 0 )`.   So `noise` must be negative.   The computation of `noise` is supposed to handle this exact case,  but this points to a potential logic bug.

Here's the code in PressureGauge that computes `noise`:

[2019-06-12 15:35] KatieWoe opened #124 "Negative pressures and assertions failed"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/342
When there is a small number of particles it is possible for the pressure reading to be negative.  I was unable to find a physical reason for this.  When looking at the debug version I do not see this negative pressure, but an assertion failed error shows up

[2019-06-12 15:39] pixelzoom commented on #124
Thanks @KatieWoe.  This is a duplicate of https://github.com/phetsims/gas-properties/issues/123, which was created this morning.  If you disagree, feel free to reopen.

[2019-06-12 15:40] pixelzoom commented on #124
Actually...  This issue is more useful than #123, because it includes steps to reproduce manually (thanks @KatieWoe!)   So I'm going to close #123 and track the problem in this issue.

[2019-06-12 15:41] pixelzoom commented on #124
Removing @arouinfar assignment because this is an implementation bug, nothing wrong with design.

[2019-06-12 15:42] pixelzoom commented on #123
#124 is a duplicate of this issue, but contains more information.  So closing this issue and tracking in #124.

[2019-06-12 15:42] #123 closed

[2019-06-12 15:49] arouinfar commented on #120
Thanks @KatieWoe, and thanks for the explanation @pixelzoom.

The button is gray so that it doesn't draw too much attention to itself. We have previously used an even lighter gray erase button for a similar purpose in Unit Rates, which had no flow issues in interviews.
![image](https://user-images.githubusercontent.com/8419308/59365746-4e98f000-8cf6-11e9-9a2f-b0d366ff43ac.png)

@KatieWoe as a part

[2019-06-12 15:49] #120 closed

[2019-06-12 18:25] KatieWoe opened #125 "container width in Ideal screen should not be updated until endDrag"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/342
If there is a code reason for this, or it has already been discussed, feel free to close.  When the wall is being moved in the Ideal screen, all of the particles freeze, and move to new positions when you let the wall go.  However, if you drag the wall past

[2019-06-12 19:35] etwa4650 opened #126 "Part of lid sometimes appears on the corner of box in Explore screen"
For https://github.com/phetsims/QA/issues/342

  <b>Operating System</b>

 Mac 10.4.5

  <b>Browser</b>

  Chrome 75.0.3770.80

  <b>Problem Description</b>

  In the Explore screen, if the lid has blown off, when you attempt to change the volume of the container with the lid still gone, sometimes the lid handle will appear in the top left corner of the container and spin around. The lid will fly

[2019-06-12 19:36] KatieWoe opened #127 "Too short max width for scale and stopwatch checkbox labels"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/342
The scale and stopwatch strings seem to have max widths that are too small on the diffusion screen.
**Steps to reproduce:**
1. Go to diffusion screen with stringTest=long

**Screenshots:**
![veryshort](https://user-images.githubusercontent.com/41024075/59380

[2019-06-12 20:08] arouinfar commented on #127
@pixelzoom can you increase the `maxWidth` of "Scale" and "Stopwatch" to match the other strings?

[2019-06-12 20:10] arouinfar commented on #126
Nice find @etwa4650!

@pixelzoom looks like this could be related to #93.

[2019-06-12 20:58] etwa4650 opened #128 "Particles can be permanently stuck in container; Temperature can be infinitely increased"
For https://github.com/phetsims/QA/issues/342

  <b>Operating System</b>

Mac OS 10.14.5

  <b>Browser</b>

Chrome 75.0.3770.80

  <b>Problem Description</b>

  Following the steps below, you can create a situation in which particles are trapped in the container, which allows you to infinitely raise temperature and pressure. With a high enough temperature you can then release all particles into th

[2019-06-12 21:16] KatieWoe opened #129 "update histograms and Average Speed when container is emptied"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Firefox (and chrome)
**Problem description:**
For https://github.com/phetsims/QA/issues/342
I noticed that the speed histogram stays present longer than anything else after the Energy screen is restarted.
**Steps to reproduce:**
1. Go to Energy screen
2. Release particles
3. Hit orange reset button

**Screenshots:**
![abitlate](https:

[2019-06-12 22:06] lmulhall-phet opened #130 "Button spacing too close on iOS"
For https://github.com/phetsims/QA/issues/342.

The spacing for the radio buttons and the pause/play button looks too close. Can the spacing be changed?

![issue](https://user-images.githubusercontent.com/31285590/59389557-d77e4e80-8d2b-11e9-97e1-28adfc4546f7.PNG)

[2019-06-12 22:08] KatieWoe opened #131 "Does the lid come off too early"
For https://github.com/phetsims/QA/issues/342
Very small design issue.  Seems like it would be more difficult than it is worth to fix.  Sometimes the lid comes off when no particles are near said lid.  Pressure is registered as enough to blow the lid off, but particles haven't reached that point.  This can look a bit odd in some situations.
To Reproduce:
1. Go to the first screen
2. Make container

[2019-06-12 22:30] pixelzoom commented on #127
Yep, planning on it.

[2019-06-12 22:33] pixelzoom commented on #129
If the Kinetic Energy histogram stayed expanded, you'd see that it clears at the same time as the Speed histogram.  This is because while the sim is running (not paused), the histograms update on a refresh interval.   @arouinfar shall we leave "as is", or should I change that so that the histograms update immediately whenever container becomes empty?

[2019-06-12 22:36] pixelzoom commented on #130
I'm see much more vertical space on the platforms that I'm testing on, see macOS + Chrome screenshot below.  @lmulhall-phet please provide troubleshooting info that identifies OS and browser.  I suspect that this is on a platform where the fonts  sizes are taller, making the entire panel taller.

Note to self: The solution for this is to set `maxHeight` for the control panel.

<img width="980" alt

[2019-06-12 22:37] pixelzoom commented on #131
The lid blowing off is related to pressure, no where the particles are located.  If we want it to blow off only when there are particle collisions, that's very problematic.  @arouinfar please advise.

[2019-06-12 22:52] pixelzoom commented on #125
Looks like a bug to me.

[2019-06-12 22:53] pixelzoom commented on #126
Cool. Definitely a bug.

[2019-06-12 22:55] KatieWoe commented on #126
This can be seen a bit easier on the intro screen since you can move the container when paused and use step through.

[2019-06-12 22:56] arouinfar commented on #131
Thanks for reporting @KatieWoe, but there's nothing to be done here. The lid blows when the pressure gauge maxes out, and the pressure gauge doesn't know anything about the distribution of the particles throughout the container.

[2019-06-12 22:56] #131 closed

[2019-06-12 22:58] pixelzoom commented on #128
Thanks for finding this. There's some weird stuff in that video, I'll investigate.

[2019-06-12 22:59] arouinfar commented on #125
@pixelzoom it looks the the pressure is being updated in the model while container handle is being moved. Perhaps the pressure should instead be updated on `endDrag`?

![pressureneedle](https://user-images.githubusercontent.com/8419308/59385295-44401b80-8d21-11e9-85aa-ac0d91015df0.gif)

[2019-06-12 23:00] arouinfar commented on #128
@pixelzoom I'm not entirely sure if this is a bug or not. Seems to me like an interesting edge case, but still worth looking into.

[2019-06-12 23:01] pixelzoom commented on #125
@arouinfar I don't think that's the cause of this problem, sounds more like a different requirement for when paused.  OK to move https://github.com/phetsims/gas-properties/issues/125#issuecomment-501484679 to its own issue?

[2019-06-12 23:03] arouinfar commented on #125
Sure, please do!

[2019-06-12 23:04] arouinfar commented on #129
Thanks @KatieWoe.

@pixelzoom I think it looks a bit strange for the histograms to linger. If it's a straightforward change, please update them immediately when the container is emptied.

[2019-06-12 23:09] pixelzoom opened #132 "update pressure on endDrag in Ideal screen"
@arouinfar reported (originally in https://github.com/phetsims/gas-properties/issues/125):

![pressureneedle](https://user-images.githubusercontent.com/8419308/59385295-44401b80-8d21-11e9-85aa-ac0d91015df0.gif)

[2019-06-12 23:10] arouinfar commented on #130
Oh joy, looks like another case of https://github.com/phetsims/wave-interference/issues/326.

@pixelzoom you'll probably end up needing to reduce the vertical padding between the UI components in the panel. I trust your judgement, but happy to advise which pixels to cut out if you'd prefer to go that route.

[2019-06-12 23:11] arouinfar commented on #130
Interestingly, I didn't notice any layout issues when testing on iPad/Chromebook in https://github.com/phetsims/gas-properties/issues/98#issuecomment-500497481.

[2019-06-12 23:12] pixelzoom commented on #129
Will do. Not straightforward, but relatively easy.  And it feels like a good change.

[2019-06-12 23:14] pixelzoom commented on #130
There's no need (in general) to reduce the vertical spacing, font sizes, or anything else.  If we just set `maxHeight` on panels, then those panels (and everything in them) will be uniformly scaled.  Fonts will become effective the same height as on other platforms.  Everything else will scale down, but negligibly.

[2019-06-12 23:16] pixelzoom commented on #130
@arouinfar said:

@lmulhall-phet is this indeed on Chromebook?  (Useful to have the troubleshooting info regardless.)

[2019-06-12 23:38] arouinfar commented on #130
@pixelzoom the issue title says iOS (the `wave-interfernce` issue was Chromebook) but it would be good to know which device(s) @lmulhall-phet.

[2019-06-13 15:52] KatieWoe opened #133 "Inconsistent layering of the stopwatch"
**Device**
Chadwick
**OS**
ChromeOS (and others)
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/342
What the stopwatch is in front of and behind varies by screen and some of the results can look quite odd.  On the Ideal and Explore screens it is in front of everything.  On the Energy screen it is behind the tool and accordion boxes.  On the Diffusion screen it

[2019-06-13 16:06] pixelzoom commented on #130
Ah sorry, I missed the "iOS" in the issue title. I'm used to looking for specifics in the Troubleshooting info (which should be part of any QA issue).

[2019-06-13 16:09] pixelzoom commented on #133
Thanks, should be easy to adjust.

[2019-06-13 17:00] pixelzoom commented on #133
This is fix in master, @KatieWoe please review.  If it looks OK, please change issue status to "fixed-awaiting-deploy".

[2019-06-13 17:04] pixelzoom commented on #127
Fixed in master, see screenshot below. @KatieWoe please verify in master.

<img width="349" alt="screenshot_1245" src="https://user-images.githubusercontent.com/3046552/59452472-05ff3680-8dcb-11e9-9eb2-5ccaa845ccf4.png">

[2019-06-13 17:15] pixelzoom commented on #130
Fixed in the above commit. @lmulhall-phet please verify in master.  If it looks OK, please change this issue to "status:fixed-awaiting-deloy".

[2019-06-13 17:19] pixelzoom commented on #126
Reproduced with steps in https://github.com/phetsims/gas-properties/issues/126#issue-455387636, but in Ideal screen.

Typically, resizing the container causes the lid size to be adjusted.  This should be skipped when the lid is off the container.   That's currently not the case, and it's what's causing the problem.

[2019-06-13 17:25] pixelzoom commented on #126
Fixed in master. @etwa4650 please verify.  If it looks OK, please change this issue to "status:fixed-awaiting-deploy".

[2019-06-13 18:17] KatieWoe commented on #133
Looks good

[2019-06-13 18:23] KatieWoe commented on #127
Looks good.  But I did notice the other three screens might have a similar issue:
![maybeheretoo](https://user-images.githubusercontent.com/41024075/59457542-d86bba80-8dd5-11e9-9e42-31a18c673413.png)
@arouinfar to decide

[2019-06-13 18:23] pixelzoom commented on #129
Changed in master.  When the container becomes empty, the histograms now update immediately.  @KatieWoe please verify in master.  If OK, change this issue to "status:fixed-awaiting-deploy".

[2019-06-13 18:25] pixelzoom commented on #127
I don't think this will be an issue in practicer. But I'll use uniform maxWidth in the other screens too.  Self-assigning.

[2019-06-13 18:30] KatieWoe commented on #129
Looks good

[2019-06-13 18:40] pixelzoom commented on #127
Each screen now uses a uniform `maxWidth` for checkbox text labels, see screenshots below with `?stringTest=long`.  @KatieWoe please review in master.

Ideal:

<img width="231" alt="screenshot_1246" src="https://user-images.githubusercontent.com/3046552/59458716-4618e600-8dd8-11e9-9eb3-8ca2dce1ea61.png">

Explore:

<img width="234" alt="screenshot_1247" src="https://user-images.githubusercontent.c

[2019-06-13 18:42] pixelzoom commented on #126
Looks like you reviewed @etwa4650. Thanks.

[2019-06-13 18:43] KatieWoe commented on #127
Looks good on master

[2019-06-13 18:57] pixelzoom commented on #125
@KatieWoe I'm not clear on what you mean by "the wall is dropped without input".  Do you mean the interaction with the wall's resize handle is canceled when the lid blows off?  If so...

That is the desired behavior; when the lid blows off, any interaction with the container (resize handle or lid) is canceled.  @arouinfar do you agree, or do want to change this?

[2019-06-13 18:58] pixelzoom commented on #125
@KatieWoe I'm not clear on what you mean by "the wall is dropped without input". Do you mean the interaction with the wall's resize handle is canceled when the lid blows off? If so...

That is the desired behavior; when the lid blows off, any interaction with the container (resize handle or lid) is canceled. @arouinfar do you agree, or do want to change this?

@pixelzoom edit: FYI, it would be tri

[2019-06-13 19:00] KatieWoe commented on #125
Interaction is canceled when the lid blows off.  The thing that seemed like a bug to me was the lid blowing off before you'd decided what size the container should be and let go.  Since the gas basically pauses and restarts in a slightly new configuration when the wall is dropped and not before I thought this behavior was inconsistent.

[2019-06-13 19:01] pixelzoom commented on #125
Thanks for the clarification @KatieWoe.

[2019-06-13 19:01] pixelzoom commented on #125
Thanks for the clarification @KatieWoe.  Now I see that this is in fact related to #132.

[2019-06-13 19:12] pixelzoom commented on #125
Moving #132 back into this issue.

@arouinfar said:

![pressureneedle](https://user-images.githubusercontent.com/8419308/59385295-44401b80-8d21-11e9-85aa-ac0d91015df0.gif)

[2019-06-13 19:15] pixelzoom commented on #125
So... What we want to do here is not as simple as "pressure should instead be updated on `endDrag`.  What we want to do is wait until `endDrag` to update the container width in the model.    And I do think that's the right thing to do.  Based on an initial investigation, this is going to require a significant code change.

[2019-06-13 19:15] pixelzoom commented on #132
Moving this back into https://github.com/phetsims/gas-properties/issues/125.

[2019-06-13 19:15] #132 closed

[2019-06-13 19:28] KatieWoe opened #134 "Particles outside of box remain when erase button is used"
**Device**
Chadwick
**OS**
ChromeOS
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/342
Less of a full bug and more of a graphical oddity.  When particles leave the box the become non-interactive (they don't bump into each other etc.) and this prevents them from falling back into the box.  However, when you click the erase button, only the particles in the box

[2019-06-13 19:32] pixelzoom commented on #134
This is behaving as specified, see https://github.com/phetsims/gas-properties/issues/91:

@arouinfar would you like to change this so that it deletes _all_ particles, not just those in the container?  It will be < 30 minutes of work.

[2019-06-13 21:05] arouinfar commented on #134
I think it would look cleaner to delete all of the particles, and the time estimate seems reasonable, so please make this change @pixelzoom.

[2019-06-13 21:37] pixelzoom commented on #124
Fixed in above commit.  @KatieWoe please verify in master.

[2019-06-13 21:45] pixelzoom commented on #134
The erase button now removes all particles, both inside and outside the container. @KatieWoe @arouinfar please verify in master.

[2019-06-13 21:50] KatieWoe commented on #134
Looks good in master to me.

[2019-06-13 21:52] pixelzoom commented on #134
Thanks @KatieWoe.

@arouinfar if it looks good to you, please unassign and change label to "status:fixed-awaiting-deploy".

[2019-06-13 21:55] KatieWoe commented on #124
This looks good in master

[2019-06-13 22:01] arouinfar commented on #134
Looks good to me too, thanks @pixelzoom.

[2019-06-13 22:08] pixelzoom commented on #125
@arouinfar The lid handle is currently disabled while dragging the container's resize handle.  But I think we'll also need to disable the "Return Lid" button while the resize handle is being dragged, since the container being shown is the proposed container, not the actual container.  Does that sound acceptable?

[2019-06-13 22:09] arouinfar commented on #125
Yes, that sounds reasonable to me @pixelzoom.

[2019-06-13 22:16] pixelzoom commented on #128
@arouinfar Most of this seems explainable to me. I see how the temperature can get huge with a single particle.  And I can see how a particle can get stuck bouncing between the top and bottom walls of the container.  What I don't understand is what happens at 2:11 in the video, where a bunch of particles are added and they all get stuck bouncing between the top and bottom walls of the container.

[2019-06-13 23:36] pixelzoom opened #135 "performance degrades with ?ea&brand=phet"
Related to dev test phetsims/QA#342

@etwa4650 reported on Slack:

Ethan Ward [11:58 AM]
I noticed that the performance in master seemed to be noticably worse, but when I removed the query parameter ?ea&brand=phet it performed like normal. Is that expected?

Chris Malley [5:34 PM]
Not expected, thanks for reporting that. I’ll create an issue.

[2019-06-13 23:37] pixelzoom commented on #135
@etwa4650 did you notice this on a specific platform, or all platforms?

[2019-06-13 23:51] pixelzoom commented on #135
@etwa4650 could you also try removing `?ea` and `?brand=phet` separately, to determine which one is responsible for performance degradation?  I suspect it's `?ea` that cause things to run slower, since there are many assertions enabled, some of which involve additional iterations over the entire set of particles to do validation.

[2019-06-14 03:13] pixelzoom commented on #79
I've made a first pass at model.md, adding what I felt to be the highlights of the model. With a couple of exceptions, I've purposely avoided using specific value (e.g "the container is 4000 pm deep") because those details are in the code, and could change, making the document out-of-sync.

@arouinfar please review, let me know what you'd like to add/subtract/modify.

[2019-06-14 19:40] arouinfar commented on #128
Thanks @pixelzoom. When talking about this issue with @etwa4650, I had seen the particles get stuck vertically oscillating at very high temps, but I hadn't seen the 2:11 behavior before. That certainly looks buggy, but I'm not sure how I could explain it.

@ariel-phet can you take a look at this issue?

[2019-06-14 19:41] arouinfar commented on #79
Nicely done @pixelzoom. The documentation is very thorough, and I cannot think of anything else to add.

[2019-06-14 19:41] #79 closed

[2019-06-14 19:47] pixelzoom commented on #128
Perhaps it's related to the extreme temperature.  But I don't see how particles would immediate oscillate when they are added to the container.  The range of the initial velocity angle shouldn't permit that.

[2019-06-14 19:55] arouinfar commented on #128
Exactly my thoughts @pixelzoom.

[2019-06-14 21:59] pixelzoom commented on #80
Done. Feedback will be given by code reviewer as part of #111.  Closing.

[2019-06-14 21:59] #80 closed

[2019-06-14 22:31] pixelzoom commented on #128
I'm having a really difficult time reproducing this.  When I get to step 4 (blow the lid off), the single particle is going so fast that it exits the container through the lid before I can do step 5 (pause the sim). So the container becomes empty, pressure drops to zero, and there is no temperature.

[2019-06-15 20:06] pixelzoom commented on #128
I'm having a really difficult time reproducing this. When I get to step 4 (blow the lid off), the single particle is going so fast that it exits the container through the lid before I can do step 5 (pause the sim). So the container becomes empty, pressure drops to zero, there is no temperature, and the remaining steps don't work.

@etwa4650 any tips on how to get past step 4?

[2019-06-16 21:47] etwa4650 commented on #128
@pixelzoom Do not blow off the lid, raise the temperature as high as you can without blowing off the lid then you can pause.

[2019-06-16 22:14] pixelzoom commented on #128
Ah, thanks @etwa4650.  You even said that in your description - "(make sure lid does not blow off)".

[2019-06-17 01:59] pixelzoom commented on #128
Reproduced in 1.3.0-rc.1 and in master.  I'm can't explain this and I'm not sure what to do about it.  It seems like emergent behavior of the particle system, where some particles can get stuck oscillating between parallel walls (top/bottom or left/right).

@arouinfar @ariel-phet suggestions?

[2019-06-17 02:01] pixelzoom commented on #128
Reproduced in 1.3.0-rc.1 and in master.  I'm can't explain this and I'm not sure what to do about it.  I suspect that it's emergent behavior of the particle system, where some particles can get stuck oscillating between parallel walls (top/bottom or left/right), and won't collide with anything but the walls because their speed is so high that they will never intersect other particles.

@arouinfar

[2019-06-17 03:08] pixelzoom opened #136 "lid gets out of sync with container width"
Related to dev test phetsims/QA#342.

Here's a little weirdness that I came across in while working on #128.  Discovered on macOS 10.14.5 + Chrome 75, but it's certainly the same on all platforms.

1. Start the sim, go to _Ideal_ screen.
2. Add 1000 heavy particles to the container.
3. Add 650 light particles to the container. (Do not blow lid off!)
3. Pause the sim.
4. Drag the container resize h

[2019-06-17 17:05] pixelzoom commented on #136
https://github.com/phetsims/gas-properties/commit/326c66273d52dcc09adbb1eea16262f8f724589b for #126 looks like a likely suspect.

[2019-06-17 17:12] pixelzoom commented on #136
In this case, the lid is actually NOT out of sync with the container.  It has been blown off (hence the "Return Lid" button), but hasn't moved because the sim is paused.   And while the lid is off the container, it is independent of the container width.  So while it looks odd, it's correct.

This belongs in the same category as what we discussed in https://github.com/phetsims/gas-properties/issues

[2019-06-17 17:13] arouinfar commented on #136
Agreed @pixelzoom. I'll go ahead and close as `type:wontfix`.

[2019-06-17 17:13] #136 closed

[2019-06-17 17:17] etwa4650 commented on #135
@pixelzoom
Looks like it is ?ea. Heres a video of what I am seeing, I am also on macOS 10.14.5 and Chrome 75.

https://drive.google.com/open?id=1eMjCpRj3klcXfRN8CGZyyrg5ebESMTxM

[2019-06-17 17:33] pixelzoom commented on #135
@etwa4650 Thanks for the video.  I'm not going to worry about this if it's only with `?ea`, because the sim is doing a lot of extra "verification" work while assertions are enabled.

But I do find it odd that you're seeing this on macOS 10.14.5 with Chrome 75, because that's my primary test platform, and I see no problem with `?ea` (which I run with all the time).  So a couple of questions:

* Wha

[2019-06-17 17:41] arouinfar commented on #128
I'm assuming you meant dev.38 or dev.39. :)

Ditto. I can't come up with a reasonable explanation for the 2:11 behavior since incoming particles would have a variety of velocity directions.

That said, it seems like enough of an edge case that I'd be comfortable with deferring this issue, but let's see what @ariel-phet has to say.

[2019-06-17 17:53] etwa4650 commented on #135
@pixelzoom
Its not one of our test machines it's my personal device.

<img width="584" alt="Screen Shot 2019-06-17 at 11 45 12 AM" src="https://user-images.githubusercontent.com/26493147/59624982-6e188a00-90f5-11e9-856c-beb6ac03a2e8.png">

I tried testing with all my chrome extensions disabled and did not notice any improvment.

[2019-06-17 17:54] pixelzoom commented on #128
1.0.0-dev.38  (Sorry,  1.3.0-rc.1 is ph-scale, which I'm working on at the same time.)

[2019-06-17 17:55] pixelzoom commented on #135
Thanks @etwa4650.  Still can't explain why you and I see different `?ea` performance on similar platforms.  But I'm not going to spend more time on this since it's with `?ea`.  Thanks for reporting, closing.

[2019-06-17 17:55] #135 closed

[2019-06-17 18:03] pixelzoom commented on #128
The only thing that I can think of is a workaround that goes something like this:  When a particle collides with a wall, detect whether it had collided with the opposite (parallel) wall on the previous time step.  If it had, then make a small random adjustment to its velocity angle.  Hopefully this would break up the oscillation.  No idea how difficult this would be, or what impact on performance

[2019-06-18 00:49] pixelzoom commented on #135
@etwa4650 My MacBook Pro is the latest model, with a bit faster processor, more RAM, and faster graphics card than yours (see below). So perhaps that's why I don't see a performance issue with `?ea`.

![screenshot_1257](https://user-images.githubusercontent.com/3046552/59645681-793cdb80-9130-11e9-85c7-6f2b71a627aa.jpg)

[2019-06-18 17:29] ariel-phet commented on #111
@pixelzoom @jbphet Kathy agreed that @jbphet is appropriate for the code review.

Kathy is asking for a "no cost extension" for the grant related to Numberline on Friday June 21, As long as she does not hear no, which is quite unlikely, JB has the greenlight. So feel free to hop on the review the week of June 24 unless told otherwise.

[2019-06-19 03:28] ariel-phet commented on #128
@pixelzoom @arouinfar this issue makes me think we should have a new label that is something like "nominated for the @phet-steele memorial prize for bug identification" and at the end of the year we collect such bugs, and actually award the prize (maybe Steele has ideas for the award...)

But more seriously, awesome work @etwa4650 in identifying and giving reproducible steps, pretty impressive!

I

[2019-06-19 03:29] ariel-phet commented on #128
Assigning to @pixelzoom if he also wants to just close or discuss an oops dialog solution

[2019-06-19 16:54] jbphet commented on #111
Understood, and thanks for the update.  Note that I'm partially out and working sporadically for the week of June 24th as noted in previous status reports, so I'll do what I can when I can.

[2019-06-20 22:08] veillette opened #137 "consider adding FixedWidthNode to common code"
FixedWidthNode is used more than 10 times in the simulations.  Many simulations have It is a very useful idea for Panel, AccordionBox , etc, that need to be of the same width. This is a design requirement that is rather widespread and found in multiple simulations.

It is also useful for panels /accordion box that need to have the same width from one screen to the other but may have slightly diffe

[2019-06-21 13:26] pixelzoom commented on #111
@ariel-phet said:

That's may be a tad premature.   I haven't completed #122 (self code review), and #125 is going to require some significant changes to the container view.   That said, I feel like the code is overall in a good state, and both model.md and implementation-notes.md are done.  So feel free to proceed if you don't mind having some changes take place after code review.

[2019-06-21 13:39] pixelzoom commented on #137
I'm fine with moving `FixedWidthNode` to a common repo (scenery-phet?)

But as noted in the doc for `FixedWidthNode`:

 * they do not handle container margins, and their width is dictated by the largest component vs a specified width.

So we might need to have a dev discussion about the types of problems that AlignBox/AlignGroup solves, and why it's not working out for other types of problems.  In

[2019-06-21 13:45] pixelzoom commented on #130
@lmulhall-phet or @KatieWoe ping.

[2019-06-21 14:29] pixelzoom commented on #122
Done, closing.

[2019-06-21 14:29] #122 closed

[2019-06-21 14:30] pixelzoom commented on #111
I blazed through #122 (self code review).  And I've added TODO comments to code that may change to address #125.   So feel free to proceed with final code review.

[2019-06-21 14:45] pixelzoom commented on #128
I suggested the workaround in https://github.com/phetsims/gas-properties/issues/128#issuecomment-502789824.

@ariel-phet suggested:

@ariel-phet also suggested:

@arouinfar do you have any preference here?

[2019-06-21 17:51] veillette commented on #137
I'm not wedded to FixedWidthNode but the functionality of having a nodes with fixed width is very convenient and is often a requirement of the design team.

I agree that we should get this issue on the developer meeting agenda.

[2019-06-22 21:11] brandonLi8 commented on #137
Update @veillette, Vector Addition no longer uses `fixedWidthNode`. Panels support a minWidth/ maxWidth and I used alignBox on the `vectorCreatorPanel` to set both a fixed width and a fixed height.

[2019-06-24 00:53] pixelzoom commented on #137
Thanks for the update @brandonLi8.

Since gas-properties is still the only sim to be using this, I don't think there's any urgency to moving this to common code.  PhET typically moves things to common code when a second sim needs something.  And this is certainly not a prerequisite to publishing 1.0.0.

Still happy to have a dev meeting discussion about the general feature.

[2019-06-24 00:57] pixelzoom commented on #137
@brandonLi8 said:

I guess I could also investigate using `Panel` in place of `FixedWidthNode`, although putting a `Panel` inside of an `AccordionBox` seems odd.

[2019-06-26 02:03] pixelzoom commented on #128
I'm not too keen about the options that involve a non-physical workaround, I think they could get us into trouble in other ways.  So I'm leaning towards putting a cap on temperature, with an Oops dialog.  But I'm not sure what a reasonable cap would be (100000 K?), what the message should say, and what should happen as a result.  @ariel-phet @arouinfar thoughts?

[2019-06-26 14:52] KatieWoe opened #138 "CT invalid dt:0"
[code]

[2019-06-26 21:29] arouinfar commented on #128
@pixelzoom @ariel-phet I would rather not to mess with the physics, so I'd also prefer an Oops dialog. I think 100000 K seems like a reasonable cap, and I think we'd want to to reset the container which I think would include:
* Clearing all particles from the container (like erase button)
* Returning lid (if off)
* Setting Hold Constant to Nothing (necessary since we're emptying the container)

I

[2019-06-26 23:44] pixelzoom commented on #128
Sounds reasonable to me.

[2019-06-27 00:23] pixelzoom commented on #130
@lmulhall-phet or @KatieWoe ping.

[2019-06-27 02:07] pixelzoom commented on #128
Since @ariel-phet is out for a bit, I took the liberty of proceeding with @arouinfar's suggestion in https://github.com/phetsims/gas-properties/issues/128#issuecomment-506052574.

Here's what has been added to master:

* `maxTemperature` query parameter, default `100000` K.  Use this to more quickly reach the maximum temperature, or to fine-tune the default value.

* When `maxTemperature` is reach

[2019-06-27 12:20] pixelzoom commented on #137
I made an attempt at replacing FixedWidthNode with AlignGroup and AlignBox.  It seemed like it would be doable, but it was much more complicated and less obvious about what was going on.  And I had to start doing "clever" things to get horizontal separator to fill the full width.  I think it's much clearer to be able to say "I want my content to always be this wide".   So I reverted.

[2019-06-27 12:24] #119 closed

[2019-06-27 12:40] pixelzoom opened #139 "CT: invalid speed: NaN"
Seen once in CT:

[code]

[2019-06-27 12:41] pixelzoom commented on #139
The relevant code is in `ParticleSystem`:

[code]

My guess is that `temperatures[ i ]` is (for some reason) invalid.  I'll add an assert to validate `temperatures` values where they are computed.

[2019-06-27 14:39] KatieWoe commented on #130
Sorry @pixelzoom I think this got lost in my email last time.  On it.

[2019-06-27 15:24] KatieWoe commented on #130
Checked on iPad iOS 11.4.1 and iPhone 7 iOS 12.3.1.
Looks good on both.

[2019-06-27 16:24] samreid commented on #138
I recall leaving `stepSimulation(0)` open as a possibility in case some simulation needs to run initialization via `stepSimulation(0)` before time starts passing.  In retrospect, it seems odd that a simulation may need that facility and I would recommend investigating putting `dt > 0`.  For me, this would mean checking `dt > 0` instead of `dt >= 0` and checking through sims to see if any of them h

[2019-06-27 17:56] pixelzoom commented on #138
That sounds reasonable.

This will need to be resolved before gas-properties begins RC testing.  Shooting for week of July 8.

[2019-06-27 18:55] arouinfar commented on #128
@pixelzoom this is all looking really nice in master. I think a `maxTemperature` of 100000 is sufficiently large that most students will never encounter the dialog, but still low enough to avoid the buggy-looking behavior originally reported by @etwa4650.

[2019-06-27 19:27] samreid commented on #138
@jonathanolson remarked that `step( 0 )` is called a few places in our code and seems reasonable.  Therefore we will change Sim.js to send out strictly >0, but we will allow sims to internally `step(0)` if necessary.

[2019-06-27 19:28] samreid commented on #138
Leaving self-assigned to make the change in Sim.js

[2019-06-27 19:28] samreid commented on #138
Proposed fix committed, @pixelzoom can you please review?

[2019-06-27 23:22] pixelzoom commented on #128
Thanks @arouinfar.

Since @ariel-phet suggested this approach, I doubt that he'll have an issue with it, though he may have suggestion on specific.  So @ariel-phet please weigh in before this goes back to QA for verification.

[2019-06-27 23:25] pixelzoom commented on #138
In https://github.com/phetsims/gas-properties/issues/138#issuecomment-506416605, @samreid said:

From https://github.com/phetsims/gas-properties/issues/138#issuecomment-506479347, it looks like the check for `step(0)` was done.  But was anything done to check for sim with "incorrect startup configurations"?

[2019-06-28 04:12] samreid commented on #138
Testing on Mac Chrome, I'm seeing the first call to `stepOneFrame` passing through `dt` approximately equal to 1/60, as expected.  I'm no longer sure we need to check initial configurations.  I can't see how `stepSimulation(0)` may be happening on some platforms and somehow correcting the initial configuration (but not on others).  I'm happy to close the issue if there's nothing else, or let me kn

[2019-06-28 13:42] pixelzoom commented on #138
Thanks for the clarification. Closing.

[2019-06-28 13:42] #138 closed

[2019-06-28 14:32] pixelzoom commented on #137
@veillette said:

There are a couple of things that `FixedWidthNode` currently does not support:
* dynamic `content` bounds (would require updating alignment on bounds change)
* additional children other than `content` (it assumes that `content` is its only child)

[2019-06-29 18:49] jbphet commented on #111
I'm starting on this.  Due to current circumstances, my time is a bit chopped up, so it may take a few days of just getting to it when I can.

[2019-06-30 18:19] ariel-phet commented on #128
@pixelzoom @arouinfar all seems good to me

[2019-07-01 17:06] jbphet commented on #111
For reference, here is a screenshot with the heap snapshot values recorded during memory leak testing.  I used the built debug version (as prescribed in the checklist above), and took snapshots every minute for 10 minutes.  The memory usage was increasing, but only by a very small amount, and the amount of memory usage is well within limits.  This is also consistent with what I've seen testing oth

[2019-07-01 17:07] jbphet commented on #111
In the checklist, @pixelzoom added the comment:

I concur with this.

[2019-07-02 21:23] pixelzoom commented on #34
Reopening.

@samreid in the above comment, you reported that you deleted both `piccolo2d/swt` and ``piccolo2d/swt-examples`.   But I still see `piccolo2d/swt-examples` in Unfuddle SVN, see screenshot below.   This is causing build problems for a 3rd party who contacted my directly, which prompted me to poke around.

Do you want to take another stab at deleting `piccolo2d/swt-examples`?

<img width

[2019-07-02 21:29] pixelzoom commented on #34
Ah...  I see that you actually deleted `piccolo2d/swt` and `piccolo2d/swt-examples/src`.   Any reason why you treated them differently?

[2019-07-02 22:13] pixelzoom commented on #111
@jbphet for this items:

You can get an overview of the number of lines of code per file by running:

`cd gas-properties/js; wc -l `find . -name "*.js" -print` | sort`

[2019-07-02 22:19] pixelzoom commented on #111
@jbphet for this item:

You can get an overview of the number of lines of code per file by running:

cd gas-properties/js; wc -l  \`find . -name "*.js" -print\` | sort

Expand this to see the output as of now (7/2/19 4:18PM):

<details>
<summary>Output</summary>

[code]

</details>

[2019-07-03 18:54] pixelzoom commented on #137
I've moved the general issue (how to create fixed-width panels) to https://github.com/phetsims/scenery/issues/985, and labeled it for discussion at developer meeting. If that issue gets addressed before Gas Properties 1.0.0 enters RC testing, then I'll replace `FixedWidthNode`.  If not, then I'll publish with `FixedWidthNode`.

[2019-07-03 19:35] jbphet commented on #111
While working through the checklist item "Is the code formatted according to PhET conventions?" I ran the IntellJ IDEA formatter, and it produced quite a number of small changes.  These mostly had to do with spacing.  I went ahead and committed these changes rather than log an issue or make notes about them.

[2019-07-03 19:43] pixelzoom commented on #111
Thanks @jbphet. Just for kicks, I did a "Reformat Code" in WebStorm after pulling your changes, just to make sure there are no differences in how WebStorm vs IntelliJ is handling PhET-style formatting. There were no changes, so all good.

[2019-07-05 16:39] pixelzoom commented on #111
@jbphet Re this "names" part of this checklist item:

There are a number of classes in this sim that are named using a "GasProperties" prefix.  For example:

[code]

Generally, these classes are related to the Ideal, Explore, and Energy screens, all of which are based on the Ideal Gas Law. (The Diffusion screen, as I'm sure you've noticed, is a different beast.)  The problems I have with the "GasP

[2019-07-05 20:30] jbphet commented on #111
In response to the previous comment, I like the idea of using the `IdealGasLaw` prefix, and making sure that the documentation makes it clear that the first three screens are all based on the ideal gas law and the third screen is not.  It will also be pretty clear from a basic examination of the code.  I definitely would vote against the prefix `IdealExploreEnergy` or the shortened `IEE` because i

[2019-07-05 21:07] pixelzoom opened #140 "change class name prefix from "GasProperties" to "IdealGasLaw""
Over in https://github.com/phetsims/gas-properties/issues/111#issuecomment-508812061 and https://github.com/phetsims/gas-properties/issues/111#issuecomment-508856201, @jbphet and I decided that prefix "IdealGasLaw" would be an improvement over "GasProperties" (e.g. `IdealGasLawModel` vs `GasPropertiesModel`).   I will make that change.

Rename:
- [x] `GasPropertiesModel`
- [x] `GasPropertiesContai

[2019-07-05 21:43] pixelzoom commented on #140
Done in above commit.  Below is a list of the remaining files that have "GasProperties" as a prefix.  None of these are specific to the Ideal Gas Law, and they are all specializations for the sim as a whole (even though some of them are not used in the Diffusion screen).

<img width="666" alt="screenshot_1271" src="https://user-images.githubusercontent.com/3046552/60746336-7b2dd980-9f3b-11e9-955f-

[2019-07-05 21:44] pixelzoom commented on #140
@jbphet ready for review as part of #111.

[2019-07-05 22:58] jbphet commented on #111
Note to self and @pixelzoom - there are TODOs in place at the time of this review for #125 and #137 that need to be addressed, and we will need to decide whether it is okay to publish with these in place.

[2019-07-05 23:06] jbphet commented on #111
In regard to the checklist item "Are pointer areas optimized, especially for touch?", @arouinfar approved the pointer areas in #97, but I'm a bit skeptical because in the past I've been asked to expand the touch areas for the open/close buttons on accordion boxes.  Here is what they look like for the current master version of "Gas Properties":

![image](https://user-images.githubusercontent.com/30

[2019-07-06 00:23] pixelzoom commented on #111
#125 is a prerequisites for publication.

#137 is addressed in https://github.com/phetsims/gas-properties/issues/137#issuecomment-508215888

[2019-07-06 00:29] pixelzoom opened #141 "touchAreas for AccordionBox ExpandCollapseButtons"
_@pixelzoom note: This comment from @jbphet was moved here from https://github.com/phetsims/gas-properties/issues/111#issuecomment-508877355, since I think it warrants its own issue._

@jbphet said:

In regard to the checklist item "Are pointer areas optimized, especially for touch?", @arouinfar approved the pointer areas in #97, but I'm a bit skeptical because in the past I've been asked to expan

[2019-07-06 00:32] pixelzoom commented on #141
Wow, those are some extremely dilated buttons touchAreas for the ExpandCollapseButtons in "Build An Atom".  I've never been asked to do anything like that. And my understanding is that the "standard" is the default in AccordionBox.  And if it's not, shouldn't it be? Why should every client have to change the default?

That said... @arouinfar Your call on this.

[2019-07-06 00:50] pixelzoom commented on #141
If we apply the same touchArea proportions used in BAA to Gas Properties, that would be `touchAreaXDilation: 15` and `touchAreaYDilation: 15`.  There will be problems with overlap, for example:

<img width="1089" alt="screenshot_1273" src="https://user-images.githubusercontent.com/3046552/60749321-59415080-9f55-11e9-8c8c-5f039d745cbe.png">

If you want to dilate a bit more than the default, then I

[2019-07-06 01:01] pixelzoom commented on #139
This hasn't occurred again in CT, and I have not been able to manually reproduce it.  I'll leave this open for a bit longer.

[2019-07-06 01:18] pixelzoom commented on #141
I said:

Since I made this code change to generate the above screenshot, I took a chance that this would be OK and committed it.   @arouinfar please have a look at master, let me know if you want this reverted or changed.

[2019-07-06 15:59] samreid commented on #34
I don't recall why I treated them differently.  I suspect it would be safe to delete `piccolo2d/swt-examples` as it now only contains a pom.xml file.  I tested this hypothesis by deleting `swt-examples` locally and testing that gas-properties still ran in the IDE.  So I'll go ahead and commit this deletion.  Here is the paper trail:

[code]

But I'm curious how the existence of swt-examples/pom.xm

[2019-07-06 17:01] pixelzoom commented on #34
👍 thanks, closing.

[2019-07-06 17:02] pixelzoom commented on #34
Sorry, just saw this question:

It turned out that his problem  is not related to this, but it sent us on a wild-goose chase.

[2019-07-06 17:02] #34 closed

[2019-07-08 17:26] pixelzoom commented on #137
Discussed with @jonathanolson on Zoom.

We agree that this functionality does not belong in AlignBox or AlignGroup -- they deal with alignment.  And AlignGroup does not address this problem.  You could effectively get the same behavior by adding an `HStrut` (to set min width) and setting AlignBox's `maxWidth`, but it's a little less obvious, and (in the case of Gas Properties) involves sharing an

[2019-07-08 17:26] #137 closed

[2019-07-08 18:06] arouinfar commented on #141
The extremely dilated touch areas in BAA stemmed from https://github.com/phetsims/QA/issues/295. At the time, AccordionBox titles were not interactive (see https://github.com/phetsims/sun/issues/502). Since the titles are now again interactive, I don't see a need to greatly dilate the touch areas of the ExpandCollapseButton, but a dilation of 6 looks good to me.

[2019-07-08 18:49] #141 closed

[2019-07-08 20:54] jbphet commented on #140
I verified that all files in the list above have been renamed, looked through the documentation updates, and scanned to code for references to the old file names.  It all looks good.  Closing.

[2019-07-08 20:54] #140 closed

[2019-07-08 21:47] jbphet opened #142 "Pressure changes when sim paused"
I noticed this while working on the code review in #111, and it is related to #11.  If the pressure is at zero and the sim is paused, adding particles in any of the first three screens does not cause the pressure to increase.  However, if the pressure is non-zero and the sim is paused, adding particles *does* cause the pressure to go up.  This is inconsistent at the least, but also seems physicall

[2019-07-08 21:48] jbphet commented on #142
Assigning to @arouinfar first to make sure that the behavior is not intentional for some reason.

[2019-07-08 22:20] jbphet commented on #111
Note: The reference to the issue "Translations will lose some strings..." just above is erroneous, I made a cut-and-paste error when creating that issue (which has been fixed in the issue itself).

[2019-07-08 22:26] jbphet commented on #111
Code review complete.  The code looks clear, concise, nicely structured, and well documented to me.  I've added a handful of `REVIEW` markers in the code and a couple of GitHub issues were spawned, all of which can be seen in the links above.  I also did some white-box testing, and everything looked good there (with the exception of the pressure question/issue linked above).

Note that there are s

[2019-07-08 23:34] arouinfar commented on #142
There are a few things at play here @jbphet. First, the pressure in the view is zero until the first particle-wall collision. Second, for a variety of reasons best described in #60 (particularly https://github.com/phetsims/gas-properties/issues/60#issuecomment-498858782 onwards), the model immediately updates when the sim is paused.

One of the learning goals for the sim is that pressure arises fr

[2019-07-09 04:18] pixelzoom commented on #111
Thanks @jbphet!

[2019-07-09 15:50] jbphet commented on #142
Sounds reasonable.  Closing.

[2019-07-09 15:50] #142 closed

[2019-07-09 21:57] pixelzoom opened #143 "address potential abuse of Particle subclasses"
In #111 (code review), @jbphet added the `REVIEW` comment shown below to `HeavyParticle`. A similar comment was added to `LightParticle`.  These particles types have fixed options that should not be overridden.

This also applies to `DiffusionParticle1` and `DiffusionParticle2`, although they have mutable mass and radius, so those options are fair game to override.

I'll investigate a better way t

[2019-07-09 23:32] pixelzoom commented on #143
I did not use a factory method approach to solve this problem.  That felt like more of a change than I wanted to make at this late in development, and I'm partial to the class hierarchy approach in this case.   So here's what I did in the above commits...

For `HeavyParticle` and `LightParticle`, it was unnecessary to provide options to the constructor, so I simply removed the `options` parameter.

[2019-07-09 23:35] pixelzoom commented on #111
@jbphet and I discussed all of the REVIEW comments except the one that spawned #143.  That issue is assigned to him for review.  So I'll go ahead and close this issue.

[2019-07-09 23:35] #111 closed

[2019-07-12 15:52] jbphet commented on #143
Looks good to me - seems like a reasonable approach.  Closing.

[2019-07-12 15:52] #143 closed

[2019-07-13 20:22] pixelzoom commented on #139
Appeared in CT for gases-intro, a derivative of gas-properties:

[code]

[2019-07-16 17:04] pixelzoom commented on #139
In the above commit, I added an assertion immediately following the speed computation in ParticleSystem `addParticles`:

[code]

[2019-07-17 02:40] pixelzoom commented on #30
We are resuming PhET-iO design for this sim, while it's fresh in our minds.  In preparation for a Thursday 7/18 design meeting, I have added tandems and metadata to the Gas Properties code base, so that you can explore using Studio.

Please play with version 1.0.0-dev.40 in Studio by visiting this link (password required):

https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.40/phet-io/

N

[2019-07-17 04:22] pixelzoom commented on #30
Here's a list of specific questions that I compiled while adding tandems.

- [ ] How to save/load state? What state needs to be saved?

- [ ] Which model classes should `extend PhetioObject` and set `phetioState: false` in order to add `phetioDocumentation`?

- [ ] Does anything about the pump or its radio buttons need to be instrumented?

- [ ] How to prevent client from setting `container.widthP

[2019-07-17 18:12] pixelzoom commented on #125
When the user adjusts the container width while the sim is paused, the model no longer updates.  This has been addressed in master and [1.0.0-dev.41](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.41/phet/gas-properties_en_phet.html).  @arouinfar and @KatieWoe please verify.  The last one to verify can please label this issue as "fixed-awaiting-deploy".

[2019-07-17 18:30] KatieWoe commented on #125
Intro screen behavior in this case looks good on master to me.  Not sure why, but it did seem like the particles were a bit more jumpy/laggy than before.

[2019-07-17 18:31] pixelzoom commented on #125
Yes, PhET-iO instrumentation seems to have negatively impacted behavior.  I thought it might just be my imagination, but good to know that someone else has noticed it who wasn't aware that instrumentation had occurred.  I will open an issue.

[2019-07-17 18:32] pixelzoom commented on #125
Also 1.0.0-dev.41 still has a problem.  If you pause the sim, then resize the container, things don't update when your release the container's handle.  That is addressed in [1.0.0-dev.42](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.42/phet/gas-properties_en_phet.html).

[2019-07-17 18:37] pixelzoom opened #144 "PhET-iO instrumentation has negatively impacted performance"
While verifying an unrelated issue, @KatieWoe commented in https://github.com/phetsims/gas-properties/issues/125#issuecomment-512514473

I thought it might just be my imagination - after I added tandems and some metadata for #30 yesterday, it seems like things are not running as smoothly.  Good to know that someone else has noticed it who wasn't aware that instrumentation had occurred.

The first

[2019-07-17 18:42] pixelzoom commented on #144
@KatieWoe can you verify whether performance appear to be impacted in the built version?  You can compare [1.0.0-dev.39](https://bayes.colorado.edu/dev/html/gas-properties/1.0.0-dev.39/phet/gas-properties_en_phet.html) (before instrumentation) to [1.0.0-dev.40](https://bayes.colorado.edu/dev/html/gas-properties/1.0.0-dev.40/phet/gas-properties_en_phet.html).

[2019-07-17 18:59] pixelzoom commented on #144
Also beware that there is no baseline dev version that was published immediately before adding PhET-iO code (kicking myself for not doing that). So there were a few changes in 1.0.0-dev.40 that are not related to instrumentation.   I'm going to investigate how to go back and create a baseline version for a snapshot immediate before instrumentation started.

[2019-07-17 19:30] KatieWoe commented on #144
There's no real difference shown by the ?profiler parameter.  They both hover in the mid-thirties under the situation I was reproducing, and sometimes jump down to ~7 before jumping back up after a second.  Didn't see any performance difference I could precisely pinpoint either.

[2019-07-17 19:38] pixelzoom commented on #144
@KatieWoe what "the situation that you are producing"?

[2019-07-17 19:51] pixelzoom commented on #144
Here's the situation that I'm using to test performance:

1. Start the sim with `?profiler`
2. Go to the Ideal screen.
3. Open the Particles accordion box.
4. Add >= 500 heavy particles using the coarse spinner.
5. Immediately add >= 500 light particles using the coarse spinner.

Built versions 1.0.0-dev.39 and 1.0.0-dev.40 both run at 60fps, and there's no perceptible difference in smoothness.

R

[2019-07-17 19:52] KatieWoe commented on #144
I noticed the performance problem when I had all the blue and 3 pumps of the red particle.  This wasn't important to the issue, which is why I didn't mention it.  I just replicated it in order to have a more meaningful comparison.

[2019-07-17 19:52] pixelzoom commented on #144
I confirmed with @KatieWoe via Slack that she was running in requirejs mode with `?ea` when she reported this issue.

<details>
<summary>Slack discussion</summary>
<br>

Chris Malley 1:45 PM
When you tested master, were you running with ?ea

Kathryn Woessner:office: 1:49 PM
Yes.  It is default when you use the link from phettest.

Chris Malley 1:49 PM
Cool.  I think the performance hit is the addi

[2019-07-17 20:10] pixelzoom commented on #144
@KatieWoe Could you please do a performance comparison of built versions 1.0.0-dev.39 vs 1.0.0-dev.40 with `?profiler` on a range of platforms?  Whatever you think is necessary to be reasonably certain that instrumentation has not negatively impacted the built version.

Something like this is what I had in mind:

| OS | Browser | 1.0.0-dev.39 fps | 1.0.0-dev.40 fps |
| ------------- | ------------

[2019-07-17 21:09] KatieWoe commented on #144
| OS & version | Browser & version | 1.0.0-dev.39 fps | 1.0.0-dev.40 fps |
| ------------- | ------------- | ------------- | ------------- |
| Win 10 | Chrome | | |
| Win 10 | Firefox | | |
| Win 10 | Edge | | |
| Win 10 | IE | | |
| Mac 10.14 | Chrome | | |
| Mac 10.14 | Safari | | |
| Chrome OS | Chrome OS | | |
| iOS 12 | Safari | | |
| Mac 10.10 | Safari | | |
| iOS 9 | Safari | | |

[2019-07-18 01:25] arouinfar commented on #144
Thanks for the heads-up @pixelzoom. We will certainly discuss this during tomorrow's design meeting. Hopefully @KatieWoe will have have time to finish up the performance testing before then.

[2019-07-18 02:34] pixelzoom opened #145 "color profile Properties can get out of sync with PhET-iO"
Now that we have Tandem.global and it shows up in Studio (courtesy of https://github.com/phetsims/tandem/issues/94), I see that there a conflict between ColorProfile's `profileNameProperty` (a string) and GasPropertiesGlobalOptions `projectorModeEnabledProperty` (a boolean).  Both Properties are `phetioReadOnly: false`.

If the client sets `profileNameProperty` to `'projector'`, then `projectorMod

[2019-07-18 02:37] pixelzoom commented on #145
This seems like something that should be handled by joist.ProjectorModeCheckBox, not every client.   So transferring this issue from gas-properties to joist, and marking as blocking publication.

[2019-07-18 17:25] arouinfar commented on #125
@pixelzoom looking good in dev.42!

[2019-07-18 18:57] KatieWoe commented on #144
@pixelzoom back to you.  Some of the results seem odd to me (Win 10 chrome) but I don't see any major differences between versions.

[2019-07-18 19:13] pixelzoom opened #146 "revisit performance on some platforms"
In https://github.com/phetsims/gas-properties/issues/144#issuecomment-512569554, @KatieWoe reported performance on a range of platforms, reproduced below.  Some of these should be examined before RC testing, to see whether they are OK or require attention.   The most curious one is Win10 + Chrome.

| OS & version | Browser & version | 1.0.0-dev.39 fps | 1.0.0-dev.40 fps |
| ------------- | -------

[2019-07-18 20:46] pixelzoom commented on #30
7/18/19 design meeting notes, @arouinfar @ariel-phet @kathy-phet @pixelzoom

**Setting an initial state for first 3 screens:**
- [ ] Query parameters to set up specific initial state by specifying V,T,N.  Need N for light and heavy (NL, NH), one of them needs to be non-zero for this feature.  Also need to specify which screen.  V and T use their usual defaults. P is computed. PhET-IO API function

[2019-07-19 14:26] pixelzoom commented on #146
@ariel-phet said we can ignore iOS 9 and Win10 + IE.

@KatieWoe can you describe the behavior on Win10 + Chrome? Does it feel jerky?  What specifically is the test device?  Is it an older or newer model computer?

@arouinfar can you also evaluate on @KatieWoe's test device?

[2019-07-19 14:35] KatieWoe commented on #146
It seemed to be a bit jerkier than the other platforms, but it didn't strike me as being too bad.  I probably wouldn't have registered it as a problem if I weren't specifically looking for it.  It is my work laptop, so it's relatively new.

[2019-07-19 16:11] arouinfar commented on #146
@pixelzoom @KatieWoe I tested dev.39 and dev.40 out on a brand new gaming PC running Win 10 with pretty beefy specs (AMD 3700X CPU, AMD Radeon 5700XT GPU, 16 GB 3200 MHz RAM) and I am seeing a similar pattern, as described by @KatieWoe. Chrome was noticeably jerkier than Edge, but I wouldn't call the performance unacceptable.

Test case
* Energy screen
* N = 2000 (injected at 200 K so the lid does

[2019-07-20 23:09] pixelzoom commented on #30
I added "phet-io" to supportedBrands for Diffusion and Gases Intro, so they are also officially instrumented and usable in Studio.

[2019-07-22 18:29] pixelzoom commented on #144
Win10 + Chrome "odd results" move to #146.

Otherwise we've determined that the performance is only impacted with `?ea`, which we can live with. So closing.

[2019-07-22 18:29] #144 closed

[2019-07-22 18:42] pixelzoom commented on #146
Versions <= 1.0.0-dev.40 did not have the performance improvement that was make to repo kite to address Canvas performance issues in pH Scale (see https://github.com/phetsims/ph-scale/issues/83).   So I'd like to see if that improvement resulted in any improvement to Gas Properties, since it also uses Canvas for drawing particles.

@KatieWoe please test [1.0.0-dev.43?profiler](https://phet-dev.col

[2019-07-22 18:47] KatieWoe commented on #146
I can't really test the gaming pc since I believe that belongs to @arouinfar.  I will test mine and @arouinfar, would you be willing to do so on your machine?

[2019-07-22 18:49] arouinfar commented on #146
The earliest I'll be able to test is Friday. If it's been resolved on @KatieWoe's machine, then that's good enough for me.

[2019-07-22 19:36] KatieWoe commented on #146
@pixelzoom still seems to be about 35-36

[2019-07-22 19:49] pixelzoom commented on #146
OK, thanks @KatieWoe.

@arouinfar @ariel-phet Do we need to address this issue for 1.0.0 release?  I have no immediate ideas for improving performance, and I don't have a Win10+Chrome test machine handy (would need to borrow one from PhET).   This is also likely to require some of @jonathanolson's time.

[2019-07-22 20:05] arouinfar commented on #146
@pixelzoom I personally do not think this needs to be addressed before the 1.0.0 release. While the performance is smoother on other browsers, the simulation still performs reasonably on Win10/Chrome. Since @ariel-phet is a Win10 user, I think it would be good for him to test it out on his machine and see how it feels. I'll defer final judgement to him.

[2019-07-22 20:46] ariel-phet commented on #146
@pixelzoom @arouinfar tested on my machine (Win 10 Chrome), and I agree performance is acceptable.

That being said, my machine did seem to be getting pretty darn hot...and...

Edge will be moving to a "chromium" based browser. This is also by far one of our most popular sims, so it at least seems worthy of some investigation and some of @jonathanolson time.

We do not necessarily need to fix, but

[2019-07-22 20:52] ariel-phet commented on #146
Marking as medium, since as mentioned above, I don't think this blocks publication, merely worth of investigation.

[2019-07-22 22:18] pixelzoom commented on #30
@arouinfar @kathy-phet @ariel-phet I have followed up on the 4 "Ask PhET-iO Team" action items in https://github.com/phetsims/gas-properties/issues/30#issuecomment-512980763.   None of these features are currently supported, so I created a GitHub issue for each item.  If you have thoughts about the priority of those issues, please comment.

[2019-07-22 23:37] pixelzoom opened #147 "add required tandems"
Related to #30.

Gas Properties currently does not start with query parameter `phetioValidateTandems`, because it is missing many required tandems.   Based on design decisions in #30, these should be supplied, or opt out by specifying `tandem: Tandem.optOut`.

[2019-07-23 00:12] pixelzoom commented on #147
I supplied a few of the required tandems for obvious things. But then I started running into questionable things that we haven't discussed in #30, so I'm going to stop here for now.

[2019-07-23 19:11] pixelzoom commented on #146
Performance issues can typically involve substantial rewriting or reorganization of code.  So while I appreciate that it's not blocking publication, I'd like to understand this issue a little bit (at a minimum identify where the time is being spent) before moving into RC testing.

[2019-07-23 19:55] kathy-phet commented on #146
I tested this link https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.43/phet/gas-properties_en_phet.html?profiler
on my Chrome + Window 10 device and got in the high 40s low 50s, hovering right around 50 average at load. I do see a GPU spike.

Test device: Kathy's computer
Operating System: MS Windows Enterprise 10, Version	10.0.17763 Build 17763
Browser: Chrome
Troubleshooting informati

[2019-07-24 22:15] arouinfar commented on #30
Bummer! Thanks for investigating @pixelzoom.

Priority is fully up to @kathy-phet and @ariel-phet, so unassigning myself.

[2019-07-25 16:19] pixelzoom commented on #146
@jonathanolson this is the issue mentioned at status meeting that needs investigation.

[2019-07-25 18:32] jonathanolson commented on #146
I'm curious if it's related at all to an AMD GPU.

My Windows 10 specs are probably a bit older, but still fairly beefy, and the sim refuses to run below 60fps for me. AMD Ryzen 7 1800x (3.8 GHz), nVidia 1080ti, also 16 GB 3200 MHz RAM).

![gas-properties-perf-04](https://user-images.githubusercontent.com/480878/61899051-e2560280-aed7-11e9-8c71-393a2f8c09f3.PNG)

CPU profiling in devtools indicate

[2019-07-25 18:36] pixelzoom commented on #146
@jonathanolson asked:

@KatieWoe does your Win10 machine have an AMD GPU?

[2019-07-25 18:46] KatieWoe commented on #146
No, Intel HD Graphics 530

[2019-07-25 22:28] pixelzoom commented on #146
Discussed with @jonathanolson and @ariel-phet.   @jonathanolson is going to make a general node that is optimized for rendering large numbers of similar images.  It will use WebGL as its primary renderer, with Canvas fallback.   He'll integrate this into Gas Properties (in `ParticlesNodes`) behind a query parameter.

In the meantime, I've made some straightforward optimizations to `for` loops thro

[2019-07-25 22:34] kathy-phet commented on #146
@pixelzoom - On mine the framerate now toggles in the high 50s, sometimes hitting 60 under the same conditions as above. and the GPU still goes up but is in the low 70s instead of 80%.

[2019-07-25 23:07] pixelzoom commented on #146
Thanks @kathy-phet.

[2019-07-26 05:58] arouinfar commented on #146
@pixelzoom @kathy-phet @ariel-phet I retested dev.44 on our gaming pc. We ended up returning the AMD GPU and getting one from Nvidia instead, so it's not exactly an apples-to-apples comparison. That said, the performance in Chrome has remarkably improved. The frame rate never dips below 55 fps and GPU utilization stays below 30%.

![image](https://user-images.githubusercontent.com/8419308/61929025

[2019-07-26 17:44] KatieWoe commented on #146
Still hovers in the mid thirties for me.

[2019-07-26 17:54] kathy-phet commented on #146
Katie - do you have other things running? I noticed a decrease if I had other things running - like the sim in both firefox and chrome running at the same time.

[2019-07-26 18:36] KatieWoe commented on #146
I had various github and email/slack tabs open.

[2019-07-26 18:46] KatieWoe commented on #146
I just checked with everything but the sim closed.  Same thing.

[2019-07-26 19:46] arouinfar commented on #146
I retested dev.39 and dev.40 now that we've switched to a Nvidia GPU (which I should have done last night -- but I was a bit loopy from the travel). With the Nvidia card the frame rate is about 50 fps, and dips down to 44 when blowing the lid. GPU utilization was ~50%. There is definitely still improvement from dev.39/40 to dev.44 (~5 fps higher, 20-30% less GPU utilization) but it's not as dramat

[2019-07-29 16:39] pixelzoom commented on #146
@jonathanolson reported that he "ran into design and technical complications", so does not have the solution we discussed in https://github.com/phetsims/gas-properties/issues/146#issuecomment-515237667.

So we're going to defer this performance improvement (and this issue) until a future release.  Approved by @arouinfar and @ariel-phet via Slack.

[2019-07-29 17:14] pixelzoom commented on #147
Deferred until after 1.0.0 brand=phet is published.

[2019-07-29 17:17] pixelzoom commented on #28
@arouinfar said:

PhET typically has a person appearing in one place in the credits.  I added Katie to the QA credits, but can move her to the Team credits.  @KatieWoe what would you prefer?

[2019-07-29 17:20] KatieWoe commented on #28
Lets stick with QA.  I did more work there than in design

[2019-07-29 19:47] pixelzoom commented on #139
This issue has only occurred a couple of times in CT, and I'm confident that it's a corner case.  So not a prerequisite to publishing 1.0.0, and deferred.

[2019-07-29 21:49] pixelzoom commented on #30
Gas Properties and its derivatives (Gases Intro, Diffusion) are now in RC testing.  Until 1.0.0 is published, we should refrain from making any additional PhET-iO changes to sim code, because it will complicate cherry-picking of RC fixes.

[2019-07-29 21:55] pixelzoom commented on #28
@KatieWoe when 1.0.0-rc.1 RC testing is completed, please let me know who should be added to the QA credits.

[2019-07-29 22:18] KatieWoe commented on #128
Warning dialog comes up as expected from what I've seen.  Tried this when temp reached close to max, and the bug didn't seem to occur.  Will close after playing around trying to break the solution a bit more, but for now it looks good.

[2019-07-29 22:20] lmulhall-phet opened #148 "inconsistent layering of stop watch and collision counter"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.5

**Browser**

Chrome 75.0.3770.142

**Problem Description**

For https://github.com/phetsims/QA/issues/386. If you're dragging a tool over another tool, the tool that is being dragged isn't necessarily the one that's "on top." The tool that is being dragged should be on top.

**Visuals**

Gas Properties (1.0.0-rc.1)
![issue1](https:

[2019-07-29 22:34] KatieWoe commented on #133
Aside from https://github.com/phetsims/gas-properties/issues/148, this looks good for 1.0.0-rc.1

[2019-07-29 22:34] #133 closed

[2019-07-29 23:04] lmulhall-phet commented on #148
@pixelzoom, I also found this:

![issue3](https://user-images.githubusercontent.com/31285590/62088501-c5486900-b222-11e9-922d-886baad4d547.gif)

Hence the title change. Let me know if I should make a separate issue. (The pressure with variable temperature radio button needs to be active to reproduce.)

[2019-07-29 23:15] pixelzoom commented on #148
This is intentional for these particular tools.  It ensures that the stopwatch can't be lost behind the collision counter.  @arouinfar please advise whether you'd like me to change this.

[2019-07-29 23:17] pixelzoom commented on #148
To clarify...  Relative layering of the stopwatch and collision counter is intentional. Dragging behind the bucket is not intentional.

[2019-07-29 23:22] lmulhall-phet commented on #148
@arouinfar asked me to make this issue.

I've found a few published sims where there are tools that can be "lost" behind larger tools, such as [Wave Interference](https://phet.colorado.edu/sims/html/wave-interference/latest/wave-interference_en.html) where the tape measure can be lost behind the timer.

[2019-07-29 23:28] lmulhall-phet commented on #148
To be clear, I'm not saying that losing small tools behind larger tools is ideal, just that there is precedent for this and (I assume) this was discussed by designers at some point.

[2019-07-30 04:07] pixelzoom commented on #148
If we decide to make tools (the stopwatch and collision counter) pop to the front in pointer down, then we should probably also make tools pop to the front when their associated checkbox becomes checked.  For example, if the stopwatch is invisible and behind the collision counter, then it should become visible and pop to the front when the "Stopwatch" checkbox is checked.

[2019-07-30 15:06] KatieWoe opened #149 "Oops! dialog should interrupt any interactions that are in progress"
**Test device**
Dell Laptop
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/386 and https://github.com/phetsims/QA/issues/388
If you are interacting with an element when the max temp dialog (introduced in https://github.com/phetsims/gas-properties/issues/128) comes up, that aspect can still be manipulated.  Elements can include the h

[2019-07-30 15:31] pixelzoom commented on #149
Opening a modal Dialog should interrupt all other interactions that are in progress.  I could do that specifically for the Oops! dialogs in this sim.  But I think this is something that should potentially be in common code, perhaps a responsibility of Dialog.  @arouinfar do you agree?

[2019-07-30 15:31] pixelzoom commented on #149
I'm going to change the title of this issue to reflect the more general problem.

[2019-07-30 15:41] KatieWoe opened #150 "Multiple Oops! dialogs at once"
**Test device**
Dell Laptop
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/386 and https://github.com/phetsims/QA/issues/388.
It is possible to trigger two "Oops!" dialogs at once, causing one to be layered on top of the other.  Not certain if this is a bug, but it can look a bit odd, so recording here.
**Steps to reproduce**
1. Rai

[2019-07-30 16:14] pixelzoom commented on #150
@KatieWoe could you please clarify this step for me, I can't parse.

Do you mean "then decrease the container volume"?

And does "while temp is constant" mean "Hold Constant" need to be set to "Volume"?  That's not shown in the screenshots.

[2019-07-30 16:17] KatieWoe commented on #150
@pixelzoom
Yes.  If the volume is not already small, make it small while the third option (holding temperature constant) is selected.  This is what is shown in the first step of the screenshots.  The next step is

Which is the next step shown in the gif

[2019-07-30 16:20] pixelzoom commented on #150
Definitely a bug, unassigning @arouinfar.

[2019-07-30 16:39] arouinfar commented on #149
👍

Agreed. I think we would want to handle this in common code, not in a sim-specific way.

[2019-07-30 16:48] KatieWoe commented on #129
Somewhat related for https://github.com/phetsims/QA/issues/386.  I noticed that the average speed numbers stay around for a bit when you use the erase button.  Harder to see, and a bit less of an issue.  Up to you @pixelzoom @arouinfar if this issue can be closed or still needs work.
(Can be hard to see on screen recording)
![hardtoseespeedstays](https://user-images.githubusercontent.com/41024075/

[2019-07-30 17:19] KatieWoe opened #151 "lid can be resized when its not on the container"
**Test device**
Dell Laptop
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/386 and https://github.com/phetsims/QA/issues/388
Note that this is difficult if not impossible to reproduce without slowing down the sim, meaning that I don't think it needs to be solved unless the solution is trivial.
If you drag on the lid while it is blow

[2019-07-30 17:34] KatieWoe commented on #151
Can be more obvious if you make the container bigger after lid blows off.
https://drive.google.com/file/d/1bVfF7GbAVe5feA2XD4wtQd645fd-Pu1x/view?usp=sharing

[2019-07-30 18:18] KatieWoe opened #152 "Options checkbox labels have different maxWidths"
**Test device**
Dell Laptop
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/386, https://github.com/phetsims/QA/issues/388, and possibly https://github.com/phetsims/QA/issues/387, depending on the size decided on.
The max width/size of the options in the options menu are different.
**Steps to reproduce**
1. Set stringTest=long
2. Go

[2019-07-30 18:33] KatieWoe commented on #151
Update: This is easier to do if you use the pause and step through functions

[2019-07-30 19:37] pixelzoom commented on #151
This should be easy to fix.  Make the lid `pickable:false` when it's not on the container.

[2019-07-30 19:46] arouinfar commented on #129
Good catch @KatieWoe. It looks like the Average Speed resets about a time step after the histograms. @pixelzoom could you extend https://github.com/phetsims/gas-properties/commit/1b1ac3bbdb31cf66ee961b357bb859f586d2c05e to the Average Speed readout, as well?

[2019-07-30 19:48] pixelzoom commented on #149
I talked with @ariel-phet about how to proceed on this one.  Solving this in common code is likely to take a long time, involving other Dialog-related issues, and requiring much discussion.  I also suspect that there will not be immediate agreement that this should be handled by Dialog.

So I'm going to address this issue by:
(1) Creating an issue in the sun repo for the general issue of how inter

[2019-07-30 19:49] pixelzoom commented on #129
I will investigate.

[2019-07-30 19:50] arouinfar commented on #148
You make a good point, but I think it looks odd to drag the Collision Counter behind the TimerNode. I would prefer the active tool has the top-most z-ordering.

Agreed, I think this would be better UX.

[2019-07-30 19:51] pixelzoom commented on #152
This will involved setting `maxTextWidth` for ProjectorModeCheckbox.

[2019-07-30 19:58] pixelzoom commented on #152
Checkbox labels in the Options dialog now have uniform maxWidth, see screenshot below.  Fixed in master and 1.0 branches.

@KatieWoe please verify in master.

<img width="820" alt="screenshot_1293" src="https://user-images.githubusercontent.com/3046552/62160831-182d2980-b2d2-11e9-9272-e56d3d030970.png">

[2019-07-30 20:14] KatieWoe commented on #152
Confirmed in master

[2019-07-30 20:15] pixelzoom commented on #149
Fixed in master and 1.0 branches.  When an Oops! dialog is opened, any in-progress interactions are cancelled.

@KatieWoe please verify in master.

[2019-07-30 20:36] pixelzoom commented on #152
To be verified in 1.0.0-rc.2.

[2019-07-30 20:42] pixelzoom commented on #151
Fixed in master and 1.0 branches. The lid is not interactive only when it is on the container.

@KatieWoe please verify in master.

[2019-07-30 20:44] pixelzoom opened #153 ""Oops Dialog" table is out of date in design doc"
In https://github.com/phetsims/gas-properties/issues/128, we added the Oops dialog shown below that is not included in the "Oops Dialog" table in the Google design document.  This is important to keep up to date for QA.

<img width="559" alt="screenshot_1260" src="https://user-images.githubusercontent.com/3046552/60227661-2cf34900-985e-11e9-902b-ee8bde7cf2e4.png">

[2019-07-30 20:52] arouinfar commented on #153
Done

[2019-07-30 20:52] #153 closed

[2019-07-30 20:53] pixelzoom commented on #148
Fixed in master and 1.0 branches.  Stopwatch and Collision Counter now move to the front on pointer down, and when they become visible.

@lmulhall-phet please verify in master.

[2019-07-30 21:00] lmulhall-phet commented on #148
Looks good on master, @pixelzoom.

[2019-07-30 21:01] pixelzoom commented on #150
This is specific to the "Maximum temperature reached" condition, which was added in https://github.com/phetsims/gas-properties/issues/128#issuecomment-506109595.   The problem is that, when this condition occurs, we are removing all particles, then adjusting the "Hold Constant" setting.  We need to adjust the "Hold Constant" setting first.  The relevant code is in IdealGasLawModel:

[code]

[2019-07-30 21:03] pixelzoom commented on #148
To be verified in 1.0.0-rc.2.

[2019-07-30 21:05] KatieWoe commented on #149
I did a quick check on all of the possible Oops! dialogs per request in slack.  All seem good in master.  Interestingly, I noticed some passed in the rc already that I thought would fail.

[2019-07-30 21:05] lmulhall-phet commented on #148
Sorry, @pixelzoom, I just noticed this:

![Screen Shot 2019-07-30 at 3 04 06 PM](https://user-images.githubusercontent.com/31285590/62165324-67c42300-b2db-11e9-94ab-26c0f679da1a.png)

Also, the cursor doesn't turn into a hand when you mouse over the collision counter as it does with the timer.

[2019-07-30 21:06] pixelzoom commented on #150
Fixed in master and 1.0 branch.  @KatieWoe please verify in master.

[2019-07-30 21:10] pixelzoom commented on #148
Ah, right.  The counter needs to stay behind the parent for the combo listbox.

On what platform does the cursor not turn into a hand on mouseOver?

[2019-07-30 21:11] lmulhall-phet commented on #148
macOS + Chrome, same as the original issue.

[2019-07-30 21:12] KatieWoe commented on #150
Confirmed in master

[2019-07-30 21:16] lmulhall-phet commented on #148
The cursor doesn't turn into a hand unless it's on top of a button, which is not the case with the timer.

![issue](https://user-images.githubusercontent.com/31285590/62165959-d81f7400-b2dc-11e9-9401-7b21af0c6e5a.gif)

![issue2](https://user-images.githubusercontent.com/31285590/62165972-de155500-b2dc-11e9-870d-fa71309ecff7.gif)

[2019-07-30 21:17] pixelzoom commented on #150
To be verified in 1.0.0-rc.2.

[2019-07-30 21:19] pixelzoom commented on #148
Fixed the counter's cursor and listbox layering in master and 1.0 branches.  Good catch @lmulhall-phet, please verify in master.

[2019-07-30 21:20] pixelzoom commented on #149
Thanks @KatieWoe.

To be verified in 1.0.0-rc.2.

[2019-07-30 21:21] pixelzoom commented on #149
@KatieWoe to clarify.... Did you also verify this issue, that all in-progress interactions are now cancelled when an Oops dialog opens?

[2019-07-30 21:22] KatieWoe commented on #151
Can still happen in master, but harder.  Now, you must first move the container wall, then the lid.  Pausing makes this a bit easier to accomplish.
![stillcanhappenbutmuchharder](https://user-images.githubusercontent.com/41024075/62166353-c7233280-b2dd-11e9-8688-fc944912cee1.gif)

[2019-07-30 21:22] KatieWoe commented on #149
As many as I could come up with, yes.

[2019-07-30 21:26] lmulhall-phet commented on #148
Both the cursor issue and the listbox issue look fixed on master.

[2019-07-30 21:27] pixelzoom commented on #151
OK, I'll investigate more tomorrow.

[2019-07-30 21:28] pixelzoom commented on #149
👍 To be verified in 1.0.0-rc.2.

[2019-07-30 21:29] pixelzoom commented on #148
👍 To be verified in 1.0.0-rc.2.

[2019-07-31 15:47] pixelzoom commented on #151
Fixed in master and 1.0 branches.  Resizing the container will make the lid pickable only if the lid is on the container.

@KatieWoe please verify in master.

[2019-07-31 15:54] pixelzoom commented on #129
Fixed in master and 1.0 branches. @KatieWoe please review in master.

[2019-07-31 15:58] pixelzoom commented on #129
I updated the title of this issue, here and in phetsims/QA#386.

[2019-07-31 16:08] KatieWoe opened #154 "Screenshots"
For https://github.com/phetsims/QA/issues/386 and #1
This sim is being published for the first time, and so it needs screenshots and alt screenshots.  @arouinfar let me know what you would like them to look like and when you think the sim is settle enough to take them, then assign back to me.

[2019-07-31 16:20] KatieWoe commented on #129
Looks good on master @pixelzoom

[2019-07-31 16:22] pixelzoom commented on #129
👍 To be verified in 1.0.0-rc.2.

[2019-07-31 16:27] KatieWoe commented on #151
Does seem to be fixed in master.

[2019-07-31 16:31] pixelzoom commented on #151
To be verified in 1.0.0-rc.2.

[2019-07-31 17:11] KatieWoe opened #155 "Collision Counter is interupted"
**Test device**
Dell Laptop
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/386 and https://github.com/phetsims/QA/issues/388
Not sure if this is a bug or intended behavior.  If intended, feel free to close.  When you adjust the volume of the container while the collision counter is running, it will go to zero and stop counting.  Th

[2019-07-31 17:16] pixelzoom commented on #155
My understanding is that this it the desired behavior. But @arouinfar please confirm.

[2019-07-31 19:47] KatieWoe opened #156 "Width string can be too long"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Edge (and others)
**Problem description**
For https://github.com/phetsims/QA/issues/386 and https://github.com/phetsims/QA/issues/388
The width string that measures the size of the container does not have a max width.
From slack:

No, it needs a proper maxWidth

**Visuals**
![normal](https://user-images.githubusercontent.com/41024075/622

[2019-07-31 19:58] pixelzoom commented on #156
Fixed in master and 1.0 branches.  @KatieWoe please verify in master.

[2019-07-31 20:01] KatieWoe commented on #156
Looks good to me

[2019-07-31 20:03] pixelzoom commented on #156
To be verified in 1.0.0-rc.2.

[2019-07-31 20:45] KatieWoe commented on #124
Looks good

[2019-07-31 20:45] #124 closed

[2019-07-31 20:45] KatieWoe commented on #125
Looks good 1.0.0-rc.1

[2019-07-31 20:45] #125 closed

[2019-07-31 20:47] KatieWoe commented on #126
Looks good 1.0.0-rc.1.  Was a bit complicated by https://github.com/phetsims/gas-properties/issues/151, but that is now fixed in master

[2019-07-31 20:47] #126 closed

[2019-07-31 20:48] KatieWoe commented on #127
Looks good 1.0.0-rc.1

[2019-07-31 20:48] #127 closed

[2019-07-31 20:49] #128 closed

[2019-07-31 20:54] KatieWoe commented on #130
looks good 1.0.0-rc.1

[2019-07-31 20:54] #130 closed

[2019-07-31 22:12] arouinfar commented on #155
Thanks @KatieWoe.

While I don't remember making an explicit design decision to abort the Collision Counter when the container is resized (though I may have), I think this feels pretty natural. Changing V kicks the sim into a paused state, and it doesn't make sense to continue counting the particle-wall collisions.

[2019-07-31 22:12] #155 closed

[2019-07-31 22:18] jonathanolson opened #157 "branch: sprites"
For the semi-experimental work related to https://github.com/phetsims/scenery/issues/990.

[2019-07-31 22:32] jonathanolson commented on #146
I've come up with a functional implementation for this that I have in a branch (relevant issue is https://github.com/phetsims/scenery/issues/990 in Scenery).

Would it be possible for someone (who ran into the Windows performance issue) to compare the performance on Win10 Chrome on the following two versions?:

- https://phet-dev.colorado.edu/html/gas-properties/1.1.0-sprites.1/phet/gas-properties

[2019-07-31 22:36] pixelzoom commented on #146
@KatieWoe is in the best position to test, since her personal machine was the primary test machine for this issue.

[2019-07-31 22:44] KatieWoe commented on #146
Link one hovers between high 30's and low 40's (38-42)
Link two hovers in mid 30's (34-35)
@jonathanolson

[2019-07-31 22:50] jonathanolson commented on #146
@ariel-phet, should I look into further refinement (or moving the Scenery work to master) for this? The initial work includes a lot of room for optimization, and without that it looks like it was ~5fps faster.

[2019-07-31 23:12] arouinfar commented on #154
@KatieWoe please take screenshots during rc.2.

### Main screenshot
![Gas Properties-1](https://user-images.githubusercontent.com/8419308/62252404-fbffba00-b3af-11e9-8574-9f8abc4a13ba.png)

### Alt 1
<img width="1440" alt="Gas Properties-2" src="https://user-images.githubusercontent.com/8419308/62252405-fbffba00-b3af-11e9-9afa-2ae28fd2716b.png">

### Alt 2
Use equal numbers of light and heavy part

[2019-07-31 23:31] pixelzoom commented on #146
I guess I was anticipating more dramatic improvement with WebGL.  I gained around 5fps with the straightforward optimizations that I mentioned in https://github.com/phetsims/gas-properties/issues/146#issuecomment-515237667. And I could get more dramatic improvements by combining `for` loops (at the expense of code encapsulation and maintainability, so would prefer not to).

@jonathanolson do you h

[2019-07-31 23:58] jonathanolson commented on #146
Same. I'm curious if it's still being somehow CPU-limited. I'll profile a bit.

Not not sure, I would expect higher performance.

[2019-08-01 00:06] pixelzoom commented on #28
Testing of 1.0.0-rc.1 is done, and it's time to move on to 1.0.0-rc.2. Judging from the 1.0.0-rc.1 test matrix, I’m guessing that QA credits should be “Jaspe Arias, Liam Mulhall, Jacob Romero, Kathryn Woessner".   I'm going to go with that for 1.0.0-rc.2.  If it's not correct, it will be a simple cherry-pick.

[2019-08-01 00:17] pixelzoom commented on #134
@KatieWoe This was checked off as verified in https://github.com/phetsims/QA/issues/386, so I'm going to go ahead and close it.

[2019-08-01 00:17] #134 closed

[2019-08-01 00:53] pixelzoom opened #158 "publish 1.0.0"
1.0.0-dev.38 published 6/11/19
Dev test issue https://github.com/phetsims/QA/issues/342
Dev testing completed 6/18/19

1.0.0-rc.1 published 7/26/19
RC test issue https://github.com/phetsims/QA/issues/386
RC test completed 7/31/19

1.0.0-rc.2 published 7/31/19
RC test issue https://github.com/phetsims/QA/issues/390
RC test completed 8/5/19

1.0.0-rc.3 published 8/8/19
RC test issue https://github.c

[2019-08-01 16:34] ariel-phet commented on #146
@jonathanolson and I discussed briefly on slack.

I suggested putting in approximately 4 more hours to introduce some optimizations, then lets have @KatieWoe reprofile (I can test on my machine as well). If all look good then we can move to master, but lets get it a bit better first.

[2019-08-01 19:31] lmulhall-phet commented on #148
Looks good in 1.0.0-rc.2.

[2019-08-01 20:52] KatieWoe commented on #154
Here are the screenshots for this sim:
![gas-properties-screenshot](https://user-images.githubusercontent.com/41024075/62326739-0b443d80-b46c-11e9-882f-5a20b1d8c334.png)
![gas-properties-screenshot-alt1](https://user-images.githubusercontent.com/41024075/62326741-0b443d80-b46c-11e9-9210-87474630a62d.png)
![gas-properties-screenshot-alt2](https://user-images.githubusercontent.com/41024075/62326742-

[2019-08-01 21:58] KatieWoe commented on #154
@arouinfar to approve

[2019-08-02 13:20] samreid commented on #146
Hi @jonathanolson, I'm new to this issue but came across it as part of https://github.com/phetsims/wave-interference/issues/331, linked above.  Does your proposed branch support clipping?  If so, we may be able to use it to attain good performance and proper clipping for the sound particles on Wave Interference for iOS.

[2019-08-02 13:49] arouinfar commented on #154
Looks good, thanks!

[2019-08-02 15:32] KatieWoe commented on #148
Noticed this behavior when you open a dropdown while one of the objects is on top.  Probably acceptable, but leaving up to you @pixelzoom @arouinfar.  Please close if acceptable.
![haha](https://user-images.githubusercontent.com/41024075/62381326-76dbe880-b508-11e9-8295-e970b0472d65.png)

[2019-08-02 17:55] KatieWoe commented on #154
Added screenshots to master and 1.0.  @pixelzoom are they needed in any other branch?  If not, this can be closed.

[2019-08-02 19:50] pixelzoom commented on #148
Combobox listbox typically uses a layer that's in front of everything else (similar to Dialogs).  So that's what is causing this.  This is easy to change, so I'm going to address it.

[2019-08-02 20:03] pixelzoom commented on #148
Actually...  I'm not going to change this.   This is the current PhET policy for ComboBox listbox, and it's what you'll see (or should see, if the policy is being followed) in other sims.  Changing that policy requires a more extensive discussion, as well as addressing several Dialog-related GitHub issues in the sun repo.   So if it's OK with @arouinfar, I recommend that we leave this as is, and c

[2019-08-02 20:13] pixelzoom commented on #148
On second thought, I am going to address this.

I also noticed another issue -- if you click on some interactive part of the stopwatch or collision counter (e.g. the play button), it does not move the tool to the front.

[2019-08-02 20:18] pixelzoom commented on #148
It's also not possible to drag the Collision Counter by grabbing the bezel around it's outer edge.

[2019-08-02 21:22] pixelzoom commented on #148
Fixed in master and 1.0.  Summary:

* ComboBox listboxes remain associated with their related UI component in the layering order. It's not possible to (for example) get the Stopwatch layered between the thermometer and its listbox.
* Clicking anywhere on the stopwatch or collision counter, even on interactive subcomponents, moves it to the front.
* You can drag the stopwatch and collision counter

[2019-08-02 21:27] pixelzoom commented on #154
master and 1.0 are all that's needed.  Thanks @KatieWoe. Closing.

[2019-08-02 21:27] #154 closed

[2019-08-02 21:47] KatieWoe commented on #148
Confirmed in master.  Although I did find

a bit odd.

[2019-08-02 22:10] KatieWoe opened #159 "Temperature is not held constant when N decreases"
**Test device**
Dell Laptop
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/392 and https://github.com/phetsims/QA/issues/390
When temperature is set to be held constant, this does not occur when particles are leaving the container.
From slack:

**Steps to reproduce**
1. Add some particles
2. Set temperature to be constant
3. Open t

[2019-08-02 22:17] pixelzoom commented on #159
I can see why we didn’t notice this sooner.  When the lid is closed, particles are added with initial speed based on the temperature in the container, so `T` remains constant without doing anything special in the model.

But when the lid is _open_, particles escape from the container.  So to keep `T` constant, we need to adjust the speeds of particles in the containers so that `KE` average results

[2019-08-02 22:18] pixelzoom commented on #159
@arouinfar please verify that my evaluation in https://github.com/phetsims/gas-properties/issues/159#issuecomment-517859650 looks reasonable/correct.

[2019-08-02 22:43] KatieWoe commented on #159
Quick note.  If you remove particles using the back arrows temperature is also not held constant

[2019-08-02 22:56] pixelzoom commented on #159
Thanks @KatieWoe, good catch.

[2019-08-02 22:58] pixelzoom commented on #159
Since adjusting particle speeds is like to be a significant performance hit for large `N`, I may consider doing this only when `N` has decreased.  I.e.:

[2019-08-02 23:33] pixelzoom commented on #148
@KatieWoe why is that odd? Do you think the tools should not be draggable if you happened to click on (for example) "Wall Collisions".

[2019-08-05 14:51] KatieWoe commented on #148
This part isn't interactive (clicking on it doesn't change anything that I could find) but the mouse still makes the hand symbol that indicates it can be dragged/interacted with.  I think I misunderstood what you meant when I quoted that.  Sorry.  I think that clicking on "Wall Collisions" etc. should allow dragging.

[2019-08-05 15:15] pixelzoom commented on #148
Discussed with @KatieWoe on Slack to clarify https://us04web.zoom.us/j/530972694, and we're all good here.

To be verified in 1.0.0-rc.3.

[2019-08-05 17:44] pixelzoom commented on #159
This is a little complicated, because KE is a function of |v|<sup>2</sup>.  Here's what I think is needs to be done when N decreases when holding T constant.   I'll need @arouinfar to review.

[code]

[2019-08-05 18:06] pixelzoom commented on #159
@arouinfar and I discussed https://github.com/phetsims/gas-properties/issues/159#issuecomment-518330915 via Zoom, and reviewed my implementation of it.  Seems to be correct, so I'll proceed.

[2019-08-05 18:09] pixelzoom commented on #159
Fixed in master and 1.0 branches.  @KatieWoe and @arouinfar please review in master.

[2019-08-05 18:19] KatieWoe commented on #159
Seems to work in master.  There did seem to be a performance hit with large numbers of particles.  I also think that, since the solution involves speeding up remaining particles, the heat bucket should activate for a bit to indicate that.

[2019-08-05 18:47] pixelzoom commented on #159
@KatieWoe please describe steps to reproduce the performance hit mentioned in the previous comment.

[2019-08-05 18:49] pixelzoom commented on #159
@arouinfar please comment on @KatieWoe's suggestion about the heat/cool bucket in https://github.com/phetsims/gas-properties/issues/159#issuecomment-518343285.

[2019-08-05 18:52] KatieWoe commented on #159
I was on the first screen and noticed the slow down as I pumped the container full of blue particles and switched to keeping temperature constant

[2019-08-05 18:57] pixelzoom commented on #159
@KatieWoe Nothing that you did in those steps hits the code that I added to address this issue.  The new code is only exercised when the number of particles is reduced.  I added debugging output to confirm that before I pushed, and I've confirmed it again.

[2019-08-05 19:13] pixelzoom commented on #159
@arouinfar and I discussed the heat/cool bucket via Zoom.  According to @arouinfar, there should be no heating/cooling if N is changed via the spinners.  But if particles escape via the lid, then there should be heating/cooling via the bucket, using the same "Hollywood" feedback was done for "Pressure T" mode.

Getting this to work is going to be a much bigger problem than adjusting particle speed

[2019-08-05 19:15] KatieWoe commented on #28
Looks good

[2019-08-05 19:15] #28 closed

[2019-08-05 19:16] pixelzoom commented on #159
@arouinfar the design doc shows no change to heat/cool buck for "Temperature (T)" mode, so please verify that this is really what needs to be done.

<img width="661" alt="screenshot_1300" src="https://user-images.githubusercontent.com/3046552/62489127-350aa680-b783-11e9-870a-49472cc6c90a.png">

[2019-08-05 19:19] KatieWoe commented on #159
All the same, it can be quite noticeable that remaining particles are "magically" speeding up if N is low, which could be pedagogically damaging.

[2019-08-05 19:22] pixelzoom commented on #159
@KatieWoe please clarify - are you arguing that we should be applying heat/cool regardless of how N decreased, not just as the result of escaping through the lid?

[2019-08-05 19:39] KatieWoe commented on #159
I think that would be most ideal, but not necessary, since they are leaving magically, they can probably change energy magically.  But, I do think it is definitely necessary if they leave from the top.

[2019-08-05 20:11] arouinfar commented on #159
Before this zoom chat, @kathy-phet and I briefly talked about this issue, and mutually decided that this approach would be the way to go.

@pixelzoom that table shows that the HeaterCoolerNode slider is removed. I didn't have adjust velocities in the change N column because we hadn't considered <i>how</i> T was held constant, which was an oversight.

When removing particles with the spinners, the

[2019-08-06 17:00] pixelzoom commented on #159
More problems...

* The animated heat/cool bucket is not reusable for "Temperature (T)" mode.  It was designed implemented explicitly for "Pressure T" mode, where the amount of flame/ice shown is a function of N and delta T.

* Particles can escape through the lid _and_ be decreased using the spinners on the same timestep.  The amount of heat/ice shown show presumably be related only to the partic

[2019-08-06 17:32] pixelzoom commented on #159
@arouinfar and I discussed on Slack.  Given the problems that I'm running into, we are reconsidering whether we need to counteract evaporative cooling - that is, keeping T constant while particles are escaping via the lid.   Here's the alternative proposal:

* When the lid is open, disable the "Temperature (T)" radio button
* When "Temperature (T)" radio button is selected, either
  (a) hide the l

[2019-08-06 17:39] KatieWoe commented on #159
In regards to a).  What would happen if the lid was open or blown off already?

[2019-08-06 17:54] pixelzoom commented on #159
If the lid is open, then you can't select "Temperature (T)" because it's disabled.

If the lid blows off, then we could show the Oops dialog.  @arouinfar and I are both leaning towards (b) as the preferred choice, and handling the lid blowing off is another reason for that choice.

[2019-08-06 18:01] pixelzoom commented on #159
So here's the revised proposal:

* When the lid is open, disable the "Temperature (T)" radio button
* When the lid is removed for any reason (by the user, blown off), show dialog "Oops! Temperature cannot be held constant when the lid is open." and change Hold Constant to "None"

[2019-08-06 18:15] pixelzoom opened #160 "use 1 instance of HeaterCoolerNode"
"Pressure ↕T" mode for "Hold Constant" animates the heat/cool bucket to indicate how temperature `T` is adjusted to keep pressure `P` constant.  The animation is handled by a dedicated instance of `AnimatedHeaterCoolerNode` that is visible only in this mode.  An instance of `GasPropertiesHeaterCoolerNode` is visible in all other modes.

Having 2 instances of the bucket may be confusing for PhET-iO

[2019-08-06 18:22] KatieWoe commented on #129
Looks good

[2019-08-06 18:22] #129 closed

[2019-08-06 18:24] KatieWoe commented on #149
Looks good rc.2

[2019-08-06 18:24] #149 closed

[2019-08-06 18:25] KatieWoe commented on #150
looks good rc.2

[2019-08-06 18:25] #150 closed

[2019-08-06 18:25] KatieWoe commented on #151
looks good rc.2

[2019-08-06 18:25] #151 closed

[2019-08-06 18:26] KatieWoe commented on #152
Looks good rc.2

[2019-08-06 18:26] #152 closed

[2019-08-06 18:27] KatieWoe commented on #156
Looks good rc.2

[2019-08-06 18:27] #156 closed

[2019-08-06 18:29] pixelzoom commented on #77
See #160 for a significant recommend change.

[2019-08-06 19:26] pixelzoom commented on #159
I'm running into a problem with the above proposal.  When the user starts to interact with the lid, the Oops dialog immediate opens and the "Nothing" becomes selected.  But the lid is open such a small amount that it doesn't look like it's open.   And trying to make it look "more open" leads to a reentrant Property problem, which will cause PhET-iO problems.

So here's a revised proposal:
* When t

[2019-08-06 19:40] pixelzoom opened #161 "only the lid's handle should be interactive"
While working on https://github.com/phetsims/gas-properties/issues/159, I discovered that the entire lid (not just its handle) is interactive.   This feels really odd/buggy, and it's also problematic because you can still resize the lid if its handle is hidden.  So with @arouinfar's approval, I will change it so that only the handle is interactive.

This should be addressed for 1.0.0 release.

[2019-08-06 19:47] pixelzoom commented on #159
I have implemented the proposal described in https://github.com/phetsims/gas-properties/issues/159#issuecomment-518809409, and it's working nicely.  It involves minimal/isolated changes to 9 files, and no architectural changes, so I'm confident that it will not destabilize the sim.  I will not commit it until the proposal is approved.

[2019-08-06 20:44] pixelzoom commented on #148
To summarize what needs to be verified in 1.0.0-rc.3:

* Click anywhere on the stopwatch or collision counter to move it to the front.
* Check the associated checkbox to move the stopwatch or collision counter to the front.
* Drag anywhere on the stopwatch or collision counter to move it, except on interactive subcomponents (buttons, ComboBox).
* Verify that you can't put something (e.g. the stopw

[2019-08-07 02:26] kathy-phet commented on #159
This seems like a reasonable approach to me, thanks! But note I haven’t played with master to see the new changes, just read the thread.

Sent from my iPhone

On Aug 6, 2019, at 1:47 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

I have implemented the proposal described in #159 (comment)<https://github.com/phetsims/gas-properties/issues/159#issuecomment-51880

[2019-08-07 15:11] pixelzoom commented on #159
I went ahead and pushed this change.   It behaves as described in https://github.com/phetsims/gas-properties/issues/159#issuecomment-518809409.

@arouinfar @KatieWoe please review in master.

[2019-08-07 15:12] pixelzoom commented on #161
Since this is a prerequisite to #159, I went ahead and pushed this change to master and 1.0 branches. @arouinfar and @KatieWoe please review in master.

[2019-08-07 15:37] KatieWoe commented on #146
Looking on master (8/7/2019) and something has definitely caused a big hit to performance.  It happens on firefox too at least, so this may not be the best place for it, but adding particles/a sizable number of particles in the box can drop the fps to 7 and lag is very noticable.
![somethinghitperformance](https://user-images.githubusercontent.com/41024075/62636578-07466e80-b8f7-11e9-8f11-251b35fb

[2019-08-07 15:39] KatieWoe commented on #159
Looks good on master

[2019-08-07 15:39] KatieWoe commented on #161
Looks good in master

[2019-08-07 16:49] pixelzoom commented on #146
@KatieWoe questions:
* Are you running in requirejs mode or a built version?
* Are you running with or without `?ea`
* Does this occur with 1.0.0-rc.2?

[2019-08-07 16:49] KatieWoe commented on #146
requirejs, with, not that I noticed

[2019-08-07 16:54] pixelzoom commented on #146
Thanks @KatieWoe. We established in https://github.com/phetsims/gas-properties/issues/144 that running with `?ea` results in a performance hit because of PhET-iO, and that we're willing to accept that performance hit until we investigate PhET-iO performance.

Can you please verify that performance is OK _without_ `?ea`.

[2019-08-07 17:10] KatieWoe commented on #146
Confirmed.  Sorry about that.

[2019-08-07 17:11] pixelzoom commented on #146
No problem, my heart rate has returned to normal :)

[2019-08-07 19:13] pixelzoom commented on #139
Occurred in gases-intro on 8/6/19, and is hitting the assertion that was added in https://github.com/phetsims/gas-properties/issues/139#issuecomment-511902359.  It looks like temperature is negative, which should not occur.

[code]

[2019-08-07 19:57] arouinfar commented on #159
Thanks @pixelzoom. Master is looking good to me.

[2019-08-07 20:07] arouinfar commented on #161
This sounds reasonable to me @pixelzoom. The handle doesn't have visible pointer areas so I would want to make sure the touch area is reasonably dilated, similar to the `BicyclePumpNode` handle.
![image](https://user-images.githubusercontent.com/8419308/62654266-a762be80-b91c-11e9-8716-2c4edd083b62.png)

[2019-08-07 20:27] pixelzoom commented on #161
Pushed to master and 1.0 branches. The handle's `touchArea` is now dilated by (25,20) -- that's x and y dilation.   See screenshot below.   @arouinfar please review.

<img width="838" alt="screenshot_1301" src="https://user-images.githubusercontent.com/3046552/62655506-5d2f0c80-b91f-11e9-9877-9fe21a3e77df.png">

[2019-08-07 20:33] arouinfar commented on #161
@pixelzoom the screenshot in https://github.com/phetsims/gas-properties/issues/161#issuecomment-519256112 looks good to me, and the handle is easy to move on my phone.

[2019-08-07 20:33] pixelzoom commented on #161
Great.  To be verified in 1.0.0-rc.3.

[2019-08-07 20:37] pixelzoom commented on #159
To be verified in 1.0.0-rc.3.

[2019-08-08 01:29] pixelzoom commented on #77
Since the 1.0 branch was created, there have been extensive PhET0-iO changes that were not patched into the 1.0 branch.   When it's time to do a `brand=phet-io` release, plan on doing it in a new branch, with master shas, and a complete QA process.

[2019-08-08 01:32] pixelzoom commented on #30
Self unassigning until the PhET-iO design process is restarted.

[2019-08-08 21:51] pixelzoom commented on #159
I realized that commit 4de909f9033588b2db6d13550ef389f83018b18a duplicates a bunch of code that was already in place to solve the problem or adjusting particle speeds to match a specific temperature.   So I have replaced most of that commit with the above commit (in master and 1.0 branches).

@arouinfar and @KatieWoe sorry to ask you to do this, but please verify again.

[2019-08-08 21:56] pixelzoom commented on #139
In 872a05eddf3bec5a21225420749d505089ceef81, I added more detail to the assertion in `ParticleSystem.addParticles` (in master and 1.0 branches).

[code]

[2019-08-08 22:06] arouinfar commented on #159
Master is still looking good to me @pixelzoom.

[2019-08-08 22:34] pixelzoom commented on #139
After hours of fuzz testing, I have not been able to reproduce this locally.

[2019-08-08 22:37] pixelzoom commented on #159
I see that @KatieWoe is out this afternoon.  So I'm going to move forward, and she can verify this in 1.0.0-rc.3.

[2019-08-09 00:16] pixelzoom opened #162 "Update design doc for Hold Constant mode “Temperature (T)”"
In #159, we made a number of design changes related to Hold Constant mode “Temperature (T)”.  @arouinfar do you think the design doc should be updated to reflect these changes? The design doc is otherwise up-to-date, which is nice.

This is not a prerequisite for publishing 1.0.0, it can be done at any time.

[2019-08-09 18:19] lmulhall-phet commented on #159
The behavior described in https://github.com/phetsims/gas-properties/issues/159#issuecomment-518809409 looks good in 1.0.0-rc.3.

[2019-08-09 18:40] JRomero0613 opened #163 "Exiting Fullscreen on Safari Does Not Resize Immediately"
**Test device**
MacBook Air
**Operating System**
macOS 10.14.6
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/399. On macOS 10.14.6 on Safari I have noticed some problems when a large amount of particles are present and full screen mode is exited. The behavior of this problem differs from time to time and sometimes it has little or no impact on the sim perform

[2019-08-09 18:52] lmulhall-phet commented on #148
**1.0.0-rc.3**

- [x] Click anywhere on the stopwatch or collision counter to move it to the front.
- [x] Check the associated checkbox to move the stopwatch or collision counter to the front.
- [x] Drag anywhere on the stopwatch or collision counter to move it, except on interactive subcomponents (buttons, ComboBox).
- [x] Verify that you can't put something (e.g. the stopwatch) between a ComboBo

[2019-08-09 18:56] pixelzoom commented on #163
Thanks @JRomero0613.

Fullscreen is a general feature, and there's nothing sim-specific related to it in Gas Properties.  And as you noted, the problem occurs with other sims (e.g. SOM) to various degrees, depending on sim complexity.

I have no familiarity with this feature, and no idea why the behavior described above would occur. This will probably require investigation by @jonathanolson.

Assi

[2019-08-09 19:00] KatieWoe commented on #161
Looks good rc.3

[2019-08-09 19:00] #161 closed

[2019-08-09 19:10] JRomero0613 commented on #163
This also occurs on both Gases Intro screens with similar effects (time to resize differs greatly from time to time). The console does not give me any errors so I think it might be a purely performance based issue.

[2019-08-09 19:15] pixelzoom commented on #163
@JRomero0613 if the sim is paused, does the problem go away?

[2019-08-09 20:39] KatieWoe commented on #163
Yes, pausing does seem to help/solve the problem.  A few things I found in addition: leaving using the phet menu also causes the problem, going to another browser such as chrome seems to solve it.

[2019-08-09 21:24] KatieWoe opened #164 "Fire/ice layering is inconsistent"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/401 and https://github.com/phetsims/QA/issues/399
The layering for the fire/ice coming out of the bucket is inconsistent.  If activated by the user it is in front of the particle container.  If it is activated to maintain pressure by the sim, it is behind.
**Steps t

[2019-08-09 21:40] pixelzoom commented on #164
Reproduced.

I'm not sure if this is worth addressing for 1.0.0 release.  For https://github.com/phetsims/gas-properties/issues/160, we will be changing to use 1 instance of `HeaterCoolerNode` for PhET-iO, and that's liable to happen soon after publication.   If we're going to fix this for 1.0.0, we should probably do it by addressing https://github.com/phetsims/gas-properties/issues/160.

@arouin

[2019-08-09 22:25] KatieWoe commented on #164
This also applies to the width label if activated

[2019-08-09 22:37] pixelzoom commented on #164
@KatieWoe to clarify.... You mean that in "Pressure T" mode, the fire/ice is behind the Width indicator, and in other modes it's in front of the Width indicator.  Is that correct?

[2019-08-09 22:40] KatieWoe commented on #164
Yes

[2019-08-09 23:30] pixelzoom commented on #164
I spent an hour on option (c), address via #160.  I have not committed it.  It's a very significant change for this late in the game, but it seems to be working fine.  I'll be happy to go for it, if we don't mind another RC test cycle.  Of I can stash the changes and apply them to master (and a 1.0 maintenance release?) after 1.0.0 is published.

[2019-08-10 01:58] pixelzoom commented on #160
Some badness in `AnimatedHeaterCoolerNode`:

[code]

`this.upAnimation` does not exist, should be `this.animation`.  But be careful about just changing it; it results in jerky behavior.    This needs to be removed in the animation code on line 108:

[code]

[2019-08-10 12:30] pixelzoom commented on #164
I propose that we publish 1.0.0 with this as a (very minor) known problem, then immediately address this (and #160) in maintenance release 1.0.1.   @arouinfar or @ariel-phet let me know if that is acceptable.

[2019-08-10 12:32] pixelzoom commented on #163
I propose that we publish 1.0.0 with this as a known problem.  Then create a joist issue to investigate the general problem, followed by a batch maintenance release for all affected sims.  @ariel-phet is that acceptable?

[2019-08-10 12:33] pixelzoom commented on #160
Addressing this issue is the preferred way of addressing #164.

[2019-08-12 02:27] arouinfar commented on #164
That sounds reasonable to me @pixelzoom.

[2019-08-12 16:07] ariel-phet commented on #163
@pixelzoom quite acceptable. I think the main use case is entering full screen, exiting full screen is not too much of a worry to me if you are exiting full screen after having used the sim.

I agree to go ahead and make a joist issue (please assign to me for the time being), but I do not necessarily feel this is worthy of a batch maintenance release, perhaps when we fix the issue just have it in

[2019-08-12 16:10] ariel-phet commented on #164
@pixelzoom yes, I think totally fine to publish initial version as is.

@KatieWoe really nice attention to detail!

[2019-08-12 16:27] pixelzoom commented on #163
I've create issue https://github.com/phetsims/scenery/issues/993 to track the general problem.

Since will not be fixed for 1.0.0 or in a maintenance release, I'm going to close this issue as "won't fix".

[2019-08-12 16:27] #163 closed

[2019-08-12 20:41] pixelzoom commented on #164
Deferred until 1.0.1.

[2019-08-12 21:44] #159 closed

[2019-08-12 21:44] #148 closed

[2019-08-12 22:03] pixelzoom commented on #1
Implementation and QA tasks are done.  Assigning to @arouinfar to complete the Design checklist.

[2019-08-12 22:10] #158 closed

[2019-08-12 22:32] pixelzoom commented on #160
This will be addressed and regression tested in #164.  Closing.

[2019-08-12 22:32] #160 closed

[2019-08-12 22:34] pixelzoom commented on #164
Addressed in master and 1.0 branches.  There is now a single instance of HeaterCoolerNode, used for all Hold Constant modes.  The layering is such that the flame/ice is in front of the container and dimensional "Width" arrows.

@KatieWoe @arouinfar please test in master.  If all looks well, I'll create 1.0.1-rc.1.

[2019-08-12 22:58] KatieWoe commented on #164
Layering looks good on master

[2019-08-12 23:57] pixelzoom commented on #164
@KatieWoe If you didn't already do so, please also verify that animation of the flame/ice looks correct in "Pressure T" mode.  Sorry that I didn't specify _what_ to verify.

[2019-08-13 00:02] pixelzoom commented on #164
@KatieWoe If you didn't already do so, please also verify that the bucket behaves as expected in all Hold Constant modes, and (especially) that animation of the fire/ice looks correct in "Pressure T" mode.  Sorry that I didn't specify _what_ to verify.

[2019-08-13 02:18] jonathanolson commented on #146
@samreid it does not currently support clipping. This could potentially be added with partial support (for axis-aligned rectangles), but the general issue would need to wait until we have code designed to draw paths for WebGL.

I added some optimizations, and merged the scenery work to master. However I'm curious about a few performance-related items that came up when reviewing performance traces

[2019-08-13 03:15] ariel-phet commented on #146
@jonathanolson I don't think you need to do anything else here in the near term. The sim reached acceptable levels with other optimizations.

@pixelzoom you may want to look at a few of the things above, in terms of optimizing performance if we do a maintenance release in the near future (if it is low hanging fruit).

[2019-08-13 03:27] pixelzoom commented on #146
@jonathanolson said:

There was originally a single Canvas for all particles (inside and outside the container).  Consulting with @jonathanolson on 5/20/19, he told me that it would be more performant to have 2 size-optimized Canvases, rather than the single canvas. So `IdealGasLawParticleSystemNode` was reimplemented in https://github.com/phetsims/gas-properties/commit/9f98e538c307680e13172d1556f

[2019-08-13 15:03] KatieWoe commented on #164
Looks right to me

[2019-08-14 16:40] KatieWoe opened #165 "Gas particles slow down or speed up when hitting a moving wall"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
If a particle hits a moving wall that is not controlled by the user it will change speed in a way that is not reflected by temperature.  To do this the wall must be moving to change volume in order to keep pressure constant.  If the wall is moving in the particle speeds up, and if it is moving out it will s

[2019-08-14 19:14] jonathanolson commented on #146
It would benefit only if the "outside" CanvasNode isn't included with its bounds all the time. Right now, even if there are no particles outside, Scenery still needs to have its actual Canvas covert the entire upper region. I'm happy to collaborate on this, and `?showFittedBlockBounds` should display where the actual Canvas is.

I had been testing the reproduction instructions in this issue, speci

[2019-08-14 22:32] pixelzoom commented on #165
For posterity, this refers to version 1.0.0.

[2019-08-15 21:40] pixelzoom commented on #165
I was going to hypothesize that the moving wall has non-zero velocity in the situation.  But that is not the case.   The heat/cool will definitely be applied to particles in the container.   But the overall behavior here is indeed odd.  Continuing to investigate...

[2019-08-19 21:18] jonathanolson opened #166 "Testing for popup maintenance release"
The 1.0 release branch was patched for https://github.com/phetsims/phet-ios-app/issues/508, but I won't be including it in the normal RC/production cycle, as there are commits on the branch that will need their own testing.

On the next RC for the 1.0 branch, I'd like a spot-check to make sure that the patch didn't cause problems (test the popups/external links briefly as normal, and if possible t

[2019-08-20 18:50] pixelzoom commented on #165
I added some debug code to monitor the particle speed in the scenario shown in https://github.com/phetsims/gas-properties/issues/165#issue-480779541.    At the end of `IdealGasLawModel.stepSystem` (after applying heat, stepping particles, and doing collision detection), I added:

[code]

The speed behaves as expected. It increases when heat is applied, decreases when cool is applied, and does not

[2019-08-20 18:58] pixelzoom commented on #165
Performance improves if I remove this line from `IdealGasLawModel.compensateForHoldConstant`:

[code]

This is the function that redistributes particles in the container when its width changes.  This usually happens while the user is resizing the container and the particles are paused, so there's no noticeably performance issue.  But in the case, the particles are moving.  But I'm surprised that i

[2019-08-20 19:04] pixelzoom commented on #165
Looking at the model code, there's not much going on here.  But animating the container is resulting in a lot of view changes -- the container and its lid are redrawn each time the container's width changes. So there's a lot of scenery stuff going on here.

[2019-08-20 19:11] pixelzoom commented on #165
Here's the code in IdealGasLawContainerNode that redraws the container shape:

[code]

So there's a new `Shape` created each time.  @jonathanolson would there be a performance advantage to mutating the same `Shape`?  And do I need to tell the `Path` (`wallsNode`) that its associated `Shape` has changed?

[2019-08-20 19:21] pixelzoom commented on #165
`modelViewTransform.modelToViewDeltaX( container.wallThickness / 2 )` is a constant, so I can factor that out of the `container.boundsProperty` listener.

[2019-08-20 19:25] pixelzoom commented on #165
`modelViewTransform.modelToViewBounds( bounds ).dilated` should be changed to `dilate`, so that an additional `Bounds2` instance is not created.

[2019-08-20 19:36] pixelzoom commented on #165
Oh - I know what's happening.  It's not a performance issue.  The particle looks like it's slowing down because `redistributeParticles` adjusts (scales) the x position of particles as the container width is changed.

I don't see any way around this. If we don't call `redistributeParticles`, then if the container has a large decrease in volume on a tilmestep, we can end up with particles that are t

[2019-08-20 19:44] pixelzoom commented on #165
In the above commits, I pushed the minor performance improvements described in https://github.com/phetsims/gas-properties/issues/165#issuecomment-523158423 and https://github.com/phetsims/gas-properties/issues/165#issuecomment-523159922 to master and 1.0 branches.  They are worth doing, but will not impact the behavior reported in this issue.

[2019-08-20 20:05] pixelzoom commented on #146
I reviewed `HistogramModel` and don't see any obvious opportunities for optimizing algorithms. I'm guessing that most of the cost is in array allocation for samples and bin counts.  And changing that (e.g. preallocating and reusing arrays) would be nontrivial.

[2019-08-21 03:08] arouinfar commented on #165
Thanks for reporting @KatieWoe.

Reading through @pixelzoom's investigation/comments, I agree with this:

I think we can go ahead and mark this as `type:wontfix`, but since there were some changes made in https://github.com/phetsims/gas-properties/issues/165#issuecomment-523166327, we should probably leave this open. I'll defer testing to @KatieWoe.

[2019-08-21 15:37] pixelzoom commented on #165
I unassign this until we begin the next RC cycle, where we'll verify that the minor performance improvements didn't break anything.  That can be verified by manually resizing the container, and allowing it to automatically resize in "Pressure V" mode.

[2019-08-21 15:41] pixelzoom opened #167 "Minor performance improvements to container rendering"
In https://github.com/phetsims/gas-properties/issues/165#issuecomment-523158423 and https://github.com/phetsims/gas-properties/issues/165#issuecomment-523159922, I recommended 2 minor performance improvements to rendering of the container.   The commit was https://github.com/phetsims/gas-properties/commit/3d0dcdbc41de04964b973173b98ba0e6e2152871, in master and 1.0 branches.

This issue exists to r

[2019-08-21 15:42] pixelzoom commented on #165
I've moved the performance improvements to their own issue, https://github.com/phetsims/gas-properties/issues/167, for regression testing.

So this issue can now be closed.

[2019-08-21 15:42] #165 closed

[2019-08-22 19:17] arouinfar commented on #164
Looks good in master @pixelzoom

[2019-08-30 14:13] pixelzoom opened #168 "CT: invalid temperature: null"
[code]

[2019-08-30 14:14] pixelzoom commented on #139
gases-intro : phet-io-tests : no-assert
9 out of 9 tests passed. 0 failed.

Approximately 8/29/2019, 8:38:16 PM
gases-intro : xss-fuzz : run
Query: brand=phet&ea&fuzz&stringTest=xss&memoryLimit=1000
Uncaught Error: Assertion failed: invalid temperature: -8.295307909979158 n=28, meanTemperature=300, collisionsEnabled=true
Error: Assertion failed: invalid temperature: -8.295307909979158 n=28, meanTe

[2019-08-31 17:06] pixelzoom commented on #168
I'm going to defer work on this until 1.0.1 is published, since that RC process is close to wrapping up.

[2019-09-03 17:29] oliver-phet opened #169 "Units of pressure"

[2019-09-03 18:12] samreid opened #170 "Generalize Stopwatch and StopwatchNode"
The design for Circuit Construction Kit: AC calls for a stopwatch.  I noticed that gas-properties/js/common/model/Stopwatch.js and gas-properties/js/common/view/StopwatchNode.js look like good candidates for generalization.  They have features that most other sims will need to leverage as well, including moveToFront, interrupting user interactions, dragging, drag bounds, etc.  I would be duplicati

[2019-09-05 02:07] pixelzoom commented on #170
This seems reasonable. But I won't have time to evaluate for about a week.  In the meantime, gas-properties is in the middle of RC testing for a maintenance release. I'd appreciate it if we didn't make changes to gas-properties master until that maintenance release is published, because it may complicate cherry picking.

[2019-09-05 14:36] pixelzoom commented on #170
By the way... There are a couple of things that I really don't like about `StopwatchNode`, issues that are rooted in `TimerNode` and `TimerReadoutNode`:

* The timer stops when it reaches a max. It would be OK as an option (not sure when I'd want to use it) but it's unacceptable as the only behavior.  Imo, a design flaw.
* The value display is not general.  It can only show "HH:MM:SS" or a value t

[2019-09-05 14:43] pixelzoom commented on #169
bar is also not an approved SI unit, see https://en.wikipedia.org/wiki/Bar_(unit).

1 mbar = 0.1 kPa, so I'm not convinced that adding mbar units would be a valuable addition.

[2019-09-05 16:05] arouinfar commented on #169
The Pa is the SI unit for pressure, although 1 Pa is pretty small. Generally, atmospheric pressures are expressed in mbar, but since that's so close to kPa (and would add extra digits to the pressure reading) I'm also inclined to pass for now. However, if this ends up being a common request, we may want to add mbar as an option.

I'll close this for now, but @oliver-phet if you end up getting more

[2019-09-05 16:17] pixelzoom commented on #169
Notes for the future on how to add mbar, which is relatively straightforward:

* Add `@public {DerivedProperty} presureMbarProperty` to `PressureGauge` constructor
* Add `MBAR` to `PressureGauge.Units`
* Add `MBAR` related "choice" to `items` in `PressureDisplay` constructor
* Add "mbar" string to gas-properties-strings_en.json

[2019-09-06 00:12] pixelzoom commented on #169
Reopening to make sure that @oliver-phet has followed up with the user who requested this feature. @oliver-phet please close when that's been done.

[2019-09-06 15:46] oliver-phet commented on #169
Replied to user.

[2019-09-06 15:46] #169 closed

[2019-09-06 22:54] arouinfar commented on #162
Done.

[2019-09-06 22:54] #162 closed

[2019-09-09 20:51] arouinfar commented on #99
Teacher Tips have been uploaded, closing.

[2019-09-09 20:52] #99 closed

[2019-09-09 21:48] arouinfar opened #171 "Create Sim Primer"
For #1

[2019-09-09 21:58] arouinfar opened #172 "LoL icons/descriptions"
For #1

Sims/screens to deliver to LoL

1. Gases Intro - Intro
2. Gases Intro - Laws
3. Gas Properties - Explore
4. Gas Properties - Energy
5. Gas Properties - Diffusion

- [x] Icons
- [x] Metadata
- [x] Deliver to LoL

[2019-09-09 22:01] arouinfar commented on #172
Delivery will wait until the updated version is deployed. Testing is currently underway in https://github.com/phetsims/QA/issues/415 and https://github.com/phetsims/QA/issues/416.

[2019-09-10 12:18] pixelzoom commented on #170
I said:

When I wrote that, Gas Properties 1.0.1 RC testing was close to completion.  But it has now been downgraded to "medium" priority (see https://github.com/phetsims/QA/issues/415#issuecomment-528464479) and the QA queue looks pretty full.  https://github.com/phetsims/circuit-construction-kit-common/issues/449 is "Publish CCK AC 1.0 by January 31, 2020" so maybe that's OK.   Mentioning @samre

[2019-09-10 12:31] pixelzoom commented on #170
`Stopwatch` looks like it's already generalized. It has no dependencies on `GAS_PROPERTIES` other than namespace.

`StopwatchNode` does have dependencies on  `GAS_PROPERTIES`
* `GasPropertiesQueryParameters.origin` can just be deleted, or replaced with `?dev`.
* `GasPropertiesColorProfile.stopwatchBackgroundColorProperty` can be replaced (and deleted) with `'rgb(  80, 130, 230  )'`, unless there's

[2019-09-10 12:38] pixelzoom commented on #170
One thing that I just noticed...  All `Stopwatch` Properties are instrumented for PhET-iO.  One of those Properties is `this.visiblePropery`, which may be irrelevant (or undesirable for instrumentation) if you are dragging the Stopwatch out of a toolbox.  In Gas Properties, visibility was controlled via a checkbox, and `StopwatchNode` observes this Property.  Not sure what you'll want to do here d

[2019-09-13 15:04] ariel-phet opened #173 "User suggestion: gravity controls to support evaporation"
We are not going to change the current sim, however a user wrote to me on twitter with the following use case that we might want to support in a future version of the sim when we have more macroscopic scales (to support things like atmospheric science goals)

The user wrote:

Marking deferred, but putting here to record the suggestion for now.

[2019-09-13 16:29] pixelzoom commented on #173
A clarification about the mention of "future version of the sim" above... Removing the gravity feature was a deliberate choice made during the design process. We decided that gravity was not essential to the learning goals of Gas Properties, and would be addressed in another (new) sim. This simplifying assumption was one of the reasons why we completed implementation significantly sooner than anti

[2019-09-13 16:35] ariel-phet commented on #173
Yes @pixelzoom, exactly correct

[2019-09-23 21:32] pixelzoom opened #174 "test patch for phetsims/phet-ios-app#508"
Patch for phetsims/phet-ios-app#508 has been applied to master and 1.0 branch, but was not published.  It needs to be regression tested in next 1.0 release.

[2019-09-23 21:33] pixelzoom commented on #174
@ariel-phet @jonathanolson looks like this got release as part of the patch release for phetsims/phet-core#64.

[2019-09-23 21:35] pixelzoom commented on #174
Looks like this was vetted in https://github.com/phetsims/gas-properties/issues/166. Closing.

[2019-09-23 21:35] #174 closed

[2019-10-08 15:07] KatieWoe opened #175 "CT cannot read property width of null"
Happens in Gasses Intro too
[code]

[2019-10-08 17:58] pixelzoom commented on #175
The relevant stack trace is:

[code]

@zepumph has been working in Dialog, e.g. https://github.com/phetsims/sun/issues/525.  I suspect that this is related.

[2019-10-08 18:06] zepumph commented on #175
Yes sorry I didn't see this until now. I committed a fix and explained it over in https://github.com/phetsims/sun/issues/525#issuecomment-539613896. Please pull sun and confirm fixed @pixelzoom. The changes are out for your review over in that issue. Feel free to close this if you see it is fixed locally.

[2019-10-08 18:10] pixelzoom commented on #175
Fix over in phetsims/sun#525  looks reasonable.  I'll close this when CT is green.

[2019-10-08 19:14] pixelzoom commented on #175
CT is green. Closing.

[2019-10-08 19:14] #175 closed

[2019-10-24 16:14] ariel-phet commented on #1
I think all remaining items here are for @arouinfar

[2019-10-24 16:16] arouinfar commented on #172
Delivered to LoL 10/10, closing.

[2019-10-24 16:16] #172 closed

[2019-10-26 03:48] arouinfar commented on #171
We don't have anyone currently working on video production, and I don't have the bandwidth for primers right now. Marking as `status:on-hold`.

[2019-10-27 20:17] samreid commented on #170
Tagging as potential work for https://github.com/phetsims/circuit-construction-kit-common/issues/528

[2019-11-08 19:25] jbphet commented on #173
Got this from a member of the Astrophysical & Planetary Sciences dept here at CU:

software environment.  I thought you should know, though, that
I (and other astronomers and atmospheric scientists) really miss
that the new Gas Law PHeT doesn’t have an option to turn on gravity
like the old one does.

due to gravity, and so I used that PHeT feature in every planetary science course that I taught.

[2019-11-13 15:56] KatieWoe commented on #168
[code]
Another example

[2019-11-13 17:17] pixelzoom commented on #168
Both of the above examples are occurring in the same situation, in the same code.

The assertion failure occurs in `setTemperature` at line 328 of `ParticleSystem`:

[code]
<br>

The call to `setTemperature` occurs at line 221 in `IdealGasLawModel`, while temperature is being held constant:

[code]

[2019-11-22 17:01] pixelzoom opened #176 "CT: assertions related to "Return Lid" button"
This occurred in CT for gases-intro, but the code lives in gas-properties.

I suspect that this is not a sim-specific problem, but an issue with SCENERY/PressListener. It looks like the "Return Lid" button is being fired while it's already firing ("Cannot fire when already firing"). I've never seen this before, so not sure if it's a latent or new issue.

Before investigating, I'll inquire about Pr

[2019-12-16 19:09] samreid commented on #170
Gas Properties 1.0.3 has been published.  I'll take a look around.

[2019-12-16 19:13] samreid commented on #170
Note that the proposed renamings in https://github.com/phetsims/scenery-phet/issues/530 will affect how this work can be done, since there could be naming collisions.

[2019-12-17 01:35] pixelzoom commented on #170
I understand that work has resumed on this.  Are you addressing any of the problems identified in https://github.com/phetsims/gas-properties/issues/170#issuecomment-528394405?

[2019-12-17 01:38] samreid commented on #170
I reviewed both of those requests but have not begun investigating them.  My initial commits will focus on:

* moving Stopwatch to scenery-phet
* renaming SCENERY_PHET/TimerNode to SCENERY_PHET/StopwatchNode
* Adding features from GAS_PROPERTIES/StopwatchNode to SCENERY_PHET/StopwatchNode and adapting the API accordingly
* Updating all simulation to use the new API

[2019-12-17 18:25] samreid commented on #170
I've completed an initial pass of this work, I'll begin commits and pushes.  I've marked several TODOs referring to this issue which should be done after initial pushes, or, in many cases, converted to new issues.

[2019-12-17 19:08] pixelzoom commented on #168
Another data point:

[code]

[2019-12-17 19:23] samreid commented on #170
I opened issues for other repos where review will be required.  I'll now push changes for Gas Properties and common code changes linked to this issue.  Note there are still 9 TODOs marked referencing this issue.  As noted above, these should addressed after initial pushes, or converted to issues.  I'm still working on this and will reassign to @pixelzoom once it's ready for review.  I'll hold off

[2019-12-17 19:40] pixelzoom commented on #170
I know this is not "review ready", but a couple of quick notes above the above commits...

(1) In https://github.com/phetsims/gas-properties/commit/f19e5619e1e21fad251700c3ed87d763c1945f13, GAS_PROPERTIES/BaseModel is using a hardcoded string literal: `units: 'ps'`.   Please require 'AXON/units' and use `units.ps`.

(2) I see that `visibleProperty` has been changed to `isVisibleProperty`.  I get i

[2019-12-17 20:26] samreid commented on #170
I addressed that in the preceding commit.

It seemed odd to have `visibleProperty` adjacent to `isRunningProperty` in Stopwatch.js.  I also recalled a more recent consensus that boolean attributes and properties should typically begin with `is`, but I do not know where to find a paper trail on this, or whether we have cited an exception for `visibleProperty`.  Let's discuss further.

I'm now wonde

[2019-12-17 20:58] samreid commented on #170
I set this to run with `?dev`.

I set that as the default, and gas properties supplies:

[code]

I moved this to scenery-phet as a top-level class.

It seems appropriate to instrument these properties, even when using a toolbox pattern.

What's been committed so far is ready for review.  @pixelzoom are you available to review this work?  Please note there are 4 TODOs marked with `https://github.co

[2019-12-17 21:17] samreid commented on #170
I saw some issues on CT I'd like to address before review.  Reassigned to me.

[2019-12-17 22:21] samreid commented on #170
I updated phet-io concerns in the above commits.  Back to @pixelzoom for review.

[2019-12-18 02:38] pixelzoom commented on #170
There are a lot of commits here.  As far as I can tell, I’m reviewing `Stopwatch`, `StopwatchNode`, `StopwatchReadoutNode`, `DragBoundsProperty`, and `ComponentsScreenView` (all in scenery-phet).  If I missed any, please point them out.

Due to lack of time, I am not going to review the changes that were made to sims other than Gas Properties. If that's necessary, please assign to responsible deve

[2019-12-18 16:51] samreid commented on #170
The units specified to a model property are not internationalized.  In the preceding commit, I corrected a problem in Gas Properties where it was treating units as an `Enumeration`.  But I'm wondering if AXON/units should be converted to an enumeration.  What do you think?

[2019-12-18 18:00] pixelzoom commented on #170
Thanks for catching the Gas Properties problem.

I don't think `units` should be changed to an Enumeration, because I think we'd prefer to see 'm/s^2' rather than 'METERS_PER_SECOND_SQUARED' in the Studio and the PhET-iO data stream.

[2019-12-21 17:12] samreid commented on #170
In wave interference, if `interruptSubtreeInput` was called when the node is made visible, it triggered a re-entrant property.  So for the common code, `interruptSubtreeInput` is only called when the node is hidden (this is different than how it was for gas properties alone).

[2019-12-21 17:42] pixelzoom commented on #170
That seems fine.  `interruptSubtreeInput` only really needs to be called when something becomes invisible.   In Gas Properties, there was no harm in calling it whenever visibility changed, and it simplified the logic.

[2019-12-23 17:06] samreid commented on #170
Thanks for the review, I think I addressed each of the recommendations, some here and others in related issues referenced above.  Back to @pixelzoom for feedback.

[2019-12-26 19:01] pixelzoom commented on #170
There are still problems in both Stopwatch and StopwatchNode.

In Stopwatch, you didn't follow the pattern of putting disposal in `this.disposeStopwatch`, and `dispose` was missing override annotation.  Since those fixes were straightforward, I handled them in the 2 commits above.

In StopwatchNode:

- [ ] There's no need for `this.dragListener`, it can be `let dragListener`.

- [ ] Comment "may b

[2019-12-27 20:51] samreid commented on #170
Those are conflated at the moment, the docs for that option are:

[code]

That is to say, if visibleBoundsProperty is not provided, the node is not draggable at all.  How do you recommend to proceed?

[2019-12-28 11:36] samreid commented on #170
I made that change in https://github.com/phetsims/scenery-phet/commit/e3f49a717163355dc1ee3fdcca4302644d266cf5 then CT pointed out that it is used for drag forwarding.  So restored it in https://github.com/phetsims/scenery-phet/commit/49c38f2a25b691e3f08086ea809c0333504ac3ed and annotated it as `@public`.

[2019-12-31 17:09] pixelzoom commented on #170
Where is `this.dragListener` used for drag forwarding?  And is it wise to make something that part of the public API when it may be `null`?

Sounds like a bug.  If there are no drag bounds, then StopwatchNode should still be draggable, with no constraints on the drag bounds.

[2019-12-31 18:48] samreid commented on #170
Would you recommend a boolean `isDraggable` option?  Would you mind a check that if `isDraggable` is true, that the `visibleBoundsProperty` is required, at least until we have our first sim design where the timer should be draggable out of bounds?

[2019-12-31 22:33] pixelzoom commented on #170
I guess we can still with `visibleBoundsProperty`, since I don't see a need to drag outside the visible bounds.  Just bringing it up because that wasn't my original intention when I added this feature for Gas Properties.

Thanks for clarifying about `this.dragListener`, current API seems reasonable.  Might be nice to add a comment about why it's `@public`.

[2020-01-01 16:12] samreid commented on #170
Good idea, I added a note.  Anything else to do for this issue?

[2020-01-01 16:35] pixelzoom commented on #170
Looks good.  Thanks for tackling this issue.  Closing.

[2020-01-01 16:35] #170 closed

[2020-02-18 16:51] pixelzoom opened #177 "CT: invalid dt: 0"
Related to https://github.com/phetsims/phet-io/issues/1614.

CT assertion failure occurring in gas-properties, gases-intro, and diffusion:

[code]

[2020-02-24 19:27] pixelzoom commented on #176
This hasn't occurred in 3 months, so closing.

[2020-02-24 19:27] #176 closed

[2020-02-24 19:37] pixelzoom commented on #177
This is failing because PhET-iO now restores view state by calling `step( 0 )`.

There are 6 places in view code where this assertion occurs:

[code]

I'll have to track down places where `dt = 0` could be a problem in the view.

[2020-02-24 20:11] pixelzoom commented on #177
I didn't find any potential problems with `dt=0` in view code, so I simply changed the above assertion to:

`assert && assert( typeof dt === 'number' && dt >= 0, `invalid dt: ${dt}` );`

Tested with:

`http://localhost/~cmalley/GitHub/phet-io-wrappers/state/?sim=gas-properties&fuzz`

I'll watch CT for a coupe of cycles before closing.

[2020-02-24 21:43] pixelzoom commented on #177
CT is looking good after 3 cycles. Closing.

[2020-02-24 21:43] #177 closed

[2020-02-24 23:19] pixelzoom commented on #147
All required tandems have been added, and the sim is showing 0 required tandems with `?phetioPrintMissingTandems`.

The sims is still not able to start with `?phetioValidateTandems` because of a bug in instrumentation of `HeaterCoolerNode`, see https://github.com/phetsims/scenery-phet/issues/579.  I'll leave this issue open until that issue is resolved.

[2020-02-24 23:31] pixelzoom opened #178 "CT: lightParticles has not been populated yet"
After fixing #177 (invalid dt: 0) adding all required tandems in #147, these 2  errors are occurring in CT for gas-properties, gases-intro, and diffusion:

[code]

Description of the `phet-io-state-fuzz` test in continuous-server.js is:

[code]

[2020-02-24 23:36] pixelzoom commented on #178
Here's the relevant code in ParticleSystem.js:

[code]

I'm guessing that this may have something to do with how PhET-iO now restores state.

@zepumph @samreid @chrisklus any thoughts?

[2020-02-24 23:45] pixelzoom commented on #178
I tried simply commenting out the 2 assertion in the above code:

[code]

The 2 errors noted by CT go away, but a new error occurs.  This one looks like a NumberProperty exceeding its range:

[code]

[2020-02-24 23:49] pixelzoom commented on #178
If I run `http://localhost/~cmalley/GitHub/phet-io-wrappers/state/?sim=gas-properties&fuzz`, without `phetioDebug`, then the errors go away.  What is `phetioDebug` doing that causes the dependencies of `this.numberOfParticlesProperty` to notify at a different time?

[2020-02-25 15:48] KatieWoe commented on #178
Noting that this also occurs in diffusion and gasses intro.

[2020-02-26 14:02] pixelzoom commented on #178
Hmm... This Error is also occurring occasionally:

[code]

[2020-02-26 14:03] pixelzoom commented on #178
And this variation of "has not been populated yet" in diffusion:

[code]

[2020-03-03 19:56] pixelzoom commented on #147
I addressed phetsims/scenery-phet#579, and this sim is now running in Studio with `phetioValidateTandems`.  Closing.

[2020-03-03 19:56] #147 closed

[2020-03-03 21:20] KatieWoe opened #179 "PhetioID alredy registered"
For ES6 Testing. Found in Gas Properties, Gases Intro, States of Matter, and States of Matter Basics. If you try to load the sim in studio or most other wrappers it freezes during loading and shows this error:
![gaspropbug](https://user-images.githubusercontent.com/41024075/75820726-1a6cd000-5d5a-11ea-931b-6062ff3e4ddb.png)

[2020-03-04 00:00] pixelzoom commented on #179
@KatieWoe I believed this has been fixed in https://github.com/phetsims/scenery-phet/issues/579. See also https://github.com/phetsims/gas-properties/issues/147#issuecomment-590598415 and https://github.com/phetsims/gas-properties/issues/147#issuecomment-594138626.   If it's still a problem, assign back to me.  Otherwise please close.

[2020-03-04 15:54] KatieWoe commented on #179
States of Matter is still running into a problem:
![statesproblem](https://user-images.githubusercontent.com/41024075/75897440-c9aab500-5df5-11ea-8c74-9b2ccbf085d9.png)

[2020-03-04 15:56] pixelzoom commented on #179
@KatieWoe  This is unrelated to the HeaterCoolerNode problem that was originally reported.  Please create a new issue for SOM.

[2020-03-04 15:58] #179 closed

[2020-03-09 20:40] KatieWoe opened #180 "State wrapper opens lid when moving wall"
For ES6 testing.
When moving the wall in the top sim, the bottom sim seems to open the box lid. This can lead to error messages that don't go away (as shown bellow) and the bottom sim crashing and no longer moving.
![confusedlid](https://user-images.githubusercontent.com/41024075/76255503-e428c800-6213-11ea-9ea8-58238734f139.gif)

[2020-03-09 20:48] pixelzoom commented on #180
@KatieWoe FYI, this sim has not been through PhET-iO design (see #30) and is not ready for PhET-iO testing.  You can continue to test if you'd like, but issues will not be immediately addressed.

[2020-03-10 16:37] pixelzoom commented on #178
Note that line number for above stack traces have changed, since this was reported before the conversion to ES6 modules.

Here's a new stack trace for gas-properties:

[code]

... and diffusion:

[code]

[2020-03-10 18:30] pixelzoom commented on #178
@samreid helped me with this via Zoom.

From https://github.com/phetsims/gas-properties/issues/178#issuecomment-590607230:

This is because `phetioDebug` automatically adds `ea` to the URL.  That has its own problems, as noted in https://github.com/phetsims/phet-io-wrappers/issues/339, but at least I understand it now.

The dependencies are not notifying at a different time.  What's happening is t

[2020-03-10 18:36] pixelzoom commented on #178
In the above commit, the assertions are skipped while state is being restored.  This will probably result in other similar downstream errors, but resolves this issue.   I leave this open until CT verifies that this Error is not longer occurring.

[2020-03-10 20:10] pixelzoom opened #181 "CT: value failed isValidValue"
Another CT failure related to the State wrapper, alternates with #178 and #182.  This stack trace is in gases-intro, but it also occurs in gas-properties.   It does not occur in diffusion.
[code]

[2020-03-10 20:11] pixelzoom commented on #178
This issue is resolved in CT.  There's a new downstream issue with the State wrapper, tracking in https://github.com/phetsims/gas-properties/issues/181.

[2020-03-10 20:17] pixelzoom commented on #178
Reopening. This same issue needs to be addressed in DiffusionModel.

[2020-03-10 20:21] pixelzoom commented on #178
Addressed in DiffusionModel, closing.

[2020-03-10 20:27] pixelzoom commented on #181
I asked the PhET-iO team how to identify which Property is failing. They recommended using "Pause on exception", or putting a `debugger` statement in assert.js.  Neither of those approaches works, I get the same call stack .  This is occurring when the sim is restoring state, setting a Property.   So there's no way to identify where that Property is defined.  Adding the phetioID to the assertion m

[2020-03-10 20:35] pixelzoom commented on #181
I guess we're not going to add the phetioID to the assertion message, because the assertion is in AXON/ValidatorDef, which shouldn't know anything about phetioID.

Inspecting the stack trace, I can find the phetioID:

NumberProperty.tandem.phetioID -> "gasProperties.idealScreen.model.container.lidWidthProperty"

[2020-03-10 20:57] pixelzoom commented on #181
Fixing this issue will certainly result in some other issue with restoring state, because this sim does not yet have a coherent PhET-iO implementation. So this issue is deferred pending PhET-iO design in #30.

[2020-03-11 14:38] pixelzoom opened #182 "CT: bad holdConstant state"
Another CT failure related to restoring PhET-iO state.  This one alternates with #181 and #178.  Since it's related to the "Hold Constant" feature, it almost certainly occurs in gases-intro, but not in diffusion.

[code]

Since the stack trace doesn't identify anything the specific Property, I'll need to use the technique described in https://github.com/phetsims/gas-properties/issues/181#issuecomm

[2020-03-11 16:23] pixelzoom commented on #182
Assertion failure is here in IdealGasLawModel.js:

[code]

My guess is that `holdConstantProperty` is being restored before `numberOfParticlesProperty` (or visa versa).   This is probably another place where we need to check `phet.joist.sim.isSettingPhetioStateProperty.value`.

But the more general issue is that this sim (and I suspect most sims) were not designed to have their Properties restored

[2020-03-11 17:55] pixelzoom commented on #182
@samreid, @chrisklus, and I worked on the general problem via Zoom.  See discussion in https://github.com/phetsims/axon/issues/276#issuecomment-597779549.

[2020-03-11 17:58] pixelzoom commented on #178
Reopening and removing the workaround that was applied in https://github.com/phetsims/gas-properties/commit/da9220367cc9469707f1494b58f143e64e644bc8.

Like #182, this stems from a more general problem in PhetioStateEngine.
@samreid, @chrisklus, and I worked on the general problem via Zoom. See discussion in phetsims/axon#276 (comment). A general solution should be in place before working on this i

[2020-03-18 21:35] zepumph opened #183 "DiffusionData shouldn't be phetioState:false"
Looking at DiffusionData with @samreid, we were confused to see `phetioState` as an option for a class that didn't extend PhetioObject. @pixelzoom do you think that should be removed?

[2020-03-18 22:22] pixelzoom commented on #183
Thanks, I removed `phetioState` from DiffusionData.

I'm guessing that I may have intended to add `phetioDocumentation` to DiffusionData, but never followed through.  We'll see if that's needed when we address PhET-iO Design in #30.

[2020-03-18 23:34] zepumph commented on #183
Do you feel similarly about `ParticleFlowRate` too?

[2020-03-19 03:25] pixelzoom commented on #183
Yes thanks, done, closing.

[2020-03-19 03:25] #183 closed

[2020-04-07 18:16] oliver-phet opened #184 "User suggestion: air leakage in a vacuum system"

[2020-04-07 18:54] pixelzoom commented on #184
This would require major changes to model and user interface, and would require some significant design work before I could estimate.  Assigning to @arouinfar to evaluate.

[2020-04-07 19:38] pixelzoom commented on #181
Here's more current CT output, with URL:

[code]

[2020-04-17 08:37] ofey404 commented on #184
Hey there! I think the air leaking visualization could be done using a 3-cell container, which could be implemented based on the 'Diffusion' screen.

**The design**

![gas-properties-leakage design](https://user-images.githubusercontent.com/35857538/79548843-a64b7900-80c8-11ea-9365-94fa21288124.png)

I am interested in PhET project and I'm planning to make a demo of the design above in a couple of

[2020-04-23 00:23] zepumph commented on #178
Over in https://github.com/phetsims/axon/issues/276 we added support to only apply a DerivedProperty's derivation function once when it is deferred, instead of many times with intermediate values even when it was deferred. This fixed this bug with no changes to sim-specific code. The specific lines are in DerivedProperty where `listener` is created and added to dependencies, and where `setDeferred

[2020-04-23 00:24] zepumph commented on #182
https://github.com/phetsims/gas-properties/commit/c8218e894bb6e0ba8289a16abc0b424f86caf8ad was added as part of https://github.com/phetsims/axon/issues/276, and this bug should now be fixed in master. See details of this support over in https://github.com/phetsims/axon/issues/276#issuecomment-618106191. @pixelzoom please confirm fixed, review the above commit, and close if all is well.

[2020-04-23 15:47] pixelzoom commented on #178
@zepumph This problem does not appear to be fixed, it still occurring in CT:

[code]

I'm also seeing an Error from the first assertion in the Gas Properties listener, which had not previously occurred:

[code]

[2020-04-23 15:49] pixelzoom commented on #182
I don't see this occurring in CT, and the commit looks great.  Thanks for handling this!  Closing.

[2020-04-23 15:49] #182 closed

[2020-04-23 23:27] zepumph commented on #178
At one point last night. This bug was fixed, but then we broke it again because this case isn't fixed in the general case like we originally thought.

In DerivedProperty, we originally were saying that all dependencies should notify before the derivedProperty would undefer. This turned out to create interdependencies, like in MeasuringTapeNode (found via Projectile Motion testing). Thus the best t

[2020-04-27 15:08] pixelzoom commented on #178
Change in ParticleSystem.js looks good, I augmented the documentation a little in above commit. No problems noted in CT, so closing.  Thanks @zepumph!

[2020-04-27 15:08] #178 closed

[2020-05-01 11:09] ofey404 commented on #184
I have worked out a prototype of my design, on [my fork of gas-properties](https://github.com/ofey404/gas-properties/tree/leakage), `leakage` branch.

![Screen Shot 2020-05-01 at 18 59 41](https://user-images.githubusercontent.com/35857538/80801286-6a430880-8bde-11ea-9c83-bc456ae7c78c.png)
![Screen Shot 2020-05-01 at 18 59 24](https://user-images.githubusercontent.com/35857538/80801287-6c0ccc00-8b

[2020-05-23 05:14] pixelzoom opened #185 "CT: registerPhetioOrderDependency is not a function"
This was broken by https://github.com/phetsims/axon/commit/7a42c26116918dcf00ed928c96c5d9eb6a9e7a4a, see https://github.com/phetsims/phet-io/issues/1668#issuecomment-632986924.  Affects both gas-properties and gases-intro.

[code]

[2020-05-24 17:20] samreid commented on #185
Fixed in https://github.com/phetsims/phet-io/issues/1668#issuecomment-633087807 and verified in CT, closing.

[2020-05-24 17:20] #185 closed

[2020-05-29 01:41] zepumph opened #186 "support ?shuffleListeners"
From phetsims/axon#215, when running with ?shuffleListeners, we get this error: assigning to responsible dev to determine if it is worth fixing:

[code]

[2020-05-29 01:48] pixelzoom commented on #186
To be considered when a new release branch is created for this sim.  And my feeling is that this is incredibly low priority, and would not block a release.

[2020-06-21 15:28] pixelzoom commented on #168
Still occurring -- not always, but consistently:

[code]

[2020-07-29 23:03] oliver-phet opened #187 "User suggestion: add external force"

[2020-07-29 23:27] pixelzoom commented on #187
This is the second request for gravity (see https://github.com/phetsims/gas-properties/issues/173).   See https://github.com/phetsims/gas-properties/issues/173#issuecomment-531305020 for the long story.  The short story is that we made simplifying assumptions that explicitly exclude gravity, and adding it to the model is not possible.

[2020-07-29 23:28] pixelzoom commented on #187
Assigning to @arouinfar in case she has more to add.  Then please assign to @oliver-phet to reply to the user.

[2020-07-30 00:02] arouinfar commented on #187
Gravity will never be added to Gas Properties. After a lot of discussion we decided not to include it in the HTML5 version as it didn't support the learning goals related to the ideal gas law, kinetic molecular theory, and diffusion. Gravity will be included in a more atmosphere-focused simulation, but that's unfortunately a long way off.

[2020-07-30 01:58] oliver-phet commented on #187
Replied to user. Closing.

[2020-07-30 01:58] #187 closed

[2020-08-10 16:44] pixelzoom opened #188 "stopwatch changes"
In https://github.com/phetsims/scenery-phet/issues/565, StopwatchNode got some new features.  So here are some things that we could do now in Gas Properties:

(1) Use 1 decimal place.
The format of the time display is now more flexible. So instead of requiring 2 decimal places ("12.34 ps"), we could use 1 decimal ("12.3 ps").  This seems preferable to me, because 2 decimal places are unnecessary,

[2020-08-11 01:22] pixelzoom commented on #188
Another good reason to limit the number of decimal places is to limit the number of times that the stopwatch's display needs to be updated.  This is a sim where performance is critical, and that will be even more so when this becomes a PhET-iO sim. Imo we're currently updating the stopwatch 10x more than necessary by displaying 2 decimal places.

[2020-08-13 00:14] arouinfar commented on #188
@pixelzoom let's reduce the display to one decimal place -- two are definitely not pedagogically necessary. I think the limit of 999.9 ps is large enough for typical classroom applications. I don't anticipate allowing the stopwatch to run indefinitely in most sims, so for consistency across sims, we could do the same here. I don't have a strong opinion on this, though. If you find value in letting

[2020-08-13 16:59] pixelzoom commented on #188
I ran into problem with the numberFormatter API in StopwatchNode, see https://github.com/phetsims/scenery-phet/issues/618.  This issue is on hold until that issue is resolved.

[2020-08-27 15:19] pixelzoom commented on #168
Still occurring occasionally as of 8/27/2020.  I'd like to find time to investigate, so that CT is clear.

[code]

[2020-09-29 06:08] arouinfar commented on #184
@oliver-phet @pixelzoom this goes beyond the scope of the sim's learning goals, and is not a change we would make to Gas Properties. @oliver-phet please respond to the user.

@ofey404 thanks for your interest in modifying the simulation. Our developers do not have bandwidth to advise you in your work, but I hope you were able to troubleshoot the issue on your own.

[2020-09-29 06:18] pixelzoom commented on #184
@ofey404 asked:

Here's the general idea.

Suppose you have some Property that defines the barrier width:

[code]

Then you can link an observer to the Property like this:

[code]

You'll probably need to add methods to `ObstableNode` to make it mutable.

[2020-09-29 14:50] oliver-phet commented on #184
Replied to user.

[2020-11-03 15:25] pixelzoom commented on #188
In https://github.com/phetsims/scenery-phet/issues/618#issuecomment-681902936, a `numberOfDecimalPlaces` option was added to `StopwatchNode.getRichNumberFormatter`.   In the above commit, I'm using that option to display 1 decimal place.

Ready for testing the next time this sim is released.

[2020-11-04 21:21] pixelzoom commented on #157
@jonathanolson can I delete this branch?

[2020-11-04 21:22] pixelzoom commented on #117
ObservableArray is long gone, replaced by createObservableArray and ObservableArrayDef.  So I'm deleting this branch.

[2020-11-04 21:25] pixelzoom commented on #184
@oliver-phet can this issue be closed?

[2020-11-05 12:35] ofey404 commented on #184
Please close it.

[2020-11-05 14:20] #184 closed

[2020-11-06 16:35] pixelzoom commented on #168
Reported as a duplicate in https://github.com/phetsims/gases-intro/issues/8 on 11/6/2020.

[2020-11-06 17:00] jonathanolson commented on #157
Has it been effectively included in master? Otherwise presumably this work could be an improvement?

[2020-11-06 17:08] pixelzoom commented on #157
The changes that you made in this branch are in https://github.com/phetsims/gas-properties/commit/cdb2888465ba839641de6e25e53cc3c271ce65c9.   Basically you changed the implementation of ParticlesNode from CanvasNode to Sprites.  There have been no reports of performance problems in Gas Properties, so I'm not sure if it's worth the effort (and risk?) to switch from CanvasNode (Canvas) to Sprites (W

[2020-11-06 17:23] pixelzoom commented on #157
The other options is of course to just merge the ParticlesNode changes into master now, and delete this branch.

[2020-11-10 01:20] zepumph opened #189 "Where did the "o" go in "Remove Divider"?"
While pairing with @ariel-phet and poking around in sims, we found that the "o" was gone from "Remove Divider" on the diffusion screen:

![image](https://user-images.githubusercontent.com/6856943/98615580-77d0fd80-22a7-11eb-881c-8466808ba5da.png)

@jonathanolson, this feels potentially like a scenery bug. Thoughts?

[2020-11-10 01:25] pixelzoom commented on #189
I just did a pull-all, and I don't see the problem in my working copy on macOS 10.15.7 + Chrome latest.

What platform are you testing on?

[2020-11-10 01:26] pixelzoom commented on #189
I just did a pull-all, and I don't see this problem in my working copy on macOS 10.15.7 + Chrome latest.   And the button is green at all times, not the strange yellow/gray shown in the above screenshot.

What platform are you testing on?

[2020-11-10 01:27] zepumph commented on #189
I pulled master and couldn't reproduce. @ariel-phet did the same. We feel like it may have just been a fluke. We feel like closing this.

The yellow was me highlighting the spot where the button was.

[2020-11-10 01:27] #189 closed

[2020-11-10 04:07] pixelzoom commented on #157
This branch was created before the conversion to ES6 modules, so there's going to be some manual work involved in merging.

[2020-11-10 04:20] pixelzoom commented on #157
In the above commits, I converted ParticlesNode to Sprites, enabled webgl for all 3 sims in this suite, and cleaned up some cruft that wasn't addressed in cdb2888.   Performance with looks good, and `?profiler` is showing 60FPS on my MacBook Pro and iPad6.

I'd still be interested in hearing from @jonathanolson about whether he expects this to be a "win", since performance wasn't a problem with Ca

[2020-11-10 17:51] jonathanolson commented on #157
That sounds great! Thank you.

I could imagine it could be helpful on slower platforms, and it seems more maintainable than CanvasNode in general (so I believe it's also a code win).

[2020-11-10 17:52] jonathanolson commented on #157
Sounds perfect, and removing the branch now.

[2021-01-14 18:53] pixelzoom commented on #30
From 1/14/2021 PhET-iO meeting, milestones are:

4/1/21 Begin working on design
7/31/21 RC-lite testing completed

[2021-01-22 06:42] pixelzoom opened #190 "Lots of UI components are unresponsive when using Sprites"
In #157, I converted from CanvasNode to Sprites, as @jonathanolson felt this was an important improvement.   The main commit was https://github.com/phetsims/gas-properties/commit/f32a2cfdc96a9d974032be391c717ec8c05c3fc7.

That change, or something related to Sprites that has broken since the change was made, has broken much of the Gas Properties UI.  From https://github.com/phetsims/sun/issues/676

[2021-01-22 06:44] pixelzoom commented on #190
I also tried setting `webgl: false` in gas-properties-main.js, so that things would fall back to Canvas. That didn't resolve the problem.  So it may be a problem that's independent of renderer?

[2021-01-22 07:08] pixelzoom commented on #190
ParticlesNode extends Sprites, and in the above commit I've set ParticlesNode to `pickable: false`.  This fixes the problems.

I guess it's possible that I didn't notice this problem when I converted to Sprites.  @jonathanolson do you think this is what happened? Would you expect `pickable:false` to be necessary in this case?  Or might something have changed that caused this to break?

[2021-01-26 18:34] pixelzoom commented on #190
Discussed with @jonathanolson on Slack, see thread below.

This was caused by a new problem that was introduced, see https://github.com/phetsims/sun/issues/676#issuecomment-767296291. Basically, anything that doesn't explicitly set `pickable: false` is behaving like `pickable: true` and swallowing events.  So in this sim,  Sprites was blocking events from reaching UI components.

The `pickable: fa

[2021-01-26 18:34] #190 closed

[2021-02-03 17:12] pixelzoom opened #191 "Gas Properties suite - publish 1.1 with PhET-iO"
From 1/14/2021 PhET-iO meeting and the Project Overview spreadsheet, the milestones are:

* 4/1/21 Begin working on design
* 7/31/21 RC-lite testing completed
* 7/31/21 RC delivered to PhET-iO client

This includes the entire suite (Gas Properties, Gases Intro, Diffusion) for phet and phet-io brands.

#30 (PhET-iO design) is a major prerequiste to this milestone.

[2021-02-09 17:11] pixelzoom opened #192 "CT: openingLeft 6880 must be <= openingRight -2000"
Very rare in CT, I've seen it happen once so far.

[code]

[2021-03-18 17:44] pixelzoom opened #193 "Review inputEnabledProperty"
https://github.com/phetsims/scenery/issues/1158 changed pickableProperty to inputEnabledProperty.   Review this sim's use of inputEnbledProperty.

[2021-03-18 19:22] pixelzoom commented on #193
Nothing to do here now.  We'll revisit this when this sim receives a proper PhET-iO design.

[2021-03-18 19:22] #193 closed

[2021-04-20 18:15] pixelzoom commented on #157
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:16] pixelzoom commented on #117
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:16] pixelzoom commented on #59
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-22 21:23] pixelzoom commented on #157
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:23] #157 closed

[2021-04-22 21:23] pixelzoom commented on #117
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:23] #117 closed

[2021-04-22 21:23] pixelzoom commented on #59
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:23] #59 closed

[2021-04-27 17:22] pixelzoom opened #194 "List original designer in "Lead design"?"
In https://github.com/phetsims/natural-selection/issues/270#issuecomment-827745710, @amanda-phet said:

If that applies to this sim, please specify what you'd like changed.

The current credits in GasPropertiesConstants.js are:

[code]

[2021-04-27 18:24] kathy-phet commented on #194
Gas Properties was a very, very early sim. Development was being done on it already when I started in Jan 2003, and it evolved over the years, with Carl, myself, Linda, Trish, and Jack all having a lot of input into the Java design of the original and its variants. So, it was more of a collaborative effort than a lead design - which we evolved to later in PhET's evolution. I think the current cred

[2021-04-27 18:25] #194 closed

[2021-05-06 15:46] KatieWoe opened #195 "CT model should not apply heat/cool in this mode"
[code]

[2021-05-10 17:41] KatieWoe commented on #195
It looked fairly isolated, so my guess is it is a rare occurrence in CT.

[2021-05-10 19:17] pixelzoom commented on #195
Based on the tests that are failing, this appears to involve multi-touch fuzzing.  I'm guessing that this happens if the "Hold Constant" mode is changed to `HoldConstant.PRESSURE_T` while the heater/cooler is being used.   Any change to `holdConstantProperty` should probably result in a call to `interruptSubtreeInput`, probably at the ScreenView level to be safe.

[2021-05-10 19:21] pixelzoom commented on #195
It looks like `interruptSubtreeInput` is already handled for the heater/cooler.
In GasPropertiesHeaterCoolerNode.js:

[code]

[2021-05-10 22:21] pixelzoom commented on #195
No problem in CT for 5 cycles.  And this assertion can't fail because it no longer exists.  So closing.

[2021-05-10 22:21] #195 closed

[2021-05-12 19:46] brooklynlash commented on #188
All stopwatches in Gas Properties are rounded to one decimal place.

[2021-05-12 21:26] pixelzoom commented on #188
Thanks @liam-mulhall. Closing.

[2021-05-12 21:26] #188 closed

[2021-05-17 16:10] pixelzoom commented on #168
This still happens failure regularly, in all of the 3 sims in this family.

The failure occurs when `setTemperature` is called in this listener:

[code]

My guess is that there's an ordering problem.  The temperature model probably also needs to update when this state occurs, but it's still null.   It could probably be addressed by adding this before the call to `setTemperature`:

[code]

I'll giv

[2021-05-17 16:21] pixelzoom commented on #168
Workaround pushed.  I'll leave this open for a week, to see if it recurrs in CT.

[2021-05-20 15:31] pixelzoom commented on #168
No sign of this in CT, so I'll go ahead and close.

[2021-07-07 16:40] pixelzoom commented on #191
There is no way that we're going to hit this milestone.  We still need to do PhET-iO design, PhET-iO instrumentation, and address a handful of GitHub issues.  Assigning to @kathy-phet to revise milestones.  Feel free to assign back to me when you're ready to continue working on this release.

[2021-08-05 16:03] pixelzoom opened #196 "CT: empty container not supported"
This occurred once in CT for gases-intro, so probably just a rare corner case.  Creating the GitHub issues in gas-properties because gases-intro is a subset of gas-properties.

[code]

[2021-08-11 13:25] pixelzoom commented on #30
In a 8/11/21 Slack message, @kathy-phet said that Gas Properties PhET-iO release (#191) is now a priority.  Self assigning to review what needs to be done, and who needs to do it.

[2021-08-12 04:15] pixelzoom commented on #30
@kathy-phet @arouinfar According to the plan for Gas Properties 1.1 in https://github.com/phetsims/gas-properties/issues/191#issue-800528675, the first phase is do complete PhET-iO design.  So this is in your court.  If you'd like to move this forward, please self-assign this issue.

[2021-08-12 18:06] pixelzoom commented on #191
8/12/21 phet-io meeting:
@kathy-phet said that the scope of this issue has changed. The original goal was to deliver an RC version to client. The new goal is to publish a production release.  I've changed the title of this issue accordingly.

[2021-09-15 16:24] KatieWoe commented on #192
Seen in intro:
[code]

[2021-09-16 02:07] pixelzoom commented on #108
Reported again in https://github.com/phetsims/gas-properties/issues/192, reopening.

[2021-09-16 02:08] pixelzoom commented on #192
Looks like this is an older issue that I thought I had resolved.  Reopened https://github.com/phetsims/gas-properties/issues/108, closing this issue as duplicate.

[2021-09-16 02:08] #192 closed

[2021-10-22 19:47] arouinfar opened #197 "Control wall speed with alt input"
A user wrote into phethelp with concerns about the simulation model, reporting:

I could not reproduce this behavior in the published sim, and sent a video to the user to demonstrate the behavior:

https://user-images.githubusercontent.com/8419308/138513778-93d987ed-085d-48e2-b730-09109abf09f2.mp4

They responded:

Controlling the wall speed with a trackpad can be difficult and many laptops and Ch

[2022-01-04 20:50] pixelzoom commented on #30
Status for 1/4/2022 quarterly-planning meeting:

* Basic instrumentation has been done.
* This issue has been assigned to AR & KP for design since 1/14/21.
* There will almost certainly have challenges with dynamic elements.

[2022-06-06 16:49] KatieWoe opened #198 "CT: openingLeft 360 must be <= openingRight -2000"
[code]

[2022-08-23 23:07] pixelzoom opened #199 "Fold Options into Preferences"
Related to https://github.com/phetsims/joist/issues/837 ...

- [x] Add Preferences dialog
- [x] Fold the Options dialog into the Preferences dialog
- [x] Rename things accordingly (GasPropertiesGlobalOptionsNode, GasPropertiesGlobalOptions, associated tandems)
- [ ] Revise the PhET-iO API, have it approved by @arouinfar

Some of this has already been handled by @zepumph in https://github.com/phets

[2022-08-24 21:02] pixelzoom commented on #199
While this sim has never had an official PhET-iO design, it is extensively instrumented.  So to remain consistent with other sims (see https://github.com/phetsims/geometric-optics/issues/440, https://github.com/phetsims/molecule-polarity/issues/139) I'd like these PhET-iO changes to be reviewed.

Summary of changes:

* Properties related to Options were formerly under `gasProperties.global.model.o

[2022-08-30 18:20] KatieWoe opened #200 "Particles too large in screenshots"
**Test device**
Dell and iPad
**Operating System**
Win 11 and iOS 15
**Browser**
Chrome and Safari
**Problem description**
Found during https://github.com/phetsims/joist/issues/664, but does not seem like it is connected to that. This bug happens on master, but does not happen in the published sim.
When a screenshot is taken with the PhET menu the particle sizes are drastically larger than they sh

[2022-08-30 18:36] pixelzoom commented on #200
View for the particles is DiffusionParticleSystemNode, a subclass of ParticlesNode, which in turn is a subclass of scenery Sprites.  By default, Sprites uses `renderer: 'webgl'` I suspect that you'll find that scenery Sprites (or WebGL) isn't playing nice with the changes made for Screenshots.

[2022-08-31 19:02] marlitas commented on #200
@KatieWoe, A fix was pushed up. Can you please test?

[2022-08-31 19:17] KatieWoe commented on #200
It looks fixed in master, but I did notice that the instances in other sims documented in https://github.com/phetsims/joist/issues/664 that seemed related were not fixed.

[2022-08-31 21:00] samreid commented on #200
Thanks, over to @jonathanolson for a mini-review spot check.

[2022-09-03 03:45] samreid commented on #200
I believe @jonathanolson corrected this and tested in https://github.com/phetsims/joist/issues/664, closing.

[2022-09-03 03:45] #200 closed

[2022-09-09 19:31] KatieWoe commented on #108
Leaving open for https://github.com/phetsims/qa/issues/832 since it says this appears rarely on CT. But please close if appropriate @pixelzoom

[2022-09-09 19:32] KatieWoe commented on #139
Leaving open for https://github.com/phetsims/qa/issues/832 since it says this appears rarely on CT. But please close if appropriate @pixelzoom

[2022-09-09 22:19] KatieWoe commented on #181
Not seeing this in CT right now. Closing. Feel free to reopen if in error.

[2022-09-09 22:19] #181 closed

[2022-09-09 22:42] KatieWoe commented on #196
Can you confirm if this issue is still needed? I don't see it in CT right now, but it is noted as rare. For https://github.com/phetsims/qa/issues/832

[2022-09-09 22:48] KatieWoe commented on #198
Can you confirm if this issue is still needed? I don't see it in CT right now, but it is noted as rare. For https://github.com/phetsims/qa/issues/832

[2022-09-09 22:56] pixelzoom commented on #196
Yes, please keep this open.

[2022-09-09 22:59] pixelzoom commented on #198
Yes, please keep this open.

[2022-11-17 23:00] pixelzoom opened #201 "Dynamic Locale support"
Requested by @kathy-phet.   Current milestone for publication is 9/30/2023.

[2022-11-17 23:01] pixelzoom opened #202 "Convert to TypeScript"
Requested by @kathy-phet.  Helpful when doing #201. Current milestone for pulication is 9/30/2023.

[2022-11-17 23:27] pixelzoom commented on #202
Baseline before starting this work:
https://phet-dev.colorado.edu/html/gas-properties/1.1.0-dev.4/phet/gas-properties_en_phet.html

[2022-11-17 23:28] pixelzoom commented on #201
Baseline before starting this work:
https://phet-dev.colorado.edu/html/gas-properties/1.1.0-dev.4/phet/gas-properties_en_phet.html

[2022-11-23 17:44] pixelzoom opened #203 "Regions may be incorrect"
Noted during TypeScript Conversion #202...

For collision detection, the container is divided into regions. See documentation in Region.ts.   Running with `?regions` displays the regions as shown in the screenshots below.

These regions do not look correct to me - they are outside the max bounds of the containers.  And for the Diffusion screen, there are regions that straddle the vertical divider.

[2022-11-25 19:52] pixelzoom commented on #203
There's a comment in the code indicating that regions must be square. In CollisionDetector.ts:

[code]

This leads me to believe that this is _not_ a problem.  But I'm still planning to check more closely.

[2022-11-28 22:37] pixelzoom opened #204 "Replace usage of DragBoundsProperty"
... it's deprecated.

[2022-11-29 00:57] pixelzoom opened #205 "Replace FixedWidthNode with scenery layout"
This sim uses FixedWidthNode to set a fixed width for panels, accordion boxes, etc.   It would be preferable to do this using the new scenery layout features (maximumWidth, minimumWidth, preferredWidth).

Search for `fixedWidth:` to locate places where this option is defined.

[2022-11-29 00:59] pixelzoom commented on #202
Done, closing.

[2022-11-29 01:02] pixelzoom commented on #198
Duplicate of https://github.com/phetsims/gas-properties/issues/108.

[2022-11-29 01:02] #198 closed

[2022-11-29 01:04] pixelzoom commented on #199
I'm going to close this. There's only 1 preferences (Pressure Noise checkbox) and this sim has never had a PhET-iO design.   So preferences will be reviewed as part of a more comprehensive review sometime in the future.

[2022-11-29 01:04] #199 closed

[2022-11-29 01:26] pixelzoom commented on #201
All strings have been converted to StringProperty.  Next step is to address #205 (replace FixedWidthNode), then address layout issues.

[2022-11-29 08:10] #205 closed

[2022-11-29 08:50] pixelzoom commented on #201
Ready for review by @arouinfar.

[2022-11-29 08:52] #203 closed