[2017-01-19 20:06] samreid opened #1 "Gas Properties - Main checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 02/12/2015)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed**
- [x] **Learning goals and standards identified** (Date: 09/28/2018)
- [x] **Design concept comple

[2017-01-19 20:07] samreid commented on #1
I decided to reserve Issue #1 for the master checklist, will move other issues later on.

[2017-01-19 20:07] samreid opened #2 "Add GitHub labels"
@mattpen can you please add GitHub labels?

[2017-01-19 20:07] samreid opened #3 "Should this repo be in chipper/data?"
Should this repo be in chipper/data?

[2017-01-19 20:10] samreid opened #4 "leverage SwingJS port?"
Bob Hansen ported this simulation to JS using an automatic code conversion strategy known as SwingJS.  Should we attempt to leverage any of this code for our HTML5 port?  For instance, model code?

https://chemapps.stolaf.edu/swingjs/phet/site/swingjs/examples/phet/GasProperties.htm?j2sLang=en

![image](https://cloud.githubusercontent.com/assets/679486/22123376/a20da046-de48-11e6-86b1-617c60e2d942

[2017-01-19 20:19] ariel-phet commented on #3
@samreid not yet, I mainly asked @jbphet to create this repo to track some issues coming up from the JSswing implementation, and track relevant other issues

[2017-01-19 20:19] #3 closed

[2017-01-23 20:59] mattpen commented on #2
Complete.

[2017-01-23 20:59] #2 closed

[2017-01-24 03:51] ariel-phet opened #5 "Bugs seen in SwingJS development"
@samreid said:

Bugs are reported here:
https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit

[2017-01-24 03:57] ariel-phet commented on #5
@amyh-phet it would be good to look over the reported bugs and see if any are relevant, we will not fix anything in the Java sim, but we should decide if there is anything we need to attend to for the port.

[2017-02-16 21:08] amyh-phet commented on #5
Logged relevant issues in design doc for HTML5 version of simulation.

[2017-07-24 17:27] samreid opened #6 "LICENSE is missing"
I noticed there is not much in this repo, but in https://github.com/phetsims/tasks/issues/875 discovered that the LICENSE is missing.

[2017-07-26 18:49] jbphet commented on #6
I've added the license file.  This was copied from Function Builder, since that sim was recently published.  The license is GNU GPL Version 3.  I think that should do it - closing.

[2017-07-26 18:49] #6 closed

[2017-12-27 17:42] ariel-phet opened #7 "Questions for port"
1. Will we need to support Reversible Reactions/ Balloons and Buoyancy?

2. What is the timeline for publishing? (Fall 2019?)

3. Wishlist for milestones/public availability

4. Do we need to show progress by a certain date?

5. Likely to be more of a rewrite because Java version's view is based on phetgraphics (not Piccolo, so little or nothing to be reused), model may need "some love"

6. WAG wo

[2017-12-27 17:45] ariel-phet opened #8 "triage Unfuddle issues"
Before this sim comes up for design meeting again, the Unfuddle issues should be reviewed and triaged.

- for any issues/suggestions we will fix or implement, those should be made into github issues and the unfuddle issue closed with a comment that it will be addressed in the HTML5 version

- for any issues that will never be addressed they should be closed

- any that should be discussed should b

[2018-01-03 18:31] pixelzoom commented on #7
@ariel-phet I think this issue is something for you to review with @kathy-phet.  Assign back to me when you have answers, thanks.

[2018-01-03 18:40] pixelzoom commented on #4
This was a very early Java sim, based on phetgraphics and other "vintage" approaches.  Any leverage provided by the Hansen port is going to be a port of sub-standard code, and maintenance costs for the end result would probably gobble up any up-front savings.  So if I were porting this sim, it would be a rewrite.

[2018-01-03 18:52] pixelzoom commented on #7
Assigning @arouinfar so that she's in the loop.

[2018-01-03 18:52] kathy-phet commented on #7
These would not be part of the deliverables. During the design process, I would like to look into the learning goals addressed by these variants, and look at the usage. It may be decided that it would be good to generalize the model to allow for support of these variants in the future, but they are a much lower priority and would be potentially years(?) down the road.

Most likely though the curre

[2018-01-03 19:02] pixelzoom commented on #7
@kathy-phet asked:

WAG is an acronym.  It's PG13, so I'll leave it up to you to do the Google search. It means "an off-the-cuff estimate for something, when there is insufficient data available to support a more informed estimation."

[2018-01-03 20:17] kathy-phet commented on #7
I agree about a year.

[2018-01-09 20:37] arouinfar commented on #7
Thanks for keeping me in the loop @pixelzoom. I've requested time at this week's design meeting for the team to get reacquainted with the sim's current status (luckily the design doc appears to be in great shape) and have a big picture discussion about what's next. Since it doesn't look like there's anything else in this issue that needs work from me, I'll go ahead and unassign myself.

[2018-01-09 20:44] pixelzoom commented on #7
Sorry to assign you again so soon @arouinfar.  But the milestones identified in this issue need to go in a Milestones section of the design doc.

[2018-01-09 20:54] arouinfar commented on #7
No problem @pixelzoom! I've added a Milestones section to the design doc with the following:

Late Spring/Early Summer 2019: Preferable publication date so we can advertise the sim at summer conferences
January 2020: Grant report is due, so sim must be published

By the way, @pixelzoom and I had read-only access to the sim folder, so I went ahead and gave us edit privileges.

[2018-01-10 19:15] pixelzoom commented on #1
The master checklist has changed since this issue was created, so I updated https://github.com/phetsims/gas-properties/issues/1#issue-201961727.

[2018-01-10 19:20] pixelzoom commented on #8
I note design doc, I see:

There are currently 22 open tickets related to the ideal-gas family. Those suggesting improvements to the design have been pasted below.

I don't think we should be pasting the text of Unfuddle issues into the design doc, it duplicates information and will quickly become out of sync.  Comments and decisions on the Unfuddle issues belong in those issues (per @ariel-phet a

[2018-01-10 19:22] pixelzoom commented on #5
@amanda-phet said:

I can't find these in the design document, can someone point me to them?  Bug reports also do not belong in the design document, it makes them difficult to manage/track. They should be captured in GitHub (or Unfuddle) issue, which are then linked to in the design document.

[2018-01-10 19:26] pixelzoom commented on #8
As of 1/10/18, I see 48 issues in Unfuddle for ideal-gas (the component that Gas Properties is a part of).  The URL is https://phet.unfuddle.com/a#/projects/9404/ticket_reports/349638

[2018-01-10 22:13] amanda-phet commented on #5
^ that was @amyh-phet not me.

[2018-01-11 00:24] pixelzoom commented on #8
I reviewed the 22 tickets in Unfuddle, and added a comment about my review to each issue.

These tickets require review by a designer.  They are feature requests, conceptual issues, or possible bugs that haven't been clearly identified:

https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/18
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/563
https://phet.unfuddle.com/a#/proj

[2018-01-11 18:59] jbphet opened #9 "Musings on how to implement the particle model"
From looking at how the particles in original (Java) version the Gas Properties sim interact, I believe the simulation was implemented using a hard sphere model for the particles.  The States of Matter simulation uses a different approach - it calculates particle interactions using a Lennard-Jones potential.  I was recently talking with Paul Beale about whether the States of Matter model would be

[2018-01-11 19:10] arouinfar commented on #5
@pixelzoom looks like these were pasted into the [Bug Reports](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#heading=h.d94oxdbmfuwu) section at the end of the design doc, which references a [seemingly-orphaned Google doc](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit).

I agree -- the design doc is not the appropriate pl

[2018-01-11 19:12] arouinfar commented on #8
@pixelzoom thank you for reviewing the Unfuddle tickets!

I completely agree! I think it would be helpful to have table in the design doc that links to relevant Unfuddle Tickets, the corresponding GitHub issue, and a short description of the original ticket. I've added a blank table to the design doc [here](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#headin

[2018-01-11 21:21] pixelzoom commented on #8
I'll triage the TODO list:
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/333

[2018-01-11 21:25] pixelzoom commented on #4
1/11/18 design meeting:   Because the Java implementation is so "vintage", we will not leverage the SwingJS port.  Closing.

[2018-01-11 21:25] #4 closed

[2018-02-16 19:44] pixelzoom opened #10 "triage the Unfuddle TODO list"
From https://github.com/phetsims/gas-properties/issues/8#issuecomment-357065247:

https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/333

[2018-02-19 16:11] pixelzoom commented on #10
Here's the TODO list, so I don't have to keep consulting Unfuddle https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/333.

-Bug Report (6-25-2007)
I just found a new bug in Gas Properties.  If you pump in a bunch of molecules, say, more than 300, the number of molecules in the box fluctuates, and if you try to select the number of heavy molecules in the textbox to change it, the cursor a

[2018-02-26 20:24] arouinfar opened #11 "Should adding particles unpause the sim?"
From the [SwingJS Notes](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit) in #5:

	// If the simulation is paused, unpause it
        	IClock clock = PhetApplication.getInstance().getActiveModule().getClock();
        	if( clock.isPaused()) {
           clock.pause();
	}

        	// If the simulation is paused, unpause it
        	IClock clock = PhetApplicatio

[2018-02-26 21:49] arouinfar opened #12 "BaseModel.selectFor does not return expected list"
From the [SwingJS Note](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit)s in #5:

[code]

@samreid commented:

Sounds like a legacy bug for @pixelzoom to address.

[2018-02-26 23:08] arouinfar opened #13 "Particles do not collide with right or bottom wall"
From the [SwingJS Notes](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit) in #5:

![image](https://user-images.githubusercontent.com/8419308/36701060-175b851c-1b0f-11e8-82e7-bf2582e9c2c2.png)

Sounds like a legacy bug to me, so assigning @pixelzoom so he's aware.

[2018-02-26 23:16] pixelzoom commented on #13
This was probably due to treating particles as points, and not taking particle diameter into account in the collision model.   Unlikely that this bug would be ported, but I'll leave this open just in case.

[2018-02-26 23:18] pixelzoom commented on #12
There nothing similar to BaseModel in HTML5 sims, so this is sort of irrelevant.  But I'll leave it open until we start the port.

[2018-02-26 23:37] arouinfar opened #14 "Escaped particles are inappropriately returned to the container"
From the [SwingJS Notes](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit) in #5:

[code]

@samreid commented:

I've tried to reproduce this issue in two ways:
* Open the top of the container, let some particles out, then close the lid. Nothing looks fishy.
* Blow the lid and use Return Lid button. All remaining particles in the container will be removed. While

[2018-02-26 23:40] arouinfar opened #15 "Particles escape from closed container"
From the [SwingJS Notes](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit) in #5:

[code]

[code]
@samreid commented:

Another one for @pixelzoom.

[2018-02-26 23:41] pixelzoom commented on #15
Noted. Unassigning until development begins.

[2018-02-26 23:41] pixelzoom commented on #14
Noted. Unassigning until development begins.

[2018-02-26 23:58] arouinfar opened #16 "Return Lid removes particles from container"
From the [SwingJS Notes](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit) in #5:

While it's true that Return Lid empties the container, it's not a full reset.

The Return Lid button should behave similarly to States of Matter -- the lid returns to the container, trapping the remaining particles inside. If this poses model challenges that cannot be overcome, th

[2018-02-27 00:25] arouinfar opened #17 "Raising pump handle can result in particles being added"
From the [SwingJS Notes](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit) in #5:

Tagging @pixelzoom so he's aware.

[2018-02-27 00:38] arouinfar opened #18 "Particle size is incorrect"
From the [SwingJS Notes](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit) in #5:

![image](https://user-images.githubusercontent.com/8419308/36704029-a954a212-1b1b-11e8-97cb-db1504b7e149.png)
In the downloadable Java version one can see this quite clearly at low temperature, where there appears to be a layer between the particles and the walls. But that is just

[2018-02-27 00:43] pixelzoom commented on #10
@arouinfar @ariel-phet Perhaps one of you should specify a date for when I should address this issue. It will probably take me a full day, and I've been slammed with other things. so I've been treating it as low priority.

[2018-02-27 00:45] arouinfar commented on #10
Great question @pixelzoom, but I think this is @ariel-phet's call.

[2018-02-27 00:49] arouinfar commented on #5
I removed the "Bug Reports" section from the design doc, and have converted many of the items in the [SwingJS doc](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit
) to issues. There are a few remaining items in the doc that would be good for @pixelzoom to review, and convert to issues, if relevant:
- [ ] 3
- [ ] 13 -- I'm pretty sure that the particles are deli

[2018-02-27 18:11] pixelzoom opened #19 "Different behavior when adding particles via pump versus spinners"
Item 13 from [SwingJS doc](https://docs.google.com/document/d/1aGmLksuZrlVZf6GgeSJdIm4CcHHofqICzP5V4PNKhCQ/edit). It sounds like there might be a different energy algorithm for particles introduced via pump vs spinners. Potentially something to watch for when porting the model.

---

![screenshot_499](https://user-images.githubusercontent.com/3046552/36746023-7d2582cc-1bae-11e8-9127-a8d995952b56.p

[2018-02-27 18:26] arouinfar commented on #15
This bug has also been reported by two users in [Unfuddle ticket #578](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/578).

User 1:

1,000 light species (a semi-ridiculous number), I can see the molecules
actually moving outside the inner wall of the box. Although I can't see
any escaping the number inside to box according to the text box is
decreasing. It stabilises at ~558 molecul

[2018-02-27 18:27] pixelzoom commented on #5
@arouinfar said:

3 - will not be an issue for HTML5 version
13 - https://github.com/phetsims/gas-properties/issues/19
14 -  will not be an issue for HTML5 version

I skimmed those issues, agree that they're not relevant to the port.

[2018-02-27 18:29] pixelzoom commented on #5
@arouinfar I wasn't clear on whether there's anything else to be done here. So back to you.

[2018-02-27 18:34] arouinfar commented on #5
Thanks @pixelzoom! I don't think there's anything that needs to be done for Gas Properties.

I'm not sure what to do about the Balloons & Buoyancy and Reversible Reactions issues. The SwingJS doc is likely to get forgotten by the time those sims get ported. Perhaps I should convert those issues to Unfuddle tickets so we rediscover them when doing the customary Unfuddle review. Does that sound reas

[2018-02-27 18:56] arouinfar commented on #15
More bug reports in [Unfuddle ticket #690](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/690):

User 3:

Gas Properties very useful and enjoyable! But there is one feature of
the program that is disturbing for quantitative investigations: the
chamber is loosing molecules all the time - it´s leaking! The number of
molecules inside goes down a little during an investigation. Do you kn

[2018-02-27 21:51] ariel-phet commented on #10
@pixelzoom officially marking as priority-deferred.

Let's check back in on this around April 15th and see where are things are.

[2018-02-27 21:54] arouinfar opened #20 "Escaping particles can teleport back into the container despite clear path out"
For #8. A user reported in [Unfuddle Ticket #3493](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3493):

@emily-phet replied (pre-SOM port):

Here's a screen capture showing an escaping particle that teleports back into the container.
![unfuddle3493](https://user-images.githubusercontent.com/8419308/36756890-8647849e-1bcd-11e8-9b91-49b1b5a3b00b.gif)

This behavior looks pretty buggy

[2018-02-27 21:57] pixelzoom commented on #10
My only concern about deferring is if there are things in the TODO list that need to inform design.  But may design is happening until after April 15.

[2018-02-27 21:58] pixelzoom commented on #20
Cool. @jbphet did you see anything like this when porting States of Matter?

[2018-02-27 22:54] ariel-phet commented on #10
@pixelzoom I think we are safe through March. This sim is still in lots of brain storming.

[2018-02-27 23:58] arouinfar opened #21 "Allow volume to be calculated precisely"
For #8. A user reported in [Unfuddle Ticket #3645](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3645):

Self-assigning for response.

[2018-02-28 00:06] arouinfar opened #22 "Constant pressure can't always be maintained"
For #8. Unfuddle Tickets [#2268](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2268), [#2700](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2700) relate to the constant pressure mode. Respectively:

User 1:

User 2:

Self-assigning for review.

[2018-02-28 00:17] arouinfar opened #23 "Cannot change volume when pressure held constant"
For #8. In [Unfuddle Ticket #2754](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2754), a user reported:

A total of six teachers have written to phethelp about this issue.

The current design would allow for users to change the volume while holding pressure constant (temperature would have to change). However, there is still some brainstorming around the "Constant Parameters" optio

[2018-02-28 00:25] arouinfar opened #24 "Representing the work done"
For #8. In [Unfuddle Ticket #18](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/18), a user reported:

physics) and I am trying to convince my students that they can learn a
lot by playing with them.

very instructive too (especially with the histograms showing the
distribution of speed of the molecules). A very instructive simulation
is the one where some work /W/ is put into the sy

[2018-02-28 00:49] arouinfar opened #25 "Adjustable intermolecular forces"
For #8. In [Unfuddle Ticket #3662](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3662), one of our collaborators requested:

Self-assigning for further review.

[2018-02-28 01:06] arouinfar commented on #8
Relevant Unfuddle tickets have been converted to GitHub issues. The [Suggestions from Unfuddle](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#heading=h.cwjvdkvq3ytk) table in the design doc summarizes the issues and links the the Unfuddle and corresponding GitHub issues. Closing.

[2018-02-28 01:06] #8 closed

[2018-02-28 16:57] pixelzoom commented on #5
Rather than converting remaining SwingJS issue to individual Unfuddle tickets... I would create 2 Unfuddle tickets:  "SwingJS issues in Balloons & Buoyancy" and "SwingJS issues in Reversible Reactions".  Refer to the SwingJS document, and (if possible) identify which issues in that document are relevant to each sim.  If you think the SwingJS document might go missing (or just don't want to look at

[2018-02-28 17:12] jbphet commented on #20
SOM didn't have exactly this problem, but something similar.  In general in particle simulations it's often a problem that a large time step and high velocity can cause a particle to end up outside of a container, since it can go from being so far from the container wall that no interaction occurs to the other side of the wall in a single step.  There was probably something built into the Gas Prop

[2018-02-28 20:25] arouinfar commented on #5
Great suggestion @pixelzoom. I've opened two Unfuddle tickets, one for each sim:
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3761
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3762

[2018-02-28 20:25] #5 closed

[2018-03-03 00:04] arouinfar commented on #16
Discussed this with @ariel-phet, and we decided that Return Lid should not reset the container. It seems more natural -- and more convenient for users -- to keep the remaining particles in the container when the lid is returned.

If the model could not feasibly support this interaction, we can instead rename the button "Reset" or "Reset Container".

[2018-03-03 00:12] arouinfar commented on #21
Discussed with @ariel-phet. We could add a checkbox to display a volume readout. However, the underlying model is 2D, so this may pose some challenges. Perhaps we could assume one unit of depth?

We can discuss this more once this sim moves from brainstorming to design.

[2018-03-29 01:46] ariel-phet opened #26 "Allowing toggle between degrees C and K"
A twitter user mentioned it might be nice to choose between degrees C and degrees K.

Since we allow such a choice in states of matter it seems like it would be useful to have in this sim as well.

[2018-03-29 19:15] arouinfar commented on #26
I completely agree @ariel-phet! This feature is already a part of the HTML5 design, so I think we can go ahead and close this issue.

[2018-03-29 19:15] #26 closed

[2018-04-02 16:53] oliver-phet opened #27 "User question: divide isobaric process"

[2018-04-06 19:24] arouinfar commented on #27
@oliver-phet I believe the current Gas Properties design already addresses the user's concerns.

* We have removed the figure that pushes against the container wall
* We will allow users to hold the pressure & temperature constant or pressure & volume constant, like so:
![image](https://user-images.githubusercontent.com/8419308/38440163-b2cc75ea-399d-11e8-9985-e565c510da45.png)

Can you respond to

[2018-04-07 00:02] arouinfar commented on #11
Discussed in the [4/6/18](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#heading=h.p2kpqhkzbqsw) brainstorming meeting. The team decided that it is pedagogically useful to queue up particles and release them at once. Adding indication bars to the pump, similar to SOM, will provide users with feedback that something has happened. It will also cue that there are

[2018-04-07 00:02] #11 closed

[2018-04-07 00:15] arouinfar commented on #21
In the [4/6/18](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#heading=h.p2kpqhkzbqsw) brainstorming meeting we decided to add a length readout to replace the ruler. The length of the container can be swapped out for the volume in the ideal gas equation, so long as the students are using dummy units. Doubling the length will double the volume.

Given the 2D/3D

[2018-04-07 00:25] arouinfar commented on #22
Discussed in the [4/6/18](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#heading=h.p2kpqhkzbqsw) brainstorming meeting.

If the max/min volume is reached while in one of the constant pressure modes, the sim will switch to holding nothing constant, and a warning message (e.g. "Pressure Changing!") will be displayed to users to let them know something has happen

[2018-04-07 00:25] #22 closed

[2018-04-07 00:30] arouinfar commented on #23
Brainstorming around the first screen has concluded, and there will be an option which allows users to adjust the volume while holding the pressure constant, as requested.

[2018-04-07 00:30] #23 closed

[2018-04-10 01:56] ariel-phet commented on #21
@arouinfar I agree. I think the key is that we can determine functional relationships. Doubling/halving the volume or such. Calculating the exact volume is not a learning goal.

[2018-04-10 01:57] #21 closed

[2018-05-04 21:48] oliver-phet commented on #27
replied to user. closing.

[2018-05-04 21:48] #27 closed

[2018-07-16 17:10] arouinfar commented on #27
@oliver-phet Unfuddle Ticket [#3770](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3770) contains a similar request.

In particular, this change should address the user's request.

[2018-07-16 22:25] pixelzoom opened #28 "credits"
Finalize the credits in gas-properties-main.js.

[2018-07-16 22:42] pixelzoom commented on #28
I'm a little confused about how to handle the legacy credits.  For now, Gas Properties credits are what in the HTML5 design doc + what’s on the legacy webpage.

[2018-07-17 18:54] pixelzoom opened #29 "identify reusable UI components"
The design document has a list of UI components, but doesn't identify which are found in common-code, which need to be migrated to common-code from another sim, and which are specific to this sim.

@arouinfar FYI, anything not shown in the table below will not be reused, and will be developed specifically for this sim.

| UI component | repository | JS type | issue |
|:---|:---|:---|:---|
| Partic

[2018-07-17 20:08] arouinfar commented on #29
@pixelzoom thanks for creating this table! It's only since working with the the creation of the style guide/binder that I've become more familiar with the technical names for some of these common-code components. Moving forward, I'll make it standard practice to identify which UI components are common-code (or will need to be migrated to common-code).

The only thing I would potentially add to thi

[2018-07-17 20:14] pixelzoom commented on #29
Size arrow (Dimensional arrows) was added to the table, with a link to the relevant issue.

[2018-07-19 18:08] pixelzoom opened #30 "PhET-iO design"
Should PhET-iO API design be part of the initial (1.0) design and implementation?
(ANSWER: No, but prudent to do some initial thinking about requirements and issues.)

@arouinfar and I have determined that this sim's model has the same problems that we encountered in instrumenting Hooke's Law (see https://github.com/phetsims/hookes-law/issues/52, https://github.com/phetsims/hookes-law/issues/57).

[2018-07-27 20:27] oliver-phet opened #31 "User suggestion: air pressure in container"
Maybe this would need to be a separate sim, but seemed like it related to Gas Properties?

[2018-08-06 19:28] arouinfar commented on #25
Discussed during brainstorming meeting. Intermolecular forces, in general, are beyond the scope of the learning goals for this sim, so this is not a suggestion we're interested in pursuing.

Another complicating factor is that the Java sim uses a hard sphere collision model, which would not allow for adjustable intermolecular forces.

[2018-08-06 19:28] #25 closed

[2018-09-19 17:45] arouinfar commented on #24
pressure constant, there is no way to displace the wall (i.e. to put
some work into the system). Why?

This request is akin to #23, and has already been addressed by the HTML5 design. There will be two separate constant pressure modes -- one which varies T to maintain constant P, and one which varies V to maintain constant P.

exchanged and how much heat is removed.

The Work screen will include a

[2018-09-19 17:45] #24 closed

[2018-11-12 22:38] pixelzoom opened #32 "Projector Mode feature"
Since this is my first sim that has the Projector Mode feature, I'm creating this issue to track (1) how to implement it, and (2) identify problems.

[2018-11-12 22:40] pixelzoom commented on #32
Slack request for information on how to implement:

<details>

Chris Malley [2:26 PM]
Gas Properties is the first sim that I’ve done that needs to support Projector mode.  Almost everything in the sim needs to change color.  Any pointers on where to look for a good pattern/approach for handling this?

John Blanco [2:27 PM]
States of Matter uses projector mode.

Jonathan Olson [2:27 PM]
Usually put

[2018-11-13 18:42] pixelzoom commented on #32
General suggestion for ColorProfile in https://github.com/phetsims/scenery-phet/issues/422.

[2018-11-13 18:44] pixelzoom commented on #32
Projector Mode is working in Gas Properties, so I'm going to close this issue.

[2018-11-13 18:44] #32 closed

[2018-11-13 20:29] arouinfar opened #33 "[BicyclePumpNode] How to handle dynamic number of particles/pump?"
The BicyclePumpNode in SOM will be converted to a common code component in https://github.com/phetsims/states-of-matter/issues/217.

However, the bicycle pump in GasProps behaves a little differently than SOM. In SOM, there is a set number of particles that get pumped in, regardless of how far/fast the handle moves. In Java GasProps, the number of particles appears to depend on both the distance t

[2018-11-13 20:31] pixelzoom commented on #33
My first question: Is the behavior in SOM desired, or just an artifact of how it was implemented?

[2018-11-13 20:39] pixelzoom commented on #33
@arouinfar said:

More general would be an option to provide a function that maps motion of the handle (distance and speed) to number of particles.   And the 2 mappings above (content, dynamics) would be pre-defined (reusable) values for that option.

[2018-11-13 20:41] arouinfar commented on #33
@pixelzoom I don't think the SOM model can handle a sudden influx of a ton of particles, so a constant number of particles/pump would be desired. There aren't any learning goals that would require a more dynamic BicyclePumpNode in that particular sim.

[2018-11-13 20:47] arouinfar commented on #33
To clarify, options (1) and (2) in https://github.com/phetsims/gas-properties/issues/33#issue-380409753 were meant to describe the desired outcome/UX. I wasn't trying to recommend any specific code architecture.

[2018-11-14 19:13] pixelzoom opened #34 "make Java version runnable in IntelliJ"
The legacy (Java) version of Gas Properties lives in Unfuddle SVN.   As of this writing, it fails to build or run.  I'm only planning to port the model from Java, but doing so will be much easier if I can run and inspect the Java version.   So I'm going to spend some time trying to sort this out.

@arouinfar @ariel-phet FYI.

[2018-11-14 19:24] pixelzoom commented on #34
First up is install IntellJ and the latest legacy codebase.

I installed IntelliJ CE 2018.2.6 (latest).

I updated my SVN working copy and confirmed that it's revision number matches the latest

[code]

![unfuddle](https://user-images.githubusercontent.com/3046552/48507066-2270cb80-e808-11e8-8fc3-18bfa41f1a12.jpg)

[2018-11-14 19:30] pixelzoom commented on #34
With the above Run Configuration, I see these errors: in `SWTGraphics2D`:

[code]

The errors correspond to these lines in Piccolo's `SWTGraphics2D`:

[code]

`org.eclipse.swt` packages come from `simulations-java/common/contrib/swt/swt.jar`.  Expanding swt.jar in the Project window, I see that `Path` and `Transform` are missing from the jar:

![screenshot_865](https://user-images.githubuserconten

[2018-11-14 19:33] pixelzoom commented on #34
@samreid reported on Slack:

I’m set up to build and run ideal-gas in Java, but running into this problem:

[code]

The above is a runtime error.  So this tells me that @samreid is able to actually run the sim (yeah!), but that I'll likely encounter this error when I get the sim to run (boo).

[2018-11-14 20:42] pixelzoom commented on #34
PhETBuildGUI builds and runs.  But if I attempt to run `GasPropertiesApplication` (or any other sim), I hit these errors:

warning: [options] bootstrap class path not set in conjunction with -source 1.4
error: Source option 1.4 is no longer supported. Use 1.6 or later.
error: Target option 1.4 is no longer supported. Use 1.6 or later.
Errors on build

Probably related to this in BuildToolsConstant

[2018-11-16 23:42] pixelzoom commented on #34
Thanks @samreid! That did the trick.  Rather than delete the directories, I excluded them (recursively) from compilation, see Preferences dialog below.   Gas Properties builds and runs, so closing this issue.

![screenshot_875](https://user-images.githubusercontent.com/3046552/48652767-7c1af680-e9be-11e8-926a-40fd872f09f3.png)

[2018-11-17 04:52] samreid commented on #34
Just a thought--should we delete those swt directories from svn?  Our simulations do not use SWT at all.  We can recover the history if we ever need it.  And in the future we will not need to remember to exclude them before we can build.  I'm happy either way--just wanted to know your thoughts on the matter.

[2018-11-17 20:11] pixelzoom commented on #34
Once you discovered this fix, I had a very faint recollection that we had encountered this problem before.  And when we were actively doing Java development and updating contrib/ packages, it made sense not to customize them (by changing code, deleting parts of the package, etc.) unless absolutely necessary.  But since we're unlikely to ever upgrade contrib/piccolo2D/, it's probably safe to delete

[2018-11-17 20:17] pixelzoom commented on #34
Here's the ticket that I was thinking of, from 10 (!) years ago.  Not IntelliJ + Piccolo2D, but the same problem with Eclipse + JMonkeyEngine.
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/1666

[2018-11-20 16:53] samreid commented on #34
I deleted those two directories and committed.  Here is my paper trail:

[code]

[2018-11-30 21:25] pixelzoom opened #35 "common-code issues that block 1.0 publication"
This issue tracks known common-code issues that must be resolved before 1.0 can be published.

- [x] https://github.com/phetsims/joist/issues/538, screen icons blend into navbar
- [x] https://github.com/phetsims/states-of-matter/issues/217, migrate BicyclePumpNode to scenery-phet

TimerNode:
- [x] https://github.com/phetsims/scenery-phet/issues/425, buggy layout of units in TimerNode
- [x] https:/

[2018-12-20 21:11] pixelzoom commented on #33
12/20/18 design meeting:

* @ariel-phet pointed out that having the dynamics depend on how fast the pump moves is bad physics.  The same number of particles should be added regardless of how fast the pump is moved.
* We want a linear relationship between the length of the pump and the number of particles.
* When you release the pump, it stays where you release it.
* For Gas Properties, max 50 part

[2018-12-20 21:12] pixelzoom commented on #33
@chrisklus FYI, see above design decisions relevant to  phetsims/states-of-matter#217.

[2018-12-20 22:09] arouinfar commented on #33
One correction to https://github.com/phetsims/gas-properties/issues/33#issue-380409753 -- in SOM, there isn't a fixed number of particles per pump. There is a max number of 3 particles/pump, depending on how far the handle is moved, so there isn't a need for the two options in my original post.

The number of particles added to a the container will linearly map to the distance the handle of the Bi

[2018-12-30 03:35] pixelzoom commented on #10
Oops. We're way past April 15, and this sim is now well into development.

@ariel-phet @arouinfar how do you want to proceed with triaging the TODO list?

[2019-01-01 21:07] arouinfar commented on #10
@pixelzoom a lot of these seem irrelevant to Gas Properties HTML5, especially since you are not directly porting the Java model. There may be a few items that may require some design discussion. Can you review and see which of these items merits further discussion? The only thing that sticks out to me is the behavior around 0 K.

I do not think we need to allow the system to be cooled to 0 K. The

[2019-01-02 17:59] pixelzoom opened #36 "behavior at absolute zero"
In https://github.com/phetsims/gas-properties/issues/10#issuecomment-450756942, @arouinfar said:

@pixelzoom a lot of these seem irrelevant to Gas Properties HTML5, especially since you are not directly porting the Java model. There may be a few items that may require some design discussion. Can you review and see which of these items merits further discussion? The only thing that sticks out to me

[2019-01-02 18:00] pixelzoom commented on #36
@arouinfar That sounds OK.  Does it need to be discussed with the design team?  Can you please add to the design doc?

[2019-01-02 18:01] pixelzoom commented on #10
Discussion of behavior at absolute zero is moved to #36.

[2019-01-02 18:05] pixelzoom opened #37 "investigate Java model"
The TODO list in https://github.com/phetsims/gas-properties/issues/10 contained a few items that I'll need to look out for in the Java model:

- [x]  Look in to moving wall collisions
- [x] make more versatile & robust collision detection system that works heirarchically with object types
(The HTML5 implementation will not be "more versatile", it will address only the needs of Gas Properties. It w

[2019-01-02 18:07] pixelzoom commented on #10
TODO items that I'll need to watch out for in the Java model have been consolidated in #37.

[2019-01-02 18:31] pixelzoom commented on #37
Re " set default energy so kinetic energy is never < 0", here's a Slack discussion that @arouinfar had:

Amy Rouinfar [11:20 AM]
I don’t how it could ever be < 0

Chris Malley [11:21 AM]
My thought too.  Probably just a bug in the Java model that we need to watch out for?

Amy Rouinfar [11:21 AM]
The only thing that can be negative is velocity, which gets squared for KE
Oh, maybe it’s using 3/2 kT

[2019-01-02 18:46] arouinfar commented on #36
@pixelzoom I believe there was some off-hand discussion about this during brainstorming, but it would be good to confirm with @kathy-phet in design meeting.

Slack discussion with @ariel-phet:

I vaguely remember some off-hand discussion in GasProps brainstorming about 0 K. I don’t think there’s any reason to allow the system to get cooled to 0 K, so perhaps we should limit the HeaterCoolerNode to

[2019-01-02 18:48] arouinfar commented on #10
Looks good to me. Thanks @pixelzoom!

[2019-01-02 18:48] #10 closed

[2019-01-15 23:37] chrisklus commented on #33
@SaurabhTotey and I were looking into the pump behavior today, and we noticed that the number of particles added per pump *is* based on the speed of the pump currently in SOM. Distance is relevant as well. With a full-length pumping action at a slow speed, the pump releases 4 particles. With a full-length pumping action at maximum speed, the pump releases 1 particle.

Should this be the standard (

[2019-01-15 23:42] pixelzoom commented on #33
This is buggy behavior, not physically correct.  Speed should not be a factor, only distance traveled.
My understanding is that the speed behavior should _not_ be implemented as part of BicyclePumpNode.  And it should probably be corrected in SOM.  @arouinfar @ariel-phet is that correct?

[2019-01-16 00:06] arouinfar commented on #33
Agreed @pixelzoom.

That's correct. Handle speed should never determine the number of particles pumped in.

Some additional notes from the Gas Properties meeting notes that lead this https://github.com/phetsims/gas-properties/issues/33#issuecomment-449151395:

[2019-01-16 00:08] pixelzoom commented on #33
@arouinfar Could you also comment on whether behavior should be changed in SOM?  And if so, an  issue should be created.

[2019-01-16 00:10] pixelzoom commented on #12
Now that I've started on Gas Properties...  This most definitely will not be a direct port, and nothing like BaseModel will exist in HMTL5.   So this issue is irrelevant and can be closed.

[2019-01-16 00:10] #12 closed

[2019-01-16 00:11] pixelzoom commented on #13
This is not going to be a direct port, and unlikely that this wouldn't be noticed in the HTML5 version if I happened to make the same error.   So closing this issue.

[2019-01-16 00:11] #13 closed

[2019-01-16 00:12] arouinfar commented on #33
The behavior in SOM is incorrect, but it can wait to get corrected until @chrisklus works on https://github.com/phetsims/states-of-matter/issues/217.

[2019-01-16 00:14] pixelzoom commented on #16
Will do.  Is this decision noted in the design doc?

[2019-01-16 00:15] pixelzoom commented on #17
We're not using PumpHandleGraphic, and I'm sure we'll notice if BicyclePumpNode has this problem. So I think it's safe to close this issue.

[2019-01-16 00:21] pixelzoom commented on #7
Closing, since this info has been moved into the Milestones section of the design doc.

[2019-01-16 00:21] #7 closed

[2019-01-16 00:33] arouinfar commented on #9
@pixelzoom in SOM, the particles have intermolecular attractions, so the Lennard-Jones potential is appropriate there. It looks like Weeks-Chandler-Anderson is a variant of (or at least builds on) the Lennard-Jones potential.

An ideal gas assumes that the particles do not experience any sort of intermolecular attractions, and that the collisions between particles are perfectly elastic (momentum c

[2019-01-16 00:34] pixelzoom commented on #9
OK, then I'm going to proceed with using the model in the Java implementation.  And I'll close this issue.

[2019-01-16 00:34] #9 closed

[2019-01-23 21:05] pixelzoom commented on #37
Re:

The class hierarchy is indeed ridiculously deep:

[code]

And everything above (and including) Body is in package `edu.colorado.phet.common.mechanics`, which is common code used by multiple sims.

So it's very difficult to determine what is and isn’t used in Gas Properties.  But it looks to me like there is a bunch of code related to properties of rotating particles (orientation, angular velo

[2019-01-29 21:43] pixelzoom commented on #37
This comment will include a list of important classes in the Java implementation.

`GasPropertiesApplication` - the sim's main

`IdealGasModule` - the sim's sole module

`IdealGasModel` - the sim's model container, start with `stepInTime`

`CollisionGod` - the top-level model element that handles collision detection and response

`CollisionExpert` - the interface implemented by classes that detect

[2019-02-14 00:57] pixelzoom opened #38 "how to draw a large number of animating particles"
This issue is for tracking various approaches to drawing a large number of animating particles.

I was planning on using CanvasNode to draw the entire system of particles.  And that is demonstrated in [1.0.0-dev.3](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.3/phet/gas-properties_en_phet.html).

But Wave Interference has similar requirements for sound particles, ran into performanc

[2019-02-25 22:17] KatieWoe opened #39 "CT Perennial Lint Everything"
[code]

[2019-02-25 23:03] pixelzoom commented on #39
There was a lint error that snuck in for about 5 minutes, and was immediately fixed.

[2019-02-25 23:03] #39 closed

[2019-02-26 17:00] pixelzoom commented on #38
CanvasNode is working great.  It would be relatively easy to implement the same approach as Wave Interference.  And with any luck, iPad Air2 may no longer be supported, or iOS13 may resolve performance issues (or create new ones) by the time this sim approaches completion.  So I'm going to stick with CanvasNode for now and defer this issue.

[2019-02-26 17:01] pixelzoom commented on #36
Assigning to @arouinfar so that this gets on the design meeting schedule.

[2019-02-26 17:04] pixelzoom commented on #30
The most promising approach for achieving acceptable performance involves few Properties in the model, and treating the entire system of particles as one model element. But Properties are fundamental to PhET-iO.  So I recommend that we have a design meeting ASAP to discuss potential PhET-iO design/goals for this sim (what will need to be instrumented, etc.) and make sure that we're all on the same

[2019-02-26 17:14] pixelzoom commented on #29
I'm currently re-using all of the above UI components. The one exception is `BicyclePumpNode`, which is still in development, see https://github.com/phetsims/states-of-matter/issues/217.

So I think it's safe to close this issue.  Assigning to @arouinfar in case she wants to capture the above table of components in the design doc.

[2019-02-26 17:18] pixelzoom commented on #31
@arouinfar Is this something that needs to be addressed for Gas Properties?  If not, recommended to move this to wherever ideas for new sims are being tracked.

[2019-02-26 17:23] pixelzoom commented on #18
This has already been addressed in the HTML5 implementation.  Each particle type has its own radius, and there is nothing like `s_radius`.   So closing.

[2019-02-26 17:23] #18 closed

[2019-02-26 17:30] pixelzoom commented on #19
@arouinfar FYI, here's the answer to the question we had last week about how the Java implementation makes the release of particles look less wave-like.

The current HTML5 implementation releases each particle with a velocity magnitude that corresponds to 300K, regardless of whether it's released via the pump or spinners.  The relevant equations are documented in [model.md](https://github.com/phet

[2019-02-26 17:49] pixelzoom commented on #37
Re:

Part of the problem with the Java model is that it's used by quite a few sims, it's trying to be too general and too versatile (handling anything that that is a "Body"), and it's therefore overly complicated and buggy (not robust).

My plan for the HTML5 implementation is not to be "versatile", but to handle the requirements of Gas Properties in a clear and robust manner.  That means that col

[2019-02-26 17:55] pixelzoom commented on #15
@arouinfar FYI... It's worth noting that the particle counts are totally different in the HTML5 design and implementation.  Counts are the number of particles that exist (inside or outside the container), not the number of particles in the container.   So if the container did leak, it would not be reflected in the particle counts.

[2019-02-27 17:44] arouinfar commented on #31
@pixelzoom this is beyond the scope of Gas Properties. This would be more in line with the atmospheric spin-off that Kathy has in mind for the future.

@oliver-phet can you move this to Unfuddle?

[2019-02-27 18:00] oliver-phet commented on #31
Recorded on the [sim suggestion form](https://docs.google.com/forms/d/e/1FAIpQLSec0EXNHF7wMKBJN-hD2PyrUVSz2v5-hGLXVqCl2NyppmhOng/viewform). Closing.

[2019-02-27 18:00] #31 closed

[2019-02-27 22:16] arouinfar commented on #30
@pixelzoom there were quite a few design meeting requests for this week, but I've created a reminder to request time for GasProps PhET-iO at next week's design meeting.

[2019-02-27 22:26] arouinfar commented on #29
Thanks @pixelzoom, the table in https://github.com/phetsims/gas-properties/issues/29#issue-342041928 has been added to the [Design Overview](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#) section of the design doc.

[2019-02-27 22:26] #29 closed

[2019-02-27 22:31] arouinfar commented on #36
Reminder has been set to request GasProps time at next week's design meeting. I've also added this issue to the meeting agenda in the design doc. Since there's nothing else to be done for now, I'm unassigning myself.

[2019-02-28 17:32] pixelzoom opened #40 "collision detection and response"
This issue is to capture various requirements, notes, references, etc. related to collision detection and response.

The design team is generally happy with the behavior of the Java version, so the plan is to use the same approach for the HTML5 version.   The Java implementation is overly general for the HTML5 needs, so I'll be pruning things down to meet the HTML5 requirements.  The relevant clas

[2019-02-28 17:33] pixelzoom commented on #40
Some references from @samreid on Slack:

Sam Reid [10:27 AM]
Have you investigated the use of a QuadTree data structure for collision detection?
https://gamedevelopment.tutsplus.com/tutorials/quick-tip-use-quadtrees-to-detect-likely-collisions-in-2d-space--gamedev-374
https://stackoverflow.com/questions/4896280/avoid-on2-complexity-for-collision-detection
https://github.com/timohausmann/quadtree-j

[2019-03-14 19:03] pixelzoom opened #41 "graphics processor switch causes sim to pause"
From https://github.com/phetsims/scenery/issues/621#issuecomment-472951784:

After pumping a bunch of particles into the container, the animation runs for 1-2 seconds, then pauses, then resumes. This occurs regardless of how long I wait after startup to do the pumping.

Specifying `?webgl=false` makes the problem go away. So @samreid's hypothesis is that scenery is doing a WebGL check that switche

[2019-03-14 19:11] pixelzoom commented on #41
I can put this in GasPropertiesQueryParameters, but that doesn't seem robust:

`phet.chipper.queryParameters.webgl = false;`

[2019-03-14 19:44] pixelzoom commented on #36
3/14/19 design meeting:

We'd like to trying letting it go to absolute zero and see what cases come up.   Then we'll evaluate and revisit.

[2019-03-14 20:06] pixelzoom commented on #30
3/14/19 design meeting:

* No needs to instrument individual particles.
* Want to be able to inspect things like #particle in histogram bins, #particles in left/right sided of container, etc.
* Need to to think about how to save/restore state. No need for particles to be in same positions with same velocities.  But if we don't save state of each particle, then need to evaluate the difficultly of i

[2019-03-14 21:38] pixelzoom commented on #40
As of [1.0.0-dev.4](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.4/phet/gas-properties_en_phet.html?initialScreen=1), basic collision detection and response seems to be working nicely.  It's consolidated in `CollisionDetector`, ~300 lines.  There's still some cleanup and documentation to be done.

[2019-03-14 21:44] pixelzoom commented on #38
`CanvasRenderingContext2D.drawImage` is working nicely. I haven't tested on iPad Air2 yet, but performance is great on MacBook Pro and iPad6, very smooth animation.

I also experimented with flat circles using `CanvasRenderingContext2D.arc`, but references like [this one on Stackoverflow](https://stackoverflow.com/questions/12254415/canvas-arc-vs-drawimage) indicate that `drawImage` is much faster

[2019-03-19 00:41] pixelzoom commented on #14
This is safe to close.  The initial collision detection in 1.0.0-dev.4 indicates that no particles are leaking from the container.  And since there is no gravity, particles that leave the container will never return to the container; they will float up and away.

[2019-03-19 00:41] #14 closed

[2019-03-19 00:42] pixelzoom commented on #15
1.0.0-dev.4 indicates that no particles are leaking from the container.  And I've added safeguards to notice if that happens.  So closing this issue.

[2019-03-19 00:42] #15 closed

[2019-03-19 00:43] pixelzoom commented on #20
After implementing the collision detection in 1.0.0-dev.4, I'm confident that this bug has not been ported from Java to HTML5, and will not occur in HTML5.  Closing.

[2019-03-19 00:43] #20 closed

[2019-03-19 00:52] pixelzoom commented on #40
With [1.0.0-dev.5](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.5/phet/gas-properties_en_phet.html) on iPad2 + iOS 9.3.5 + mobile Safari...  Animation is not as smooth as on other platforms, but probably acceptable.  Animation noticeably pauses/stutters when particles are dispensed via the pump or spinners, and that's not something that is likely to be remedied by adjusting region s

[2019-03-19 17:38] amanda-phet commented on #30
@pixelzoom can you edit the above to say @arouinfar not me?

[2019-03-22 02:32] pixelzoom commented on #30
When the first (Ideal) screen is feature complete, I think it will be worth revisiting this.

[2019-03-22 02:36] pixelzoom commented on #19
The HTML5 version is using identical model (and code path) for particles released via the pump vs spinners.  They are currently released with identical velocities, so have a wave-like appearance.   That can be changed if desired.  Leaving this issue open to revisit when the first (Ideal) screen is feature complete.

[2019-03-22 02:43] pixelzoom opened #42 "initial velocity for groups of particles"
This issue was factored out of https://github.com/phetsims/gas-properties/issues/19.

The current HTML5 implementation adds each particle with an initial velocity magnitude that corresponds to the temperature in the container (or 300K if the container is empty), regardless of whether the particle is released via the pump or spinners.  The relevant equations from [model.md](https://github.com/phets

[2019-03-22 02:45] pixelzoom commented on #19
Tracking the desired look of particle groups in https://github.com/phetsims/gas-properties/issues/42.

Closing this issue since legacy behavior is no longer a concern.

[2019-03-22 02:45] #19 closed

[2019-03-22 18:39] pixelzoom opened #43 "investigate code reuse options for histograms"
[Gas Properties HTML5](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#heading=h.gjdgxs) design document shows 2 histograms, for Speed and Kinetic Energy, in the _Energy_ screen:

<img width="625" alt="screenshot_1114" src="https://user-images.githubusercontent.com/3046552/54845602-69cc0480-4c9f-11e9-869a-cec8bd0f3956.png">

Is there anything that can be reused

[2019-03-22 18:41] samreid commented on #43
I'm not aware of pre-existing code that can be leveraged.  We may need a type for this --perhaps in griddle.

[2019-03-22 18:47] pixelzoom commented on #43
A case insensitive search for "histogram" points me to plinko-probability and build-a-molecule.

In  plinko-probability, it's the "bins" that appear below the main apparatus.  This is not even close to a true histogram or what I need in Gas Properties.

Running build-a-molecule, I can't seem to locate the histogram. @jonathanolson can you please point me to where it appears in the UI, preferable w

[2019-03-23 20:41] pixelzoom commented on #33
SOM bug has been reported in https://github.com/phetsims/states-of-matter/issues/242.

The HMTL5 implementation guarantees that particles behave the same when added via the pump vs spinners.  How groups of particles look when they are added (wave vs somewhat chaotic) is being tracked in https://github.com/phetsims/gas-properties/issues/42.

So closing this issue.

[2019-03-23 20:41] #33 closed

[2019-03-23 20:42] pixelzoom commented on #38
When the first (Ideal) screen is feature complete, I'd like to have QA evaluate performance, especially on iPad Air2 + iOS 12.

[2019-03-23 20:50] pixelzoom commented on #40
A couple of things left to do here:

- [ ] If we need to squeeze out more performance (see https://github.com/phetsims/gas-properties/issues/38), optimize the number of times that we iterate over particle arrays.

- [ ] The Java version implemented a non-standard mode for particle-particle collisions, and the HTML5 version uses the same model (cleaned up and streamlined). I still don't fully under

[2019-03-23 21:02] pixelzoom commented on #43
I investigated `ElementHistogram` in build-a-molecule, and it seems to be a model element only, with no visual histogram graph in the UI.  @jonathanolson is that correct?   Assuming that it is correct...

PhET has no common-code support for histograms, and there's nothing that I can reuse/steal from another sim.  PhET can't use a 3rd-party library due to PhET-iO and a11y requirements (see https://

[2019-03-23 21:10] pixelzoom commented on #43
I asked:

My recommendation is the first option - create a histogram that meets the needs of Gas Properties and lives in the gas-properties repo.  I'm recommending this option because I don't have the time (or interest) in the second option.  And (more importantly) the second option should be done in the larger context of a charting library, which is something that PhET clearly needs.

[2019-03-24 08:41] arouinfar commented on #43
@pixelzoom this seems like the first true histogram in a sim, so the approach would be a GasProps-specific histogram. Usually we don't generalize a component until its 2nd appearance in a sim. At that point, it's a bit easier to decide on the general features and options of the common component, since you have two potentially different use cases in mind.

The first option seems most reasonable to

[2019-03-25 15:51] ariel-phet commented on #43
@pixelzoom agreed, go "quick and dirty" - I think you have a pretty good eye for things so feel free to make things a bit more general in places where you see appropriate.

Two options I could see worth adding while you are doing this work (but certainly not necessary, only if they are easy...) would be:
1. Allowing for "stroked bars" (sometimes you see this on histograms). Again not necessary, bu

[2019-03-25 15:58] pixelzoom commented on #43
Sounds good, I'll proceed with an implementation that is specific to Gas Properties, but generalizable.

[2019-03-25 15:59] #43 closed

[2019-03-29 17:31] kathy-phet commented on #43
Just for the record, I also agree - quick and dirty histogram is best for this sim. This will help us with some groundwork if/when we do have other sims with this need.

[2019-04-02 17:34] pixelzoom opened #44 "choose scale factor for heat/cool"
Applying heat/cool to the container scales the speed of all particles in the container.  The scale computation is:

[code]

`heatCoolProperty.value` comes from (and is controlled by) `SCENERY_PHET/HeaterCoolerNode`.  Value is in the range [-1,1], where 0 is off, > 0 is heat, < 0 is cool.

`GasPropertiesQueryParameters.heatCool` is a query parameter. It's range is [100,100000], with default 1000.

[2019-04-02 17:47] pixelzoom opened #45 "when to redistribute particles in the container"
When resizing the container, the design document says to redistribute the particles after releasing the resize handle.   That looked a little odd/unintuitive to me, so I implemented 2 behaviors, controlled by the `redistribute` query parameter:

`drag` - redistribute continuously while dragging the resize handle (the default)
`end` - redistribute when the resize handle is released (as in the desig

[2019-04-02 18:04] pixelzoom opened #46 "revisit "Control Temperature" UX"
This accordion box appears in the Energy screen:

<img width="230" alt="screenshot_1120" src="https://user-images.githubusercontent.com/3046552/55424990-a967db80-553e-11e9-8766-6e27c5b3de9d.png">

<img width="231" alt="screenshot_1121" src="https://user-images.githubusercontent.com/3046552/55425296-5cd0d000-553f-11e9-986b-dbb15f7d69ec.png">

The temperature part of this UX seems potentially confus

[2019-04-02 18:08] pixelzoom commented on #46
This UX is also a little odd because it makes it look like we're setting a "particle temperature".  What we're really doing is setting a temperature that will be used to compute a particle's initial velocity, using **|v| = sqrt( 3kT / m )**.

[2019-04-02 21:52] pixelzoom opened #47 "NSTA milestone?"
The sole milestone in the design document is:

But NSTA (April 11-14) has been mentioned more than once, see below.  If that's something that you want to do, I need to know in the next 48 hours.

---

Discussion about Gas Properties milestones took place in a SOM issue.

@arouinfar on 11/27/18 https://github.com/phetsims/states-of-matter/issues/217#issuecomment-442282755:

@pixelzoom on 3/23/19 in

[2019-04-02 22:48] pixelzoom opened #48 "consider revising color profile for panels"
To my eye, there's too much negative space in this sim, everything has the same background color.  And that causes a "boxes inside of boxes" look.  That could be resolved by giving the panels a background color that is different from the screen background color. If you want to play around with this yourself, open gas-properties/gas-properties-colors.hmtl (master) in a browser.

For example, here's

[2019-04-02 22:55] pixelzoom commented on #48
Thought I prefer the above dark gray panels, this even looks better to me than the current default profile, and might have made the added overhead/cost of "projector mode" unnecessary.

![screenshot_136](https://user-images.githubusercontent.com/3046552/55441407-07f57f80-5568-11e9-99cb-b50b63d626d7.png)

[2019-04-02 22:57] pixelzoom commented on #47
@chrisklus FYI

[2019-04-02 23:03] kathy-phet commented on #47
I think being able to show of the sim would get a lot of "yippees" from teachers at NSTA, so it would be great. But it is nothing we "promised" to do. I would say - go-for-it - if you feel comfortable with it as a stretch goal, but I don't think its worth cutting corners to get working that will be undone and cost more in the long run.

[2019-04-03 16:29] arouinfar commented on #47
Agreed with @kathy-phet. It'd be nice to show the first two screens off at NSTA, if the sim is in a good state. If that happens, great, but it's not worth cutting any corners. Teachers will be plenty excited to hear that GasProps will be released sometime in the coming months, even without seeing its current state.

[2019-04-03 16:32] arouinfar commented on #45
As @pixelzoom said, I quite like the `drag` behavior. I'll tag this issue for design meeting, so we can review it as a group.

[2019-04-03 16:49] pixelzoom commented on #47
@arouinfar I'm not clear on what "in a good state" is.  Based on master, can you describe what would need to be completed in order to show at NSTA?

[2019-04-03 22:09] arouinfar commented on #44
@pixelzoom thanks for creating this query parameter, it was very helpful! Let's reduce `heatCool` a bit to 800, which seems closer to the Java behavior.

[2019-04-03 22:12] pixelzoom commented on #44
Done!

[2019-04-03 22:12] #44 closed

[2019-04-03 22:59] arouinfar commented on #47
For the Ideal screen, I'd want the Hold Constant modes working. The BicyclePumpNode would be nice to have too, but I might consider demoing this screen without it. Blowing the lid and the pressure calibration aren't necessary for NSTA, as I plan to frame the sim as a prototype that isn't feature complete.

For the Explore screen, changing the volume shouldn't freeze/magically move the particles, a

[2019-04-04 15:22] pixelzoom commented on #47
Hold Constant is will not be done  by April 11. So I will not plan on creating a dev version that is specific to NSTA.   If you'd like to show whatever the latest dev version is at that time, check with me for status.

[2019-04-04 15:22] #47 closed

[2019-04-04 18:52] pixelzoom commented on #42
The first screen is not feature complete.  But it's far enough along that we should be able to make a decision about how groups of particles look when added to the container.  See master or [1.0.0-dev.8](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.8/phet/gas-properties_en_phet.html).

[2019-04-05 22:21] pixelzoom opened #49 "tune the Average Speed display"
The Average Speed display needs to be smoothed, so that it's not updating so frequently/ frantically.   We suspect that collecting values over N picoseconds, then displaying the average every N picoseconds will be sufficient.  I'll add a query parameter for specifying N.

[2019-04-05 22:23] pixelzoom commented on #49
Implemented in the above commits.

Query parameters `averageSpeedSmoothingInterval` (default 0.5 ps) can be used to experiment with the smoothing interval.

@arouinfar let me know if the behavior matches what you had own mind, and if you'd prefer a different default value for `averageSpeedSmoothingInterval`.

[2019-04-09 17:06] pixelzoom commented on #37
Some notes about the Java pressure model...

Relevant code, with my annotations preceded by "//CM":

[code]

A "slice" is a horizontal line that spans the width of the box.  Particles that pass cross this line during a tilmestep contribute to a "momentum sum" for that slice.  Pressure for the slice is the average momentum. Collisions between particle and container and not considered in the computa

[2019-04-09 18:54] pixelzoom commented on #45
Notes from 4/9/19 discussion with @arouinfar:

Change the default to "end", keep the query parameter for interviews.

[2019-04-09 19:00] pixelzoom commented on #42
Notes from 4/9/19 discussion with @arouinfar:

The desired behavior is:
* When particle-particle collisions are on, randomize the velocity magnitude, such that the average for the group is `|v| = sqrt( 3kT / m )`.  (I might also causing particle-particle collisions when Particle `previousLocation === null`.)
 * When particle-particle collisions are off, wave-like behavior.

[2019-04-09 19:09] arouinfar commented on #45
A few notes from my discussion with @ariel-phet about the `drag` behavior.

* Looks natural, but that goes against the goal of the magical, non-work-doing wall.
* Scaling the particles to fit the new volume could create the illusion of compressing (doing work on) the gas.

I've asked @pixelzoom to keep the `drag` behavior around as a query parameter until we've finished interviews, just in case is

[2019-04-09 19:12] arouinfar commented on #45
@pixelzoom once you swap the default back to `end` can you reassign to me?

[2019-04-09 19:22] arouinfar commented on #37
I completely agree @pixelzoom. It's important that the pressure model is physical, though there's still some decisions to be made about what exactly that entails. @pixelzoom and I discussed these possibilities for taking wall collisions into account:

(1) Each particle has a flag for wall collisions. Once a particle has collided with the wall, it is counted in the pressure calculation.

(2) Simila

[2019-04-09 20:27] pixelzoom commented on #45
Done, back to you @arouinfar.

[2019-04-09 20:39] pixelzoom opened #50 "pressure model"
In https://github.com/phetsims/gas-properties/issues/37#issuecomment-481338435 (investigate Java model), I investigated the Java model for pressure, summarized in some notes and conclusions.   See that comment for the full narrative. The conclusions were:

So we need to decide what the desired behavior is for the pressure model, and how to best implement that.

[2019-04-09 20:46] arouinfar commented on #50
Moving https://github.com/phetsims/gas-properties/issues/37#issuecomment-481400046 here

I completely agree @pixelzoom. It's important that the pressure model is physical, though there's still some decisions to be made about what exactly that entails. @pixelzoom and I discussed these possibilities for taking wall collisions into account:

(1) Each particle has a flag for wall collisions. Once a pa

[2019-04-09 20:48] pixelzoom commented on #50
A couple of other notes...

* The model implemented in [1.0.0-dev.9]() uses `P = NkT/V`.  The computation considers the entire contents of the container, and does not include anything related to particle-container collisions.

* @arouinfar and I noted that the pressure values in the HTML5 version are not even close to those in the Java version.  HTML5 values are roughly 100x larger.   We suspect t

[2019-04-09 22:20] arouinfar commented on #50
I checked my notebook, and my calculation shows an even larger depth.

With a default container width (6.6 nm), I set up the following situation:
N = 100
T = 300 K
P = 0.52 atm (52689 Pa)

Using  `V = NkT/P`, the corresponding volume would be 7863 nm^3. Assuming a square container, the depth would need to be ~180 nm, which is 20 times larger than the max width of the container.

[2019-04-09 23:06] arouinfar commented on #45
Thanks @pixelzoom! I'll mark as `status:on-hold` for now.

[2019-04-09 23:32] pixelzoom commented on #42
I ran into problems with using a Gaussian distribution for speed values.  Temperature in the container is  is `T = (2/3)KE/k`, and `KE = (1/2) * m * |v|<sup>2</sup>`.  Since there's a square involved here, deviation in speed doesn't not produce the desired temperature in the container

@arouinfar had the great idea of using a Gaussian distribution for the temperature values that are used to comput

[2019-04-12 19:26] pixelzoom commented on #41
Blocked by https://github.com/phetsims/scenery/issues/621.

[2019-04-12 23:55] arouinfar commented on #42
@pixelzoom the behavior in master is looking really great to me! I'm glad the Gaussian distributions of temperatures worked out. :)

I don't have any changes to suggest, so closing.

[2019-04-12 23:55] #42 closed

[2019-04-16 21:25] pixelzoom commented on #46
Added meeting:design label, would be good to discuss this while I'm on vacation.

[2019-04-16 21:26] pixelzoom commented on #48
Added meeting:design label, would be good to discuss this while I'm on vacation.

[2019-04-16 22:24] pixelzoom commented on #50
Discussed a bit on Zoom today with @ariel-phet.  Notes...

* Pressure is currently computed as `P = NkT/V`.  Temperature is `T = (2/3)KE/k`.  All particles in the container contribute to N and T.
* What is the desired depth of the container? It's currently 1nm. Changing depth is one way to adjust the pressure values.
* When do particles contribute to the pressure?  After they have collided with th

[2019-04-25 21:18] pixelzoom commented on #50
4/25/19 design meeting:

* When container is empty, wait for first particle-container collision before showing non-zero pressure.

* Add noise to pressure gauge, based on number of particles.  More particles results in less jitter in the gauge needle.

[2019-04-27 02:39] pixelzoom opened #51 "tune the Particle Flow Rate indicators"
The particle flow rate feature in the Diffusion screen requires tuning.  There are 2 related query parameters:

* `flowRateSamplePeriod` is the sample period for particle flow rate, in ps.  It determines how often the vectors are updated. Default is 1 ps, and it must be > 0.

* `flowRateScale` is the length of a 1 particle/ps flow rate vector. It determines how long the vectors will be. Default is

[2019-04-27 03:11] pixelzoom opened #52 "revise histograms"
In 4/25/19 design meeting with @arouinfar @kathy-phet @ariel-phet, we identified that the histograms in the _Energy_ screen require tuning.   I've added 4 related query parameters:

* `speedBins` is the number of bins in the Speed histogram.  Default is 10, must be > 0.

* `speedBinWidth` is the width of a bin in the Speed histogram, in nm/ps.  Default is 0.25 nm/ps, must be > 0.

* `keBins` is th

[2019-04-27 03:19] pixelzoom commented on #36
Enough of the sim is implemented that this can now be investigated.

I can make the thermometer read 0K via the following steps:
1. Go to Intro screen
2. Pump some particles into the container.
3. Hold the heater/cooler slider in the "full cooling" position until the thermometer reads 0K.

Particles are still moving, so we're probably at some small value that's < 0.5K and is rounded to 0K.

@aroui

[2019-04-27 03:29] pixelzoom commented on #52
Other design question related to the histograms:

* What do you want to do when there is data that is outside the range of the histogram? Java showed '>>', HTML5 currently shows '...'

* How do you want auto-scale to behave for the y axes?  When do they scale? How much do they scale?  Do both histograms have the same scale?

* How often do you want the histograms to update, in ps?  They currently

[2019-04-27 03:30] pixelzoom commented on #51
Make sure that `flowRateSamplePeriod` value behaves well when the sim is paused and the Step button is used to advance the sim.

[2019-04-27 03:30] pixelzoom commented on #49
Make sure that `averageSpeedSamplePeriod ` value behaves well when the sim is paused and the Step button is used to advance the sim.

[2019-04-27 03:41] pixelzoom opened #53 "add distribution of each species to Kinetic Energy histogram?"
At 4/25/19 design meeting, @kathy-phet mentioned that she's like to see the plots for the individual particle types in the Kinetic Energy histogram, similar to the Speed histogram.  (The design doc refers to this as "the distribution of each species".) I mentioned that this is not trivial to add. And I wasn't clear after the meeting whether I should add it or not.   It will be 1-2 hours of work to

[2019-04-29 17:29] pixelzoom commented on #51
@arouinfar I added query parameter `maxInitialNumber`, so that you can experiment with larger numbers of particles in the Diffusion screen.  Default is 100, and it must be > 0.

[2019-04-29 17:33] pixelzoom opened #54 "specify requirements for smoothing quantities"
Discussed a bit with @arouinfar and decided to create an issue.   We need to:

(1) Identify which quantifies need to be smoothed by averaging over some sample period.

(2) Identify what the sample period is for those quantities, and whether there are any issues with having different sample periods for different quantities.

(3) Determine how the Step button is related to smoothing.  Are quantities

[2019-04-29 18:10] pixelzoom opened #55 "What is the relationship between mass and radius?"
For the Diffusion screen (but relevant to all screens), the design document says:

The design doc also says that the heavy particles are 28 AMU, light particles are 4 AMU.  But if "proportional" is linear, then the radius of heavy particles would be 7x larger than light particles.

What is the desired relationship between mass and radius?

[2019-04-29 18:29] pixelzoom commented on #53
I spoke with @arouinfar, she said to go ahead and add this so we can see what if it has any value.

[2019-04-29 20:58] pixelzoom commented on #53
@arouinfar @kathy-phet This was added to [1.0.0-dev.13](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.13/phet/gas-properties_en_phet.html).  Play around with it, and let me know if we're keeping it.

[2019-04-29 22:16] pixelzoom opened #56 "revisit Collision Counter design"
This was mentioned at an earlier design meeting.  Creating an issue so that it's on our radar.  If it's no longer necessary, feel free to close.

[2019-04-29 22:18] pixelzoom opened #57 "icons for Collision Counter and Stopwatch"
This was mentioned in an earlier design meeting.

Icons currently look like this:

<img width="233" alt="screenshot_1163" src="https://user-images.githubusercontent.com/3046552/56930557-45cbc200-6a9a-11e9-9121-19b77620d746.png">

We probably want something that is less detailed, but can still be created programmatically.

[2019-04-29 22:21] pixelzoom commented on #56
Having used the Collision Counter a few thousand times now....  It's biggest deficiency is that it's not obvious when the counting has completed.  The button icon change is the clue, and it's a bit subtle.  Maybe the button should also be `red` while it's counting?  Something to clearly indicate that the counter is 'on'.

[2019-04-29 22:30] pixelzoom commented on #56
Maybe something like this?

<img width="186" alt="screenshot_1164" src="https://user-images.githubusercontent.com/3046552/56931111-203fb800-6a9c-11e9-9398-65654ef6c191.png"> <img width="181" alt="screenshot_1165" src="https://user-images.githubusercontent.com/3046552/56931115-23d33f00-6a9c-11e9-9647-394edc2eeac0.png">

[2019-04-29 23:48] pixelzoom opened #58 "screen icons"
It's time to start thinking about screen icons.

[2019-04-30 00:18] pixelzoom commented on #50
@arouinfar @ariel-phet @kathy-phet Changes to the pressure model requested in https://github.com/phetsims/gas-properties/issues/50#issuecomment-486841641 have been completed.  Please review in [1.0.0-dev.14](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.14/phet/gas-properties_en_phet.html)

When particles are added to an empty container, the pressure is zero until 1 particle has coll

[2019-04-30 01:11] ariel-phet commented on #50
@pixelzoom before tuning these...

Currently (testing on Chrome) the behavior at low pressure (a pump or two of the pump) looks good, the numbers "bounce" around in a nice way around the ideal pressure.

At high pressure however, the numbers move so fast as to be difficult to read (in kPA). Perhaps the "noise" should not be added every time step or such?  Or is there some way to not have the numbe

[2019-04-30 04:10] pixelzoom commented on #50
@ariel-phet I've added this query parameter:

* `pressureGaugeSamplePeriod` controls how often the pressure gauge is update. Default is 0.25 ps, must be > 0.

[2019-04-30 16:15] chrisklus opened #59 "branch: bicycle-pump"
This branch is for trying out the integration of BicyclePumpNode from https://github.com/phetsims/states-of-matter/issues/217.

[2019-04-30 16:24] pixelzoom opened #60 "requirements for behavior when paused"
The design document does not specify the behavior of the sim when it is paused.  And there are some significant issues here.  For example, in the Diffusion screen, if radius changes when mass is changed, do we see the change while the sim is paused?  If so, that will require (nontrivial) relocation of particles that are close to the container walls.

@arouinfar For the controls listed below, pleas

[2019-04-30 17:01] pixelzoom commented on #54
Please specify smoothing and Step behavior for the following elements:

* Stopwatch
* Collision Counter
* Thermometer
* Pressure Gauge
* Average Speed accordion box
* Speed histogram
* Kinetic Energy histogram
* Data accordion box
* Center of Mass indicators
* Particle Flow Rate indicators

[2019-04-30 17:51] ariel-phet commented on #50
I saw something around these parameters work well

`?pressureGaugeSamplePeriod=.75&maxJitter=200&containerDepth=2&maxPressure=20000`

I think keeping max pressure to around 20000 kPa makes lots of physical sense. Compressed gas cyclinders are at around 2500-3000 psi so I think we may not want to exceed this limit.

The jitter with 0.75 looks very good to me.

[2019-04-30 18:22] pixelzoom commented on #50
Thanks @ariel-phet, those values look good to me too.

@arouinfar @kathy-phet ?

[2019-05-01 02:44] pixelzoom commented on #59
@chrisklus I've integrated BicyclePumpNode into master.  You can delete this branch if your'e done with it.

[2019-05-01 18:44] pixelzoom commented on #49
Now related to #54.

[2019-05-01 19:00] pixelzoom commented on #52
Please come to 5/2/19 design meeting with feedback on how you'd like these parameters set, and any other thoughts on how you'd like the histograms changed.

[2019-05-01 19:02] pixelzoom commented on #55
The options are:

(1) Keep radius constant, regardless of mass.

(2) Provide me with r = f(m), where r is radius, and m is mass.

Please come to 5/2/19 design meeting prepared to discuss.

[2019-05-01 19:03] pixelzoom commented on #54
@arouinfar can you take a pass at this before 5/2/19 design meeting?

[2019-05-01 19:03] pixelzoom commented on #60
@arouinfar can you take a pass at this before 5/2/19 design meeting?

[2019-05-01 19:04] pixelzoom commented on #50
I'm going to change the default to the values suggested by @ariel-phet in https://github.com/phetsims/gas-properties/issues/50#issuecomment-488049818.  If you would like something different, please come to 5/2/19 design meeting prepared to discuss.

[2019-05-01 19:28] ariel-phet commented on #55
@pixelzoom atomic radius as a function of atomic mass is a little tricky

As you can see for most elements, it cycles in the periodic table

![atomic radius](https://user-images.githubusercontent.com/4051174/57037321-1c36a600-6c14-11e9-9d67-44d8c84429b7.PNG)

Since we are dealing with gasses, we can probably think more of the noble gasses which follow a more regular pattern. Basically the noble ga

[2019-05-01 19:47] arouinfar commented on #60
Generally, I think disabling UI elements when paused can lead to buggy-feeling behavior, and should be avoided. There are a few cases (heat/cool slider & container handle on Explore) where it is not feasible to keep the sim paused. There, I think the more natural thing to do would be to unpause the sim, as was done with the wrench in Wave on a String.

| UI Element | Enabled? | Behavior |
| --- |

[2019-05-01 21:25] chrisklus commented on #59
This branch has been deleted, closing.

[2019-05-01 21:38] pixelzoom commented on #60
And if the sim is paused because the container resize handle is being dragged, what do we do? Cancel interaction with the resize handle?

I am not at all fine with this. It look awful.  And it will cause the sim to fail - I went to great lengths to put in fail-safes to prevent particles from leaking out of the container, and this will trigger a leak failure.

[2019-05-01 21:48] pixelzoom commented on #55
@ariel-phet Currently we have:

heavy particles: N2, 28 AMU, 0.125nm (125pm)
light particles: He, 4 AMU, 0.0875nm (87.5pm)

[2019-05-01 21:51] pixelzoom commented on #55
@ariel-phet Currently we have:

heavy particles: N2, 28 AMU, 0.125nm (125pm)
light particles: He, 4 AMU, 0.0875nm (87.5pm)

That doesn't match a cubic relationship.

[2019-05-01 21:55] pixelzoom commented on #55
And if I use the actual radii for N2 (0.2nm) and He (0.0.31pm), here's what you'll see on the first 3 screens:

<img width="656" alt="screenshot_1173" src="https://user-images.githubusercontent.com/3046552/57045004-96255a00-6c29-11e9-9b17-ca7a05948340.png">

[2019-05-01 22:02] pixelzoom commented on #55
@ariel-phet

FYI, `Math.cbrt` (cube root) is not supported on IE.

[2019-05-01 22:19] pixelzoom commented on #55
@ariel-phet

Math.cbrt( 43  ) => 3.5033980603867243

FYI, `Math.cbrt( n )` (cube root) is not supported on IE.

EDIT: Since we're dealing with positive numbers, we could probably use `Math.pow( n, 1/3 )`.

[2019-05-01 22:22] arouinfar commented on #60
This seems a bit different than just hitting the pause button. Dragging the container handle does pause the sim, but it also makes the play/pause group inactive/unpickable.  I believe we had also decided to make pretty much all other UI components unpickable when dragging the container handle?

I think the behavior should be the same for all spinners. If you can change one group of spinners while

[2019-05-01 22:40] pixelzoom commented on #60
I don't recall ever making that decision.  I do recall that we decided to pause the sim while dragging the resize handle, and to disable the Heat/Cool slider when the sim is paused.  That's what is currently implemented.

Solution (2) does not make the problem any easier to solve.  I will still need to reposition particles before the next timestep, otherwise some particles may not be fully inside

[2019-05-01 23:42] arouinfar commented on #50
Thanks @ariel-phet. After testing things out a bit, I also like those values.

One thing I find a bit difficult is how large the pressure values are in kPa, which makes the fluctuations a bit more distracting. I'm wondering if MPa might be more appropriate. Even at small values, one decimal place might be enough to show non-zero pressures in MPa for most cases.

[2019-05-02 00:47] ariel-phet commented on #55
@pixelzoom sorry, not sure how I calculated that wrong...but either way approximately a cube root relationship.

I was not suggesting to use the actual diameters...just choose a base diameter that looks good and scale up from there with the cube root scaling

[2019-05-02 01:39] ariel-phet commented on #55
So if I have that right if the range is 4 AMU to 28 AMU I believe the 28 AMU should be ~ 1.9 times bigger

[2019-05-02 16:04] pixelzoom commented on #55
Sorry, let me try to explain this again.   The current heavy and light particles are:

heavy particles: N2, 28 AMU, 0.125nm (125pm)
light particles: He, 4 AMU, 0.0875nm (87.5pm)

Apparently there was some motivation to make these N2 and He, and the radii were set to "look nice".  Consequently, the relationship of these masses and radii is _not cubic_.   So if you want to use a cubic relationship,

[2019-05-02 16:14] pixelzoom commented on #55
Here's the cubic relationship, and the resulting values for the mass range (4,32) AMU.

[code]

Results:

[code]

[2019-05-02 16:37] arouinfar commented on #55
Right. The masses were chosen as that of N2 and He because these are abundant examples of a heavier/lighter gas. The radii in Java are not at all related to these actual gases, but were chosen because they had a reasonable looking size difference, which was enough to serve the goals of the Java sim. Since the Diffraction screen has a mass control, I think it makes sense to have a somewhat more rea

[2019-05-02 18:48] pixelzoom commented on #35
BicyclePumpNode has been integrated. There's still work to be done on it, but it's in a state where it's usable in Gas Properties.

webgl test problem mysteriously fixed itself.

All items checked, so closing.

[2019-05-02 18:48] #35 closed

[2019-05-02 18:50] pixelzoom commented on #41
phetsims/scenery#621 appears to have mysteriously fixed itself. So I removed the workaround.  Closing.

[2019-05-02 19:45] pixelzoom commented on #50
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet:

- [ ] Make atm the default selection in pressure gauge
- [ ] add 1 decimal place to atm

`pressureGaugeSamplePeriod` may change based on #54.

[2019-05-02 19:48] pixelzoom commented on #50
@arouinfar requested changes made above, please review, feel free to close.

[2019-05-02 19:58] pixelzoom commented on #55
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet

* Add Radius spinners to experiment, after Mass,  min=50pm, max=250pm, default=125pm, step=5pm

[2019-05-02 20:26] pixelzoom commented on #52
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet

* Add sample period that applies to the 2 histograms
* Fix up y scale

[2019-05-02 20:28] pixelzoom commented on #51
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet:

* Try a running average.

[2019-05-02 20:34] pixelzoom commented on #53
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet:

Checkboxes are useful for KE histogram.  There may be some design changes, but we'll keep them.

[2019-05-02 20:34] #53 closed

[2019-05-02 20:43] pixelzoom commented on #60
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet:

* Disable Heat/Cool slider while sim is paused.
* OK to use Diffusion spinners while paused, handle radius overlap with container.

[2019-05-02 20:53] pixelzoom commented on #49
Based on decisions in https://github.com/phetsims/gas-properties/issues/52#issuecomment-488819727, Average Speed and the histograms are going to share the same sample period, so we'll handle this in that issue, and in the more general #54.  So closing this issue.

[2019-05-02 20:53] #49 closed

[2019-05-02 21:56] pixelzoom commented on #54
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet:

* We may have one universal sample period for the sim, but not yet.
* Average Speed, Speed histogram, KE histogram will share a sample period
* Pressure gauge has a sample period, `?pressureGaugeSamplePeriod`
* Particle Flow Rate will use a running average

Other things will update on every time step:
* Particles
* Thermometer
* Data accor

[2019-05-02 21:58] pixelzoom commented on #52
5/2/19 design meeting @arouinfar @ariel-phet @kathy-phet

* @ariel-phet proposed making the histograms wider, and covering part of the container.
* need to play around with query parameters more
* will probably need another meeting on this

In the meantime, @pixelzoom TODO:
* Add sample period that applies to the 2 histograms & Average Speed
* Fix up y scale

[2019-05-02 21:59] arouinfar commented on #54
Thanks @pixelzoom! Summary looks great, so back to you.

[2019-05-02 22:01] arouinfar commented on #50
Looks good, thanks @pixelzoom!

[2019-05-04 01:21] pixelzoom opened #61 "change units from nm to ps throughout"
This was motivated by https://github.com/phetsims/gas-properties/issues/55#issuecomment-488810448, where we decided to add a "Radius (pm)" control to the Diffusion screen.  Up until this point, all of our length units have been in nm.   And doing 2-way conversion between nm and pm for a radius spinner raises some natty PhET-iO issues.

I discussed with @arouinfar, and we realized that pm is a more

[2019-05-04 01:24] pixelzoom commented on #61
@arouinfar and I worked on the conversion, and the results are in the commits above.  Things appear to be working correctly in [1.0.0-dev.16](https://bayes.colorado.edu/dev/html/gas-properties/1.0.0-dev.16/phet/gas-properties_en_phet.html), the first dev version in pm.

@ariel-phet @kathy-phet FYI, any query parameters etc. that were previously in nm are now in pm.

[2019-05-04 01:25] #61 closed

[2019-05-04 01:27] pixelzoom opened #62 "Particles added via the bicycle pump are not behaving properly"
Particles added via the bicycle pump are not behaving properly.  They have the wrong initial temperature, and some of them seem to get stuck at the point where the hose is attached to the container. They also have a "wave" look to them.   And the problem is intermittent.

Things seemed to be working OK in [1.0.0-dev.15](https://bayes.colorado.edu/dev/html/gas-properties/1.0.0-dev.15/phet/gas-prope

[2019-05-04 01:35] pixelzoom commented on #62
It's also broken in 1.0.0-dev.15.    To reproduce:

1. Start sim
2. Intro screen
3. Pull the pump handle up a little, then push down. Temperature will be 300K.
2. Reset All
3. Pull the pump handle all the way up, push all the way down.  The temperature will not be 300K, and will be some much lower value.

[2019-05-04 15:40] pixelzoom commented on #62
The other odd thing that I've discovered about BicyclePumpNode is that it will only add particles one at a time.   That's going to be generally problematic in this sim, because we want to add groups of particles simultaneous, with a gaussian distribution of initial temperature values, so that we don't end up with "waves" of particles.

[2019-05-06 21:51] pixelzoom commented on #52
Changes requested on https://github.com/phetsims/gas-properties/issues/52#issuecomment-488847233 have been completed.  These changes are present in [1.0.0-dev.17]( https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.17/phet/gas-properties_en_phet.html).

`histogramSamplePeriod` (default 1 ps) controls how often Average Speed, Speed histogram, and KE histogram are updated.

Since we adjuste

[2019-05-07 05:04] pixelzoom commented on #41
Reopening, phetsims/scenery#621 is not resolved.

[2019-05-07 05:05] pixelzoom commented on #55
This is implemented and working nicely.  But when the sim is paused, the particles shift back and forth as their radius is changed.  I suspect something with the default padding for the elements drawn using CanvasNode.

[2019-05-07 15:24] pixelzoom commented on #52
As noted in https://github.com/phetsims/gas-properties/issues/61, units for length and position have been changed from nm to ps.    So keep that in mind when setting `speedBinWidth` and `keBinWidth`.  Their defaults are now `250 pm/ps` and `1E6 AMU * pm^2 / ps^2` respectively.

[2019-05-07 16:18] chrisklus commented on #62
I've been observing that occasionally as well, not sure what could be causing it.

[2019-05-07 23:45] pixelzoom opened #63 "Assertion failed: openingLeft must be <= openingRight"
After switching units from nm to pm in #61, I'm seeing this assertion failure intermittently when using the resize handle on the container, with the lid fully closed:

To reproduce:

1. Run the sim with `?ea`
2. Go to _Intro_ screen.
2. Move the resize handle repeatedly until the assertion failure occurs. It may take many tries.

[2019-05-07 23:51] pixelzoom commented on #63
I change the assertion message to:

[code]

Now I'm seeing that the failure is always:

So looks like this is caused by a floating-point error somewhere.

[2019-05-08 00:12] #63 closed

[2019-05-08 00:16] pixelzoom opened #64 "lid animation"
When the lid blows off the container, it animated.  The current animation is what @arouinfar and I decided to start with.  If something else is desired, let's discuss.

[2019-05-08 01:42] pixelzoom commented on #51
Particle Flow Rate now uses a running average, and can be tuned using these query parameters:

* `flowRateSamples` is the number of samples in the running average, default is 50
* `flowRateScale` is the length of a 1 particle/ps vector, default is 25

A sample consists of 3 things:
* dt value, in ps
* the number of particles that crossed from left to right
* the number of particles that crossed fr

[2019-05-08 01:49] pixelzoom opened #65 "Particles overlap container walls"
Particles slightly overlap the walls of the container in the Diffusion screen.  The model has checked to verify that this is not happening, but it's being displayed this way.  I'm not sure if the HTMLCanvasElements rendered by CanvasNode are slightly larger, or the container walls are slightly thicker, but there's some definite overlap.  It's most visible with larger red particles in the Diffusion

[2019-05-08 01:50] pixelzoom opened #66 "Particles shift position while changing radius"
When the sim is paused in the Diffusion screen, changing the Radius spinners will cause all of the particles to shift back and forth together.  I suspect something with the default padding for the `HTMLCanvasElement`s drawn using `CanvasNode`.

Steps to reproduce:
1. Start the sim
2. Go to _Diffusion_ screen
3. Press pause button (lower right)
4. Set "Number of Particles" spinner to > 0 for red pa

[2019-05-08 01:51] pixelzoom commented on #55
@arouinfar @ariel-phet @kathy-phet This is implemented and ready for review.

[2019-05-08 01:55] pixelzoom commented on #54
This is fully implemented, here are the current query parameters:

See `histogramSamplePeriod` (default 1 ps) in https://github.com/phetsims/gas-properties/issues/52#issuecomment-489796634.

`pressureGaugeSamplePeriod`, default is still 0.75 ps

See `flowRateSamples` (default 50) in https://github.com/phetsims/gas-properties/issues/51#issuecomment-490314790.

@arouinfar Back to you to decide what

[2019-05-08 01:57] pixelzoom commented on #60
With this exception of the resize handle in the Explore screen, this specification is fully implemented. I'll leave this assigned to me using I complete the Explore screen.

[2019-05-08 02:25] pixelzoom commented on #65
Fixed in the above commit.  I wasn't accounting for the wall thickness when drawing the container in the Diffusion screen.

[2019-05-08 02:25] #65 closed

[2019-05-08 15:56] pixelzoom commented on #66
Here's an animated gif that shows the above steps.

![shift](https://user-images.githubusercontent.com/3046552/57389467-805aec00-7177-11e9-8dd4-b453004e75a0.gif)

[2019-05-08 16:01] pixelzoom commented on #48
@arouinfar I think it would be good to make progress on this soon. Otherwise we may get too used to seeing the current color scheme and lose our objectivity.

[2019-05-08 17:59] ariel-phet commented on #55
This is all looking good to me, I like the radius control quite a bit.

[2019-05-08 19:37] arouinfar commented on #55
Agreed, it's looking really nice @pixelzoom! My one gripe would be that the large particles look a bit aliased.
![image](https://user-images.githubusercontent.com/8419308/57397408-dcc70700-7189-11e9-95fb-176245be603d.png)

[2019-05-08 19:41] pixelzoom commented on #55
@arouinfar On what platform? They look great on my MacBook Pro with retina display.

[2019-05-08 19:54] arouinfar commented on #55
Latest macOS and Chrome, though the screenshot in https://github.com/phetsims/gas-properties/issues/55#issuecomment-490621654 was taken on my external monitor (Asus ProArt, 2560x1440 resolution, ~110 ppi) with Chrome maximized.

I'm seeing similar aliasing on my 15" retina screen with Chrome maximized.
![image](https://user-images.githubusercontent.com/8419308/57403799-b5773680-7197-11e9-8522-87a9

[2019-05-08 20:43] pixelzoom commented on #55
In the above commit, I tried scaling up the HTMLCanvasElements, then scaling them back down when they are rendered using `drawImage`.    I can't see any different on my devices (all retina).

@arouinfar please have a look at master.  Did this improve the anti-aliasing at all?

[2019-05-08 20:46] arouinfar commented on #55
Master is looking much crisper on my laptop and external monitor now. Thanks @pixelzoom!

![image](https://user-images.githubusercontent.com/8419308/57407170-c88e0480-719f-11e9-950f-4563fc024741.png)

[2019-05-08 21:11] arouinfar commented on #64
Currently, the lid floats away, keeping the same central x-coordinate.
![blown_lid](https://user-images.githubusercontent.com/8419308/57408047-de9cc480-71a1-11e9-97a6-1934e97dc7c6.gif)

In Java, the lid animation looks more like an explosion. The lid rotates, and its central x-coordinate moves a bit to the left as the lid exits the screen.
![blown_lid_java](https://user-images.githubusercontent.co

[2019-05-08 21:11] arouinfar commented on #48
Let's review in tomorrow's design meeting.

[2019-05-08 21:14] pixelzoom commented on #62
Temperature issue was fixed via https://github.com/phetsims/states-of-matter/issues/217#issuecomment-490652719.

Now we have the issue of 1 particle getting stuck where it enters the container at the hose.

[2019-05-08 21:24] pixelzoom commented on #64
I mentioned this before...  I'll be happy to add rotation.  But because the lid is much wider than the Java version, and the distance between the lid and top of the screen is relatively small, you are not going to see much (if any) of the rotation.   Movement to the left also implies a force on the lid that is incorrect.

[2019-05-09 01:56] arouinfar commented on #46
A more descriptive checkbox label would be something like, "Control Initial Temperature" or "Set Initial Temperature". These are lengthy strings, and would likely pose i18n issues. "Initial Temperature" doesn't seem like an ideal checkbox label, because it doesn't really describe the associated action, which is why we initially chose "Control Temperature".

It's true the model is setting the parti

[2019-05-09 02:58] arouinfar commented on #54
@pixelzoom I think we can pass on the universal sample period. The `pressureGagueSamplePeriod` also seems fine as-is. Since there are separate issues for `histogramSamplePeriod` and `flowRateSamples`, we can tune the sample periods there. I'll go ahead and close this issue.

[2019-05-09 02:59] #54 closed

[2019-05-09 03:02] arouinfar commented on #56
Agreed that the cue is a bit subtle @pixelzoom. I do like the direction you've taken, but I think the colors might be a bit strong. Perhaps we can color the icons instead of the buttons? Let's see what the team thinks.

[2019-05-09 03:04] arouinfar commented on #56
Another thing we should iron out is the sample periods. At 2.5 ps per real-time second, most of the sample periods are quite long. Perhaps options for 5 ps, 10 ps, 20 ps would be more appropriate?

[2019-05-09 03:34] arouinfar commented on #36
It takes quite a bit of time (~1 minute) to cool the particles from the initial 0 K reading until the the average speed finally reaches 0 m/s. This is very similar to the Java behavior.

The behavior at absolute zero is not a primary learning goal, and I would be totally fine with limiting the min temperature to 1 K. However, I do recall that @kathy-phet may have had a differing opinion here, so i

[2019-05-09 18:42] pixelzoom commented on #56
@arouinfar said:

Done in master, please review.

I've added query parameter `collisionCounterSamplePeriods`, default `10,25,50,100`, values must be integers.   If you want to try the values that you proposed, use `?collisionCounterSamplePeriods=5,10,20`.

[2019-05-09 19:28] ariel-phet commented on #52
This seemed to be a pretty good setting

https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.17/phet/gas-properties_en_phet.html?keBinWidth=8e5&speedBinWidth=170&keBins=19&speedBins=19

But I have another idea I will discuss at design...

[2019-05-09 19:33] pixelzoom commented on #55
5/9/19 design meeting @arouinfar @ariel-phet @KatieWoe

We have a quorum, so closing.

[2019-05-09 19:33] #55 closed

[2019-05-09 20:07] pixelzoom commented on #52
5/8/19 design meeting @arouinfar @ariel-phet @KatieWoe

- [ ]  change defaults to @ariel-phet's values:
`?keBinWidth=8e5&speedBinWidth=170&keBins=19&speedBins=19`

- [x] increase container depth to 4000 pm, so more difficult to blow lid off

- [ ] scale y axis of both histograms based on 95% of max bin count of Speed histogram

- [  ] hide out-of-range indicators behind a query parameter, change t

[2019-05-09 20:13] pixelzoom commented on #51
5/9/19 design meeting @arouinfar @ariel-phet @KatieWoe

Running average is the right way to go, looking better.  @arouinfar will play around with query parameters.  Bigger `flowRateSamples` (e.g. 300) seems nice.   Will also need to examine larger number of particles since we increased max to 200.

[2019-05-09 20:20] pixelzoom opened #67 "change pressure gauge jitter as temperature decreases"
5/9/19 design meeting @arouinfar @ariel-phet @KatieWoe

At low temperature, there is a little too much jitter in the pressure gauge.  Reduce jitter linearly from 50K to 5K

temperature (K) to jitter multiplier: `new LinearFunction( 5, 50, 0, 1 )`

[2019-05-09 20:32] pixelzoom commented on #64
5/9/19 design meeting @arouinfar @ariel-phet @KatieWoe:

Make the right edge move N pixels for every 1 pixel that the left edge moves up, while the entire lid is moving up and to the left a bit.

Hook up lid animation to time clock, so it's paused when it should be.

[2019-05-09 20:45] pixelzoom commented on #62
I made a little progress on this, but still perplexed.   If I add assert and console.log as shown below, I see that `meanTemperature` is `null` -- and it should never be `null`.   I did not commit this, will come back to it.

[code]

[2019-05-09 21:05] pixelzoom commented on #67
@arouinfar Ready for review.  Jitter scales down linearly when temperature is <= 50K, and jitter becomes 0 kPa when temperature <= 5K.   As a reminder, the current defaults are `minJitter=0` and `maxJitter=200` kPa.

[2019-05-09 22:42] pixelzoom commented on #66
@jonathanolson when you have a few minutes, I could use a consultation on this.

[2019-05-09 23:13] arouinfar commented on #67
Thanks @pixelzoom. It's looking really nice!

[2019-05-09 23:13] #67 closed

[2019-05-09 23:32] pixelzoom commented on #62
I'm seeing 2 calls to `addParticles` without a `step` call between them.  That means that the temperature isn't being computed, and is still `null` when the second `addParticles` call occurs.

[2019-05-09 23:36] pixelzoom commented on #62
I believe we that this is fixed. Instead of looking at `numberOfParticles` to determine whether to use the container's temperature, it makes more sense to look at `temperatureProperty.value`.   I added an assertion for a valid `meanTemperature`, tested a few dozen times, and the problem appears to be resolved.  Closing.

[2019-05-09 23:36] #62 closed

[2019-05-10 01:49] pixelzoom commented on #51
@arouinfar also be sure to test with "slow" radio button selected.  It's not looking too good in slow mode to me.

[2019-05-10 02:37] pixelzoom commented on #60
@arouinfar The behavior of things that have a sample period feels a bit odd (to me) when stepping the sim.

Currently we have:

* step button advances sim by 0.2 ps
* pressure gauge is updated every 0.75 ps
* histograms and Average Speed are updated every 1 ps

So when you're using the step button, you need to press it several times before these things update.  That may be OK, but I wanted to poin

[2019-05-10 02:39] pixelzoom opened #68 "behavior of Step for things that have a sample period"
Currently we have:

* step button advances sim by 0.2 ps
* pressure gauge is updated every 0.75 ps
* histograms and Average Speed are updated every 1 ps

So when you're using the Step button, you need to press it several times before these things update.  That may be OK, but I wanted to point it out.

[2019-05-10 02:47] pixelzoom opened #69 "particle waves when Collisions are off"
When particle collisions are off in the Energy screen, we give all particles in a group an identical temperature.  This results in wave-like motion.   I wanted to make sure that was really what is desired, and that someone had taken a look at it, because it looks odd to me.

To demonstrate:

1. Start the sim
2. Go to Energy screen
3. Expand the Particle Tools accordion box
4. Uncheck the Collision

[2019-05-10 23:02] pixelzoom commented on #66
Worked with @jonathanolson on this via Zoom.  Fixed in the above commits, and duplicated code has been factored out. The default padding provide by `toCanvas` doesn't give you a particle that's exactly centered in the HTMLCanvasElement (particle image).  The key was to provide my own integer width and height to `toCanvas`, so that content is precisely center and can be precisely placed.

Closing.

[2019-05-10 23:02] #66 closed

[2019-05-10 23:09] pixelzoom commented on #38
Discussed the issue of CanvasNode size with @jonathanolson via Zoom today.  It pays to make the CanvasNode only as big as necessary, as it will affect both performance and memory footprint.  So...

- [ ] In _Diffusion_ screen, size CanvasNode to fit the container bounds.

- [ ] In other screens, size CanvasNode to fit the portion of the window bounds that is above the bottom of the container.

[2019-05-13 21:06] arouinfar commented on #56
Looks great! I believe the team saw the updated icons in the 5/9 design meeting, and also liked the look of the colorized icons.

Thanks @pixelzoom. This was super helpful in testing out various sample periods.

I still quite like the 5 ps, 10 ps, and 20 ps options (with 10 ps being the default). This way, the collision counter will run 2-8 actual seconds, which felt like a reasonable range of tim

[2019-05-13 21:19] pixelzoom commented on #56
Done in master.

[2019-05-13 21:29] arouinfar commented on #57
The TimerNode has less going on, so I think something as simple as hiding the `0.00 ps` readout (leaving the field empty) would go a long way to decluttering the icon. If the empty readout looks too strange, we could try displaying a noValue character such as an emdash instead.

The Collision Counter icon is trickier, and I'm not sure I have a great idea, but here are a few possibilities:

1. Remo

[2019-05-13 22:27] pixelzoom commented on #57
I should have clarified. The goal here is to avoid having to create full-blown model + view in order to create icons.  Neither of the above gets us there. If we're going to provide that much detail, we should continue to use what we have.  It's going to be too complicated to create something that detailed, for little gain.

I had something much more simplified in mind, see below.  Or maybe we shou

[2019-05-13 22:31] pixelzoom commented on #57
The simplified icons shown in https://github.com/phetsims/gas-properties/issues/57#issuecomment-492009797 are in master, if you want to see in context.

[2019-05-14 03:11] pixelzoom opened #70 "iPad: controls on stopwatch and collision counter don't work"
Tested on my iPad6 with iOS 12.2.

The stopwatch (StopwatchNode) and collision counter (CollisionCounterNode) both have interactive controls on them (buttons, combo box), and each of these tools can be dragged around.  Everything works fine with mouse, but with touch the controls don't work.  If I remove the DragListener for StopwatchNode or CollisionCounterNode, the controls do work.

[2019-05-14 04:27] pixelzoom commented on #70
@jonathanolson I'm stumped here, can you take a look?

1. Run sim on iPad
2. Go to Ideal Screen
3. Check the Stopwatch checkbox
4. Drag the Stopwatch around, note that dragging works OK.
5. Try to use the buttons on the Stopwatch, note that they are unresponsive.

Comment out the `DragListener` that's added at line 178 of StopwatchNode, then:

1. Run sim on iPad
2. Go to Ideal Screen
3. Check the

[2019-05-14 04:34] pixelzoom commented on #36
@arouinfar said:

@kathy-phet your thoughts?

[2019-05-14 04:41] pixelzoom commented on #38
Particles animation is running very nicely on iPad6 + iOS 12.2 + Safari.  It's so-so on iPad2 + iOS 9.3 + Safari; when particles are added/removed, there's a bit of a hiccup, but then it runs smoothly.

@KatieWoe could you please spot check performance of the particles on any platforms that you think might be problematic?  I'm especially interested in iPad Air + iOS 12, the platform that was a pro

[2019-05-14 05:04] pixelzoom commented on #70
@jonathanolson said on Slack:

[2019-05-14 05:05] kathy-phet commented on #36
I took a quick look. I think the behavior going to 0K seems fine, and my preference would be to leave it in as opposed to constrain it to 1K. I think it makes for a nice conversation opportunity the way it is now.

Regarding the fluctuation on the pressure needle - I agree it should be a bit more sophisticated than just a jumpiness at a certain pressure if that is what is in there now (I cannot re

[2019-05-14 05:33] pixelzoom commented on #36
@kathy-phet said:

We addressed this in https://github.com/phetsims/gas-properties/issues/67, which was reviewed and closed by @arouinfar.

[2019-05-14 05:34] pixelzoom commented on #36
It sounds like there's nothing left to do here, but I'll leave this issue open so we can review at next design meeting.

[2019-05-14 16:52] arouinfar commented on #69
Thanks for checking @pixelzoom. The current behavior with particle collisions off truly is the desired behavior. It looks strange, but that's because it's a non-physical situation.

This feature is meant to support students learning about the KE/speed distributions. Particle-particle collisions result in variations in speed/KE due to momentum transfer, and without collisions, there is no distribut

[2019-05-14 16:52] #69 closed

[2019-05-14 17:03] arouinfar commented on #68
Thanks for checking @pixelzoom. We touched on this briefly in a recent design meeting, and the consensus was that it was fine for some quantities to update every Nth step forward.

[2019-05-14 17:03] #68 closed

[2019-05-14 17:15] arouinfar commented on #57
Ah, thanks for the clarification @pixelzoom. I really like your proposed icons!

Looks like we have 3 options to discuss with the team. In descending order of my personal preference...

1. Go truly iconic with the silhouette proposed in https://github.com/phetsims/gas-properties/issues/57#issuecomment-492009797
2. Icon is a scaled-down version of the tool, text and all
3. No icon

Having an icon n

[2019-05-14 17:42] pixelzoom commented on #57
I would also prefer to have an icon.  And (for me) the most important features of the icon are its general shape and color.

[2019-05-14 17:59] KatieWoe commented on #38
Tested the requested iOS device as well as IE and Edge.  Edge seemed the fastest of the three, but all were perfectly acceptable.

[2019-05-14 18:28] pixelzoom commented on #38
Excellent news, thanks @KatieWoe.

Next step is for design team to sign off on performance.  I'll defer that until we're feature complete.

[2019-05-14 19:36] pixelzoom commented on #70
I worked with @jonathanolson on this via Zoom.  The solution is to add the DragListener to the backgroundNode (sibling of other UI controls).   Tested with touch emulator in Chrome.  Closing.

[2019-05-14 19:36] #70 closed

[2019-05-15 19:02] pixelzoom commented on #37
The Java model was not useful for considering work done by the left (movable) wall on particles in the Energy screen.  I followed the approach recommended in [this thread from Physics Stack Exchange](https://physics.stackexchange.com/questions/19589/simple-question-about-a-gas-in-a-box-with-a-moving-wall), specially the post that contains "Consider it in the wall's frame of reference."

[2019-05-15 20:02] pixelzoom opened #71 "behavior of "work" model"
Starting with [1.0.0-dev.21](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.21/phet/gas-properties_en_phet.html), the left wall in the _Explore_ screen does work on particles.

Velocity of the left wall is computed continuously while the sim is running, based on current position, previous position, and dt.  That velocity is of course totally x component, with zero y component.  If you

[2019-05-15 20:05] pixelzoom opened #72 "divider color in projector mode"
The divider color in projector mode (taken from the design doc) seems odd.  See screenshot below.  It's not at all related to the yellow "Remove Divider" toggle button.  And it's a bit similar to the red particle color.  Could we use a shade of yellow that still works on white background?

<img width="881" alt="screenshot_1186" src="https://user-images.githubusercontent.com/3046552/57805614-79ede6

[2019-05-15 22:24] arouinfar commented on #72
I don't think I had considered the misalignment of the divider and button color in projector mode. I couldn't find a good shade of yellow that worked for the divider on in projector mode (which is how I suspect it ended up being magenta), but I did find a green that could work in both modes.

Here are some mockups using `rgb(60, 180, 75)` for the divider and button. (Button is a flat rectangle bec

[2019-05-16 02:03] pixelzoom commented on #50
Reopening.   We need to decide whether the gauge has jitter when pressure is being held constant in the Ideal screen.

Today's Slack discussion with @arouinfar:

Chris Malley [2:31 PM]
GP question… When we’re holding pressure constant in the Ideal screen, should there be jitter in the pressure gauge?

Amy Rouinfar [2:39 PM]
Oh, that’s a good question, and I could probably make an argument either w

[2019-05-16 02:04] pixelzoom opened #73 "does the gauge have jitter when Pressure is held constant?"
Moved this issue out of https://github.com/phetsims/gas-properties/issues/50#issuecomment-492887935.

We need to decide whether the gauge has jitter when pressure is being held constant in the Ideal screen.

Today's Slack discussion with @arouinfar:

Chris Malley [2:31 PM]
GP question… When we’re holding pressure constant in the Ideal screen, should there be jitter in the pressure gauge?

Amy Roui

[2019-05-16 02:05] pixelzoom commented on #50
On second thought... Moving https://github.com/phetsims/gas-properties/issues/50#issuecomment-492887935 to https://github.com/phetsims/gas-properties/issues/73.

[2019-05-16 02:05] #50 closed

[2019-05-16 02:07] pixelzoom commented on #73
The implementation in master is currently "no jitter when pressure is held constant".   I tried the other option, and I found it difficult to convince myself that pressure was being held constant.

[2019-05-16 02:11] pixelzoom commented on #72
I switched to `rgb(60, 180, 75)` for the divider and button, you can test drive in master.  The black text is a tad lost on green. It tried white text, and it gets washed out when the button highlights on mouse over.

[2019-05-16 03:02] pixelzoom opened #74 "Oops! dialog messages"
`OopsDialog` has been integrated into Gas Properties.

When "Hold Pressure: Pressure ↕V" would result in a container width that violates the range `(5000, 15000) pm`, an `OopsDialog` is displayed, and the setting is changed to "Hold Constant: Nothing" .

The design document says "Dialog contents TBD", so I've implemented the ability to have different messages based on whether the min or max range

[2019-05-16 13:24] samreid opened #75 "Red particles jammed on iPhone"
I tested [1.0.0-dev.22](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.22/phet/gas-properties_en_phet.html) and after a minute or so on the first screen, the red particles became jammed:

![image](https://user-images.githubusercontent.com/679486/57856726-d39df180-77aa-11e9-84f4-80df86b02527.png)

Note in the image there are supposedly 600 red particles at the moment.  I believe they w

[2019-05-16 14:49] KatieWoe opened #76 "CT value failed isValidValue: 0"
[code]

[2019-05-16 15:12] arouinfar commented on #74
@pixelzoom dialog looks good, but I would swap out "Container" for "Volume".

It also seems a bit buggy currently. If I am at the min/max volume, simply switching to Constant P, vary V will trigger the dialog. At max V, I could still remove heat or add particles and V would shrink to maintain constant P.

[2019-05-16 15:27] pixelzoom commented on #74
Yes, the "Hold Constant" feature has some known problems, which I'm working on and don't require an issue at this point.   This issue is about the messages.  I'll replace "Container" with "Volume".

[2019-05-16 15:37] pixelzoom commented on #74
Revised messages are shown below.  Back to @arouinfar to decide whether to review at design meeting or close.

<img width="641" alt="screenshot_1192" src="https://user-images.githubusercontent.com/3046552/57867283-174e2680-77be-11e9-8838-2d4ebdd44793.png">

<img width="630" alt="screenshot_1193" src="https://user-images.githubusercontent.com/3046552/57867289-1a491700-77be-11e9-84fa-11ddd331936f.pn

[2019-05-16 15:46] pixelzoom commented on #76
The problem is in GasPropertiesModel:

[code]

`temperatureProperty` can never be zero; if there are no particles in the the container, then temperature is `null`.   But the real issue is that pressure should not be zero at this point.

[2019-05-16 15:55] pixelzoom commented on #75
1.0.0-dev.22 had a problem with BicyclePumpNode that was causing particles to get stuck and causing  the max number of particles to be exceeded.  That's been fixed in master.

I also see that "Pressure T" was selected for "Hold Constant", and we're still working the kinks out of how that's supposed to behave.

So I'm going to close this, and we can reopen if something similar resurfaces.

[2019-05-16 15:55] #75 closed

[2019-05-16 16:01] arouinfar commented on #74
Thanks for updating the string. I'll leave this tagged for design meeting since the team hasn't seen it yet.

[2019-05-16 16:02] arouinfar commented on #73
@pixelzoom I think removing the jitter will be the way to go, but let's review with the team.

[2019-05-16 16:23] arouinfar commented on #72
Thanks @pixelzoom. The [WebAIM Color Contrast Checker](https://webaim.org/resources/contrastchecker/?fcolor=000000&bcolor=3CB44B) shows a contrast of 7.82:1 for black text on this green background (hex equivalent of `#3CB44B`), which exceeds the WCAG AAA standard. That said, fully saturated yellow `#FFFF00` has much higher contrast, with a ratio of 19.55:1.

It's quite tricky to find a a color tha

[2019-05-16 16:31] pixelzoom commented on #71
5/16/19 status meeting, @arouinfar and @kathy-phet suggested that we put a speed limiter on the moveable wall, similar to the lid in SOM.

[2019-05-16 17:15] pixelzoom opened #77 "PhET-iO instrumentation"
I have attempted to consider PhET-iO while architecting & implementing this sim.  But with the exception of top-level model and view classes, the 1.0 release of this simulation will not be instrumented for PhET-iO.

This issue is where I'll capture miscellaneous notes that will be useful for future instrumentation.   It might be useful to have the design team review these notes _before_ publishing

[2019-05-16 18:03] pixelzoom commented on #76
Fixed in the commit above.  I'll leave this issue open until it passes a couple of CT cycles.

[2019-05-16 18:10] arouinfar commented on #71
@pixelzoom @kathy-phet I've reviewed the behavior in dev.21 quite a bit, and it's behaving as expected.

| Speed | Direction | Behavior |
| --- | --- | --- |
| Fast | Compression | Large increase in T |
| Fast | Expansion | No change in T |
| Slow | Compression | Gradual increase in T |
| Slow | Expansion | Gradual decrease in T |

I do think that a speed limit is probably the way to go, but I it

[2019-05-16 19:52] pixelzoom commented on #76
Looking good in CT, closing.

[2019-05-16 19:52] #76 closed

[2019-05-16 20:08] pixelzoom commented on #71
5/16/19 design meeting @arouinfar @kathy-phet:

- [ ] add speed limit for resizing, with query parameter
- [ ] no speed limit on Ideal screen, but possible to add one
- [ ] no "previous container" size on Explore screen

[2019-05-16 20:13] pixelzoom commented on #73
5/16/19 design meeting @arouinfar @kathy-phet

No jitter when pressure is held constant.  Nothing to do, so closing.

[2019-05-16 20:13] #73 closed

[2019-05-16 20:24] pixelzoom commented on #74
5/16/19 design meeting @arouinfar @kathy-phet

Messages look good. Closing.

[2019-05-16 20:24] #74 closed

[2019-05-16 20:25] pixelzoom commented on #57
5/16/19 design meeting:  Simplified icons approved. Closing.

[2019-05-16 20:25] #57 closed

[2019-05-16 20:27] pixelzoom commented on #56
5/16/19 design meeting @arouinfar @kathy-phet

Buttons icons and sample periods approved.  Closing.

[2019-05-16 20:27] #56 closed

[2019-05-16 20:34] pixelzoom commented on #36
5/1619 design meeting @arouinfar @kathy-phet

Jitter is currently a function of pressure and temperature.  As pressure increases, jitter decreases. Between 5-50K, a jitter multiplier ranges linearly from 0-1, so that jitter is totally removed when temperature is <= 5K.  `?maxJitter` controls the maximum jitter, default 200 kPa.

@kathy-phet's homework is to review the current behavior and suggest

[2019-05-16 20:43] pixelzoom opened #78 "fixes for "Pressure ↕T" mode"
At 5/16/19 design meeting, we discussed behavior of the "Pressure ↕T" mode for "Hold Constant".    The required `T` is computed using `T = PV/Nk`.

Things that need to be fixed:

* Scale particle velocities to result in required `T`.
* Fire/Ice needs to come out of bucket, animated.  This will be Hollywooded, since the `T` change is instanteneous.

[2019-05-16 20:44] pixelzoom commented on #52
I'm down to one item:

... and I'm realizing that histograms have gotten to be a bit of a mess.  So I'm going to be doing a serious overhaul before addressing that item.

[2019-05-16 20:47] pixelzoom commented on #37
HTML5 model is complete, nothing left to be gleaned from the Java model.  In summary, the only thing that was reused from Java was the basic collision model.

Closing.

[2019-05-16 20:47] #37 closed

[2019-05-17 16:18] arouinfar commented on #46
Unfortunately, we didn't have time to get to this issue in the last two design meetings. The sim is nearly feature complete, so we should make a decision about this soon. @ariel-phet can you review?

[2019-05-17 16:23] arouinfar commented on #48
This issue has been tabled for awhile, but it would be good to make a decision soon. I do like the light gray panels in https://github.com/phetsims/gas-properties/issues/48#issuecomment-479242716, so that would be my preference if we decide to give the panels a different fill. The nice thing about the gray is that it works for the standard and projector modes, and would alleviate the so-called  "b

[2019-05-17 16:32] arouinfar commented on #72
I played with the color a bit more and bumped up the brightness ~10%, to `rgb(70, 205, 85)` which improves the contrast ratio for the button text to [10.12:1](https://webaim.org/resources/contrastchecker/?fcolor=000000&bcolor=3CB44B).

@pixelzoom let's try this green instead.

[2019-05-17 17:02] pixelzoom commented on #46
Thanks for moving this forward @arouinfar.  Also @kathy-phet if you have input, please comment.

[2019-05-17 17:11] pixelzoom commented on #72
Changed in master, the new green looks like a nice improvement to me.

Do you want to use the same color for the vertical separator in the Data accordion box, as a visual cue?  I've push that to master also, easy to revert, see screenshot below.

<img width="1078" alt="screenshot_1195" src="https://user-images.githubusercontent.com/3046552/57944532-85651d00-7894-11e9-9673-f56f4bcf33e0.png">

[2019-05-17 17:16] pixelzoom commented on #72
Might also consider making the vertical Data separator the same thickness as the divider (also pushed to master, easy to revert).   Screenshot below.  Note that the Data separator doesn't change to a dashed line when the divider is removed, but could without much work.

<img width="1087" alt="screenshot_1196" src="https://user-images.githubusercontent.com/3046552/57944744-2a7ff580-7895-11e9-979d-f

[2019-05-17 17:18] pixelzoom commented on #72
Another note... The original Data separator in https://github.com/phetsims/gas-properties/issues/72#issuecomment-492846251 is difficult to see in "normal" color mode. Using color and lineWidth of the divider makes it nicely visible.

[2019-05-17 17:34] pixelzoom commented on #48
Color profile has been revised to support panels with fill `rgb( 220, 220, 220 )`.

Test drive in [1.0.0-dev.23](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.23/phet/gas-properties_en_phet.html).

If you want to do further tweaking, use gas-properties-colors.html in master.

[2019-05-17 17:41] pixelzoom commented on #60
Histograms also have some update issues when the sim is paused.  To be addressed in the overhaul of histograms in #52.

[2019-05-17 18:01] pixelzoom commented on #48
Observations:
* icons for the blueish particles in the Diffusion screen are a bit washed out, see screenshot below
* it might be nice to make the Data accordion box contents look like the container,see screenshot below

<img width="1072" alt="screenshot_1197" src="https://user-images.githubusercontent.com/3046552/57947183-76359d80-789b-11e9-8776-f1032fa4c1a9.png">

[2019-05-17 18:05] pixelzoom commented on #72
See also the suggestion in https://github.com/phetsims/gas-properties/issues/48#issuecomment-493544987, which would strengthen the argument for making the Data separator look like the divider.

[2019-05-17 19:12] pixelzoom commented on #45
@arouinfar Apologies, but at some point, the `redistribute: 'drag'` option stopped working. It's not the default and hasn't been getting tested.  It's going to take some work to restore it.  How strongly do you feel about needing to interview on this?   Or can we just decide that the current default behavior (what was specified in the design doc) is OK?

[2019-05-17 19:27] pixelzoom opened #79 "model.md"
Describe the model in [model.md](https://github.com/phetsims/gas-properties/blob/master/doc/model.md).

[2019-05-17 19:28] pixelzoom opened #80 "implementation-notes.md"
Describe the implementation in [implementation-notes.md](https://github.com/phetsims/gas-properties/blob/master/doc/implementation-notes.md).

[2019-05-17 19:32] pixelzoom commented on #30
See also "PhET-iO instrumentation notes" in https://github.com/phetsims/gas-properties/issues/77.

[2019-05-17 19:34] pixelzoom commented on #40
Performance looks good in #38, so it's unlikely that this will be necessary:

[2019-05-17 20:13] pixelzoom commented on #45
Slack:

Chris Malley [2:10 PM]
How do you feel about this? https://github.com/phetsims/gas-properties/issues/45#issuecomment-493567219  I’m working in a piece of code now where I ran into this, and would love to just remove it, if it’s no longer needed.

Amy Rouinfar [2:12 PM]
No need to maintain/fix it. I wasn’t planning on interviewing on it unless the `end` behavior turns out to be unintuitive

[2019-05-17 20:20] pixelzoom commented on #45
To summarize the state of this issue...

Particles freeze when a drag starts, and are redistributed when the drag ends (as specified in the design doc.)  @arouinfar will look for any problems with this during interviews.   If there are none, then we're done.  If there are problems, then we'll decide how to address, including whether to resurrect/reimplement the `redistribute: 'drag'` behavior desc

[2019-05-17 20:41] pixelzoom commented on #46
I'm not the subject-matter expert. But I'm a bit troubled by the notion of "particle temperature" that this UI conveys.  Individual particles do not have temperature.  Temperature is a property of the system, a measure of KE.  This control is setting the `T` used to compute a particle's speed, `|v| = sqrt( 3kT / m )`.  So would it be better to provide a control that set's the particle's initial sp

[2019-05-17 20:57] pixelzoom opened #81 "labels for "Hold Constant" radio buttons"
A subtle deviation from the design doc that has been in place for a long time, but which I haven't previously pointed out...   Design doc on left, implementation on the right:

<img width="170" alt="screenshot_1198" src="https://user-images.githubusercontent.com/3046552/57955425-2bc01b00-78b3-11e9-869d-04825984f993.png">  <img width="182" alt="screenshot_1199" src="https://user-images.githubuserco

[2019-05-19 13:36] pixelzoom commented on #38
I thought of another optimization involving CanvasNode:

- [ ] Split GasPropertiesParticlesNode into 2 instances of CanvasNode, 1 for inside container, 1 for outside container.

[2019-05-20 13:49] pixelzoom opened #82 "Assertion failed: mean ... actualMean"
This assertion keeps failing in CT, due to floating-point error.  Looks like I need to provide a larger threshold for `getGaussianValues`.

[code]

[2019-05-20 15:33] pixelzoom commented on #82
CT appears to be happy. Closing.

[2019-05-20 15:33] #82 closed

[2019-05-20 16:19] ariel-phet commented on #48
I cannot say I really like the light gray panels, it just feels too heavy to me in this sim. If I were going to go for a different look, I would opt for no stroke on the panels and a dark background that is lightened up enough to allow a contrast, but still blend with the rest of the sim. For example:

![gas props](https://user-images.githubusercontent.com/4051174/58036594-b178dc00-7ae8-11e9-9aeb-

[2019-05-20 16:39] pixelzoom commented on #64
Lid animation has been revised in [1.0.0-dev.24](), and can be tweaked via the query parameters shown below.  Rotation is about the center of mass.   The current default values were set so that speeds are similar to SOM (which imo feels way too slow).

@arouinfar @ariel-phet Please review with lids of various sizes.  Let me know what default values you'd like, and whether there is anything else th

[2019-05-20 16:39] pixelzoom commented on #64
Btw... Recommended to test with `?maxPressure=1000` so that it's easy to blow the lid off.

[2019-05-20 16:44] pixelzoom commented on #51
Raising priority to high.

[2019-05-20 16:50] pixelzoom commented on #38
Closing.  We'll get performance sign-off in #1.

[2019-05-20 16:51] #38 closed

[2019-05-20 16:53] pixelzoom commented on #48
@ariel-phet That looks good to me.  Could you please clarify what you're recommending for projector mode?  Light panels with no stroke?

[2019-05-20 16:59] ariel-phet commented on #48
Sounds like @arouinfar likes the general direction, and will play with the color profile for specific recommendations.

[2019-05-20 17:05] kathy-phet commented on #48
I like the general direction of the darker grey panels.

BTW, I demoed this sim this weekend (with the black panels), and the audience loved it ... especially the KMT screen with the 2 speed and energy distributions shown!

[2019-05-20 20:31] arouinfar commented on #48
As @ariel-phet mentioned, I liked the direction of the darker panels, so I experimented a bit more using gas-properties-colors.html in master.  For projector mode, I think a light gray panel works well and has a similar feeling to the dark gray used in the standard mode. I also adjusted the cyan particle color on the Diffusion screen so it a bit more blueish, which I think improves the contrast ag

[2019-05-20 20:52] ariel-phet commented on #48
I think this all looks great

[2019-05-20 20:58] pixelzoom commented on #48
I think this looks great too, and I've pushed the changes to master.

One suggested improvement is to use a very subtle stroke for the panels, just slightly brighter/darker than the panel fill.  This gives crispness to the edges.  I have not checked this in, but something like:

[code]

Examples:

<img width="858" alt="screenshot_1202" src="https://user-images.githubusercontent.com/3046552/5805151

[2019-05-20 21:02] arouinfar commented on #48
I think that looks really nice @pixelzoom! Definitely still subtle, but adds some depth. Please make the changes in master.

[2019-05-20 21:09] pixelzoom commented on #48
Done!

[2019-05-20 21:09] pixelzoom commented on #48
@arouinfar feel free to close if there's nothing left to do here.

[2019-05-20 21:17] ariel-phet commented on #46
@pixelzoom @arouinfar here is my suggestion

1. We change "Particle Counts" to just be "Particles" on all screens

2. We move the "Collisions" checkbox into the "Particles Panel"

3. We relabel "Particle Tools" to something like "Injection Temperature" or something that conveys temperature of the particles in the Pump

4. We use the radio buttons suggested above to be "match container" and "Contro

[2019-05-20 21:24] pixelzoom commented on #46
I like @ariel-phet's suggestion.  I think it cleans up the UI nicely, and it addresses my concern about "particle temperature".    @arouinfar let me know if you'd like me to proceed with making it so.

[2019-05-20 21:29] arouinfar commented on #46
Great suggestions @ariel-phet, thanks! @pixelzoom let's proceed with https://github.com/phetsims/gas-properties/issues/46#issuecomment-494154279.

[2019-05-20 21:31] arouinfar commented on #48
Looks wonderful, thanks!

[2019-05-20 21:31] #48 closed

[2019-05-20 21:31] ariel-phet commented on #64
@pixelzoom @arouinfar all looks pretty nice to me with `lidSpeedTheta=-50`

Nice behavior for default and smaller lid (IMO), and looks fine with full size lid

[2019-05-20 21:57] arouinfar commented on #64
Thanks for setting up the query parameters @pixelzoom!

I think the default speeds look quite nice -- fast enough to look exciting, but not too fast to be seen. I tried adjusting the relative x/y speeds a bit, but I ended up liking the default more. I think the animation tends to look a bit odd with a high rotational speed, so I like @ariel-phet's suggestion to go with `lidSpeedTheta=-50`.

[2019-05-20 22:17] arouinfar commented on #81
Completely agree @pixelzoom. Thank you for making this change.

[2019-05-20 22:17] #81 closed

[2019-05-20 22:19] arouinfar commented on #72
@pixelzoom I think the brighter green is looking great! Changing the color of the divider in the Data panel to match the barrier is also a really nice touch, though I think matching the stroke weight of the barrier may be a bit much. Perhaps we can instead thicken up the Data separator by 1 pt, and see if that's enough to improve the visibility in Projector Mode.

[2019-05-20 22:29] pixelzoom commented on #64
Master is now `lidSpeedTheta=-50`.   Back to @arouinfar, feel free to close if there's nothing left to do.

[2019-05-20 22:33] pixelzoom commented on #46
Changes completed, test drive in master or [1.0.0-dev.25](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.25/phet/gas-properties_en_phet.html).   Screenshot below.   For the NumberControl, I removed the "Temperature" title because it seemed redundant.   Let me know if you'd like to change any of the labels, etc.

<img width="859" alt="screenshot_1206" src="https://user-images.githubuse

[2019-05-20 22:39] pixelzoom commented on #72
The default separator lineWidth is 1.  I've set it to 2.   Please review in master.

[2019-05-20 23:04] arouinfar commented on #72
Looks great, thanks @pixelzoom!

[2019-05-20 23:04] #72 closed

[2019-05-20 23:13] arouinfar commented on #64
👍

[2019-05-20 23:13] #64 closed

[2019-05-21 00:06] pixelzoom opened #83 "thickness of container walls, lid, and divider"
The container's walls and lid in the Java version are significantly thicker than the HTML5 version.

Compare:

<img width="920" alt="screenshot_1208" src="https://user-images.githubusercontent.com/3046552/58059365-c9248480-7b29-11e9-807b-6b88472f55c1.png">

<img width="857" alt="screenshot_1207" src="https://user-images.githubusercontent.com/3046552/58059369-cb86de80-7b29-11e9-8cff-4906220be671.pn

[2019-05-21 02:21] ariel-phet commented on #46
All looks good to me. Although I like "Injection Temperature" perhaps "Pump Temperature" would be clearer. @kathy-phet input would be nice.

Seems like it would be good to have sign off on this at design meeting (and to other pixel polish issues)

[2019-05-21 03:33] pixelzoom commented on #46
I considered "Pump Temperature".  But particles are not added solely via the pump.

[2019-05-21 16:58] arouinfar commented on #46
@pixelzoom @ariel-phet I think master is looking really nice! While "Injection Temperature"  is perhaps the most accurate, the string is also a bit long which may pose i18n challenges.  Unfortunately, I don't have any better suggestions right now.

The particles added via the FineCoarseSpinners do travel through the pump. However, I worry that it "Pump Temperature" could create the expectation tha

[2019-05-21 17:18] pixelzoom commented on #36
@kathy-phet reminder that this issue is assigned to you with high priority.

[2019-05-21 17:59] pixelzoom opened #84 "Oops dialog when N goes to zero while holding "Pressure ↕T" constant"
When pressure is being held constant, what happens when `N` (the number of particles in the container) goes to zero?

For "Pressure ↕V", `V = NkT/P`. So volume will become zero, and we've addressed what happens in that case (Oops! dialog and switch to "Nothing" mode).

But for "Pressure ↕T", `T = PV/Nk`. So we'll get a divide-by-zero error.  In this case, it also seems like we need to switch to “N

[2019-05-22 14:54] arouinfar commented on #45
Since there isn't anything that needs to be done in the interviews, I'm going to go ahead and close this issue. If there are flow issues in the interviews that would necessitate the reviving the `redistribute: 'drag'` behavior, we can reopen.

[2019-05-22 14:54] #45 closed

[2019-05-22 15:10] pixelzoom commented on #36
Thinking about absolute zero some more...  With the current model, temperature `T` should approach, but never reach, `0K`.   That said, it is possible (though highly unlikely, given the time it would take) that we may exceed the floating-point precision of Javascript.   (The smallest number in Javascript is `Number.MIN_VALUE` whose value is `5e-324`.) And that may cause the sim to fail hard.

Opti

[2019-05-22 15:14] pixelzoom commented on #36
`Number.MIN_VALUE - Number.MIN_VALUE` evaluates to `0`, so I think we may be OK here with the "do nothing" option.

[2019-05-22 16:02] arouinfar commented on #36
@pixelzoom let's go with the "do nothing" option, but I think it would be good for QA to spend a bit of time trying to break things at 0 K.

[2019-05-22 16:21] pixelzoom commented on #36
It will be more than "a bit" of time :)   Starting with T=300K and applying maximum cooling, I estimate that you'll need to cool the container continuously for ~60 minutes before it gets anywhere near 5e-324.

[2019-05-22 16:39] arouinfar commented on #83
I don't think the walls/lid need to be particularly thick, but bumping it up a bit to
`?wallThickness=75&lidThickness=175` looks pretty good.

![Gas Properties screenshot](https://user-images.githubusercontent.com/8419308/58192165-59bfa980-7c7d-11e9-95a2-4f955b84664c.png)

Tagging for design meeting for a quick check in with @kathy-phet and @ariel-phet.

[2019-05-22 16:49] arouinfar commented on #84
Great questions. Yes, I think we'll need to switch to "Nothing". The change to "Nothing" might be too subtle without an Oops! dialog, so I think it would be preferable trigger one with this message:

[code]

[2019-05-22 18:05] pixelzoom commented on #83
Default values changed and pushed to master.

[2019-05-22 18:31] pixelzoom opened #85 "Hold Constant radio buttons need to be disabled based on current conditions"
Some of the Hold Constant radio buttons are problematic/nonsensical under certain circumstances.  I discussed with @arouinfar and we decided:

* Disable "Temperature (T)" when there are no particles in the container.

* Disable "Pressure V" and "Pressure T" when there is zero pressure in the container.

* If a radio button that is selected needs to be disabled, then set the selection to "Nothing".

[2019-05-22 18:35] pixelzoom opened #86 "Oops dialog when N goes to zero while holding T constant"
We'll need an Oops dialog when N goes to zero while holding T constant.  Something like:

[code]

@arouinfar Does this message look OK?

[2019-05-22 18:47] arouinfar commented on #86
Looks good!

[2019-05-22 19:58] pixelzoom opened #87 "Hold Constant: Temperature (T)"
Requirements:

- [x] disable "Temperature (T)" radio button when container is empty
- [x] hide slider on heat/cool bucket
- [x] if N goes to zero, switch to "Nothing" and display dialog:

[code]

[2019-05-22 19:58] pixelzoom commented on #86
Moving this into https://github.com/phetsims/gas-properties/issues/87.  Closing.

[2019-05-22 19:58] #86 closed

[2019-05-22 20:02] pixelzoom opened #88 "Hold Constant: Pressure ↕T"
Requirements:

- [x] disable "Pressure ↕T" radio button when there is zero pressure in the container
- [x] hide slider on heat/cool bucket
- [x] as N or V is changed, animate heat/cool bucket (Hollywood'ed)
- [x] as N or V changes, adjust particle velocities
- [x] When N goes to zero, switch to "Nothing" and display dialog:

[code]

[2019-05-22 20:04] pixelzoom commented on #78
Move to https://github.com/phetsims/gas-properties/issues/87. Closing.

[2019-05-22 20:04] #78 closed

[2019-05-22 20:05] pixelzoom commented on #84
Moved to #88, closing.

[2019-05-22 20:05] #84 closed

[2019-05-22 20:08] pixelzoom opened #89 "Hold Constant: Pressure ↕V"
Requirements:

- [x] disable "Pressure ↕V" radio button when there is zero pressure in the container
- [x] hide resize handle on container
- [x]  as N or T is changed, adjust V (container width)
- [x] When N goes to zero, switch to "Nothing" and display dialog:

[code]

- [x] if V exceeds range, display dialog:

[code]

[2019-05-22 20:09] pixelzoom commented on #85
Moved to #87, #88, #89. Closing.

[2019-05-22 20:09] #85 closed

[2019-05-22 20:11] pixelzoom commented on #83
Assigned to @ariel-phet and @kathy-phet for feedback.

[2019-05-22 20:12] pixelzoom commented on #46
Assigned to @kathy-phet for feedback.

[2019-05-22 23:11] arouinfar commented on #51
I've spent quite a bit of time testing `?flowRateSamples=300`, experimenting with N, mass, radius, and T.  I think using using 300 samples smooths the data enough, but it's not so many that the data appears to lag behind the other visuals in the sim.

Slow motion doesn't look amazing, but I think the data is still interpretable at `?flowRateSamples=300`. A larger number of samples would further sm

[2019-05-22 23:45] pixelzoom commented on #51
`flowRateSamples` has been changed to 300 in master.

[2019-05-22 23:54] pixelzoom commented on #51
@arouinfar Did you play around with `flowRateScale`?   If I set things up like this, then I get a really big vector immediately after "Remove Divider" button is pressed:

<img width="1011" alt="screenshot_1212" src="https://user-images.githubusercontent.com/3046552/58216183-91007b80-7cba-11e9-9326-23da3af09c6b.png">

[2019-05-23 00:03] pixelzoom opened #90 "speed limit for movable wall"
This issue was pulled out of https://github.com/phetsims/gas-properties/issues/71#issuecomment-493213748.   We need a speed limit for the movable wall, ala SOM, so that the lid isn't so easily blown off of the container.

TODO:

- [x] add speed limit for the movable (left) wall
- [x] no speed limit on _Ideal screen_, but possible to add one
- [x] query parameter for speed limit, `wallSpeedLimit`,

[2019-05-23 00:03] pixelzoom commented on #71
Speed limit feature moved to #90.  Closing.

[2019-05-23 00:03] #71 closed

[2019-05-23 02:22] ariel-phet commented on #83
All looks good to me in terms of thickness for 1.0.0-dev.26. The one tweak I might make is that when the divider is removed on the diffusion screen, that the opacity of the dotted line is turned down a bit (that green has very nice contrast, so I think we could get away with a lighter green, making it feel a bit more like a marker than any possibility of a solid boundary).

[2019-05-23 03:03] pixelzoom commented on #88
FYI, particle speeds are adjusted based on their contribution to KE.  In pseudo-code:

[code]

The actual code is `adjustParticleVelocitiesForTemperature` in `GasPropertiesModel`.

[2019-05-23 03:12] pixelzoom commented on #88
@arouinfar It would be good to have you verify the algorithm described in https://github.com/phetsims/gas-properties/issues/88#issuecomment-495049797, and the resulting behavior in [1.0.0-dev.27](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.27/phet/gas-properties_en_phet.html).

[2019-05-23 15:45] arouinfar commented on #83
I like this idea! I think 50% opacity could work (mockups below) but we might also consider bumping the opacity up a bit to 60%.

![image](https://user-images.githubusercontent.com/8419308/58266422-d797b980-7d3e-11e9-95ef-40f338a28595.png)
![image](https://user-images.githubusercontent.com/8419308/58266531-0f9efc80-7d3f-11e9-8b5e-0d049561469d.png)

[2019-05-23 15:53] pixelzoom commented on #83
The dashed divider is now `opacity: 0.5` in master.

I also wanted to point out (in case it hasn't been noticed) that the dashed lineWidth (50pm) is currently half of solid lineWidth (100pm).   This is something we can tweak too, if desired.

[2019-05-23 15:59] pixelzoom commented on #89
Implementation of "Pressure ↕V" requirements is completed.  Ready for review @arouinfar.

[2019-05-23 16:00] pixelzoom commented on #87
Implementation of "Temperature (T)" requirements is completed. Ready for review @arouinfar.

[2019-05-23 17:33] pixelzoom commented on #83
5/23/19 dev @arouinfar @ariel-phet @kathy-phet

Looks great.  I will remove query parameters.

[2019-05-23 17:36] pixelzoom commented on #51
5/23/19 design meeting @arouinfar @ariel-phet @kathy-phet

Current settings look good.  OK for vectors to be long in extreme case.

I will remove query parameters.

[2019-05-23 17:41] pixelzoom opened #91 "erase button for container"
5/23/19 design meeting @arouinfar @ariel-phet @kathy-phet

There was a feeling that an eraser button to clear particles from the container would be useful on the first 3 screens.   We couldn't decide on a great place for it.   I will add this button in a reasonable place, and then we can (a) decide if it's useful, and (b) decide where to put it.

[2019-05-23 17:45] pixelzoom commented on #46
5/23/19 design meeting @arouinfar @ariel-phet @kathy-phet

UI approved.  We'd like something other than "Injection Temperature", but no one had any better ideas.  It's the correct word, just long/techincal.

[2019-05-23 17:45] #46 closed

[2019-05-23 17:50] pixelzoom opened #92 "tune pressure gauge jitter"
5/23/19 design meeting @arouinfar @ariel-phet @kathy-phet

@kathy-phet was concerned that there is too much jitter.

@kathy-phet suggested a "friendly" public-facing query parameter to remove jitter.  Let me know what you'd like to call it.

Jitter is configurable via these query parameters:

[code]

[2019-05-23 17:51] pixelzoom commented on #36
Moved remaining jitter issues to #92.

[2019-05-23 17:51] #36 closed

[2019-05-23 17:58] pixelzoom commented on #88
5/23/19 design meeting @arouinfar @ariel-phet @kathy-phet

For bucket animation:
- show flame/ice going up/down in bucket
- make amount of flame/ice proportional to temperature (or KE) change

[2019-05-23 17:58] pixelzoom commented on #88
@arouinfar said that https://github.com/phetsims/gas-properties/issues/88#issuecomment-495049797 looks correct.

[2019-05-23 18:07] pixelzoom commented on #83
Query parameters removed. Closing.

[2019-05-23 18:07] #83 closed

[2019-05-23 18:12] pixelzoom commented on #51
Query parameters removed. Closing.

[2019-05-23 18:12] #51 closed

[2019-05-23 18:45] pixelzoom commented on #91
This button has been added to the first 3 screens in [1.0.0-dev.28](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.28/phet/gas-properties_en_phet.html).

The button is placed in proximity to the pump and container, which not interfering with the container width indicator.   I experimented with other locations (above hose, tucked in below hose,...) and this location seemed to be the le

[2019-05-24 07:39] kathy-phet commented on #91
I like it. Seems like nice flow as I shift from pumping to clearing to pumping.

[2019-05-24 21:18] arouinfar commented on #91
Thanks @pixelzoom. The erase button is definitely a convenient addition, and its location is reasonable. I'd be in favor of keeping it.

[2019-05-24 21:50] arouinfar commented on #92
Currently, the maximum amount of jitter is 200 kPa. Cutting `maxJitter` down to 100 kPa would results in a maximum fluctuation of ~1 atm which makes it much easier to read a pressure from the gauge. If we wanted to be even more aggressive, we could take `maxJitter` down to 50 kPa, which would make the visible jitter in the needle much more subtle, but would tighten up the pressure readout quite a

[2019-05-24 21:55] arouinfar commented on #87
Looks great @pixelzoom. Not sure if you want this issue left open for eventual QA testing, so reassigning it back to you.

[2019-05-24 22:25] arouinfar commented on #89
@pixelzoom this is generally looking pretty good. The only issue I found was that the Oops dialog can be improperly triggered if Pressure ↕V mode is selected when V is already at the max or min.

Simply being at max/min volume shouldn't be enough to trigger the dialog.  Suppose I start Pressure ↕V at maximum volume, and then remove some particles. The volume would shrink accordingly. However, if I

[2019-05-24 23:40] pixelzoom commented on #91
@ariel-phet if everything looks good to you, feel free to close this.

[2019-05-25 03:33] pixelzoom commented on #92
`noPressureNoise` can be parsed ambiguously.   I prefer `?pressureNoiseOff`, so I've added it.  Easy to change.  Test drive it here:

https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.29/phet/gas-properties_en_phet.html?pressureNoiseOff

[2019-05-25 03:35] pixelzoom commented on #92
@ariel-phet if you have any strong feelings, please weigh in on what the public-facing query parameter should be named for disabling jitter in the pressure gauge.  It's currently named `pressureNoiseOff`.

[2019-05-25 03:38] pixelzoom commented on #87
@arouinfar You bring up a good point - how to communicate the rather complicated behavior of the "Hold Constant" feature to QA so that they know what they are testing.   I don't think describing it in issues (like this one) is the way to go.  Perhaps this is a case where the design document should be brought up to date?   There is information in this issue, #88, and #89 that is not in the design d

[2019-05-25 03:56] pixelzoom commented on #89
Thanks @arouinfar.  There's a floating-point error that's causing this.  The container width's range is [5000,15000] pm.  Before switching to "Pressure ↕V", the actual container width is 15000 pm.  The computation for desired container width is producing 15000.000000000005 pm.

[2019-05-25 04:09] pixelzoom commented on #89
@arouinfar I pushed a fix to master, please verify.

[2019-05-27 01:07] pixelzoom commented on #90
Slack discussion about SOM implementation:

Chris Malley [10:33 AM]
Can you point me to where the speed limit is implemented for the SOM lid?

John Blanco [10:43 AM]
It's in `MultipleParticleModel`.  Start at `setTargetParticleContainerHeight`, then look in `stepInternal` where the target is checked and the container height is updated, at line 799 right now (it's a big file).

John Blanco [10:49 A

[2019-05-27 01:16] pixelzoom commented on #90
Speed limit is implemented for the Explore screen, default is `?wallSpeedLimit=1000` pm.

@arouinfar please review.

[2019-05-27 04:32] pixelzoom opened #93 "lid shrinks to min size if it blows off while resizing the container"
In the _Explore screen_, if the lid blows off while resizing the container, the lid shrinks to its min size before blowing off.   This should not happen, and does not happen if the lid blows off as the result of other actions (e.g. heating, adding particles).

This is not related to #90 (speed limit for wall).  It occurs in [1.0.0-dev.29](https://bayes.colorado.edu/dev/html/gas-properties/1.0.0-de

[2019-05-27 06:43] pixelzoom opened #94 "disable "Remove Divider" button when container is empty?"
On the _Diffusion_ screen... Should the "Remove Divider" button be disabled when the container is empty?  If you remove the divider with an empty container, the sim doesn't do anything.  And the button is very inviting.

[2019-05-27 16:07] arouinfar commented on #94
Great idea @pixelzoom. Let's disable the Remove Divider button when the container is empty.

[2019-05-27 17:51] pixelzoom commented on #94
@arouinfar Done in master, please review.

When disabled, the button is currently the default "disabled gray" for sun buttons, which is`rgb( 220, 220, 220 )`.   That works for me (it's not inviting :), but let me know if you'd prefer a different color.

[2019-05-27 19:35] arouinfar commented on #89
Looks good @pixelzoom

[2019-05-27 19:35] #89 closed

[2019-05-27 19:36] arouinfar commented on #87
@pixelzoom the [Hold Constant](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit#heading=h.4n0cz0dsk5gj) section of the design doc describes each mode including
* When it is disabled
* UI Changes
* What happens when N, T, or V is changed
* Oops dialog behavior (where applicable)

[2019-05-27 19:36] #87 closed

[2019-05-27 20:36] arouinfar commented on #94
Looks good to me @pixelzoom. I think "disabled gray" is the right way to go.

[2019-05-27 20:36] #94 closed

[2019-05-27 21:53] arouinfar commented on #90
@pixelzoom the speed limit behavior is looking great. I think it's still a bit too easy to blow the lid, so can you bump the speed limit down to 800 pm/ps and publish a dev version for the design team to test out?

Starting at default V & T, with `wallSpeedLimit=800` it's possible to
* expand the volume without changing T (for heavy particles)
* fully compress up to 250 heavy particles
* fully com

[2019-05-28 00:45] arouinfar commented on #58
I've drafted some screen icons. As mentioned in previous design meetings, I'm struggling a bit with how to distinguish between the Ideal and Explore screens, so any ideas would be appreciated. @ariel-phet can you review?

### Ideal

There was some talk of showing the ideal gas law on the screen icon, but that may be too literal. Other drawbacks include:
* Icon would give away too much information.

[2019-05-28 02:31] pixelzoom commented on #58
Explore and Diffusion icons seem a bit too similar to me.

[2019-05-28 02:39] pixelzoom commented on #90
Default has been changed to `wallSpeedLimit=800` in master and [1.0.0-dev.30](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.30/phet/gas-properties_en_phet.html).  @ariel-phet @kathy-phet please test drive.

[2019-05-28 02:43] pixelzoom opened #95 "CT: value failed isValidValue: 0"
Saw this happen once in CT, will investigate.

[code]

[2019-05-28 02:52] pixelzoom opened #96 "always put "checkbox group" in its own panel?"
Somewhat relevant to #30 PhET-iO Design.

In the _Explore_ and _Energy_ screens, "the checkbox group" is in its own panel.

Explore:

<img width="238" alt="screenshot_1215" src="https://user-images.githubusercontent.com/3046552/58447126-b299a280-80c0-11e9-8b25-cfe6219c4241.png">

Energy:

<img width="240" alt="screenshot_1216" src="https://user-images.githubusercontent.com/3046552/58447130-b62d298

[2019-05-28 02:56] pixelzoom commented on #96
And I do realize that the original design goal was to put the checkbox group in a panel vs an accordion box, because there's no need to hide them.   I'm just questioning whether they should be in their own panel, so that the entire panel can be hidden via PhET-iO without leaving a blank space in a panel.

[2019-05-28 16:31] pixelzoom commented on #95
Here's the relevant code in `DiffusionModel`:

[code]

`averageTemperatureProperty` is a `Property` with this validation option:

[code]

So `0` is an invalid value, and `averageKE` must be evaluating to `0`.

[2019-05-28 17:37] pixelzoom commented on #95
Believe I've addressed this in https://github.com/phetsims/gas-properties/commit/f413c2935321ec5d6e197351b7dd49a00f34e1cd.  I'll leave the issue open until I've verified that CT is happy.

[2019-05-28 17:43] pixelzoom commented on #93
Looks like this has been a problem since 1.0.0-dev.19, the first version where resizing the Explore container didn't pause the sim.

[2019-05-28 17:57] pixelzoom commented on #93
Fixed in versions > 1.0.0-dev.31.

[2019-05-28 17:57] #93 closed

[2019-05-28 18:49] ariel-phet commented on #58
@arouinfar

1. I like the Energy icon, perhaps give the histogram some unlabelled axes, just so it is not so disembodied

2. I like the first direction for Ideal, showing P, V, T (the iconized container with gauge and thermometer)

3. Perhaps for diffusion, show the ghosted separator and maybe the flow arrows? Do more like an iconized container as you did with the Ideal and flow arrows underneath?

[2019-05-28 19:03] ariel-phet commented on #91
@pixelzoom @arouinfar I think the eraser button position and such works well.

I would however give it a slightly darker background color when active (the white background just feels washed out to me)

Here it is with 139, 139, 139 and I think that matches the sim a bit better without "popping" so much that it would be too attractive in the flow (for instance I would not want the normal yellow bac

[2019-05-28 19:07] ariel-phet commented on #92
@pixelzoom no strong feelings, I think `pressureNoiseOff` is plenty clear

[2019-05-28 19:11] pixelzoom commented on #91
@ariel-phet And does the same color apply for projector mode?  All colors need to be specified for both modes.

[2019-05-28 19:23] arouinfar commented on #58
I originally tried that but the stroke needs to be pretty thick to be seen in the navbar icon. Here are a few options:
<img src="https://user-images.githubusercontent.com/8419308/58505088-5d55a380-8149-11e9-9435-27ec1655046d.png" width=373>   <img src="https://user-images.githubusercontent.com/8419308/58505088-5d55a380-8149-11e9-9435-27ec1655046d.png" width=101>
<img src="https://user-images.githu

[2019-05-28 19:24] ariel-phet commented on #91
@pixelzoom thanks for pointing that out. That color is a bit too much contrast in projector mode. For projector mode I suggest 188, 188, 188

[2019-05-28 20:07] ariel-phet commented on #90
Works for me. I think this is OK to close if @kathy-phet does not weigh in soon.

[2019-05-28 21:10] ariel-phet commented on #58
@arouinfar

1. I like the second option for Energy above (with x and y unlabelled axis)

2. For diffusion, I like option 3. I think the container and the flow arrows nicely communicate what is going on

[2019-05-28 22:56] pixelzoom commented on #91
Here's the modified color profile for the eraser button:

[code]

@ariel-phet @arouinfar please verify in master.

[2019-05-28 23:19] pixelzoom commented on #88
@arouinfar @ariel-phet @kathy-phet animation of the heat/cool bucket is ready for review in master and [1.0.0-dev.31]().

Described below are 4 query parameters that can be used to tune this feature.  Let me know what you'd like to adjust.

[code]

[2019-05-28 23:20] pixelzoom commented on #88
Also note that the heat/cool bucket animation is currently tied to the simulation timer.  If you pause the simulation, you'll need to press the step button to advance the animation.

[2019-05-28 23:22] pixelzoom commented on #95
CT appears to be happy, closing.

[2019-05-28 23:22] #95 closed

[2019-05-28 23:27] pixelzoom commented on #58
@ariel-phet said:

A bit complicated to create programmatically, but doable.

Sine nothing like this appears in the sim, I can't programmatically generate this one without writing new code.

Me too.  And it's straightforward to create programmatically.

[2019-05-29 00:39] ariel-phet commented on #91
@pixelzoom this all looks good to me in master (color wise).

However, when you hit the erase button if you are in one of the Constant modes (Pressure or Temp) you get an "oops dialog" when you hit the eraser. I think we could forgo this dialog in the case where the eraser has been hit the mode has been automatically switched back to nothing. I think this dialog is appropriate if you are dialing t

[2019-05-29 00:57] pixelzoom commented on #91
@ariel-phet suggested:

That sounds like a design decision for @arouinfar.   My 2 cents: I think it's instructive to have the Oops! dialog for _any_ case where the container becomes empty as the result of a user interaction.  The user may not notice that Hold Constant has been silently switched to "Nothing".  And finally (and least important), the model currently has no idea why the number of part

[2019-05-29 01:04] pixelzoom commented on #30
@arouinfar do you want to revisit this issue now that the sim is feature complete?

[2019-05-29 01:05] pixelzoom commented on #41
phetsims/scenery#621 is closed, so I'm going to close this issue.

[2019-05-29 01:05] #41 closed

[2019-05-29 01:10] pixelzoom commented on #28
@arouinfar here are the current credits.  Any changes other than the addition of QA credits?

<img width="821" alt="screenshot_1219" src="https://user-images.githubusercontent.com/3046552/58522152-41b7c080-817c-11e9-8fb9-d60ebf102e08.png">

[2019-05-29 01:12] pixelzoom opened #97 "review ?showPointerAreas"
This is an item from the [Master Checklist](https://github.com/phetsims/gas-properties/issues/1), to be completed by the Lead Designer.

[2019-05-29 01:13] pixelzoom opened #98 "performance sign-off"
This is an item from the [Master Checklist](https://github.com/phetsims/gas-properties/issues/1), to be completed by the Lead Designer.

[2019-05-29 03:20] pixelzoom commented on #40
Collision detection implementation is working great, and unlikely to change it this late in the game.  So I'm made some notes in CollisionDetection.js.

Closing.

[2019-05-29 03:20] #40 closed

[2019-05-29 03:35] arouinfar commented on #28
@pixelzoom please add @KatieWoe `Kathryn Woessner` to the design team credits.

[2019-05-29 03:40] arouinfar commented on #30
Seems like @kathy-phet's call.

[2019-05-29 04:38] pixelzoom commented on #58
I did a quick implementation of the Ideal and Energy icons.  The Energy icon reads pretty well, but I think all of the others have too much detail.   Test drive in master.  (Ideal icon only has a single particle for now.)

[2019-05-29 04:38] pixelzoom commented on #58
I did a quick implementation of the Ideal and Energy icons.  The Energy icon reads pretty well, but I think all of the others have too much detail -- especially for the navigation bar.   Test drive in master.  (Ideal icon only has a single particle for now.)

[2019-05-29 17:35] arouinfar commented on #97
@pixelzoom PointerAreas are looking good. I also took dev.31 for a test drive on my phone, and everything was very usable.

I've checked the corresponding item off in the master checklist, closing.

[2019-05-29 17:35] #97 closed

[2019-05-29 17:44] arouinfar commented on #91
@ariel-phet @pixelzoom I have a slight preference for the lighter gray button, but could live the darker option currently in master.

Actually, I don't think we want to do that. Temperature and Pressure cannot be held constant when the container is empty, and the corresponding radio options are inactive until N > 0 or P > 0, respectively. The sim will need to switch to "Nothing" when the erase but

[2019-05-29 18:10] arouinfar commented on #58
@pixelzoom I am certainly happy to provide assets for any icon that is not feasibly drawn in code.

Frankly, that's my least favorite option. I still prefer the look without axes at all -- it's an iconic representation, after all.

Agreed, glad to see we're on the same page. As @pixelzoom points out, it may have a bit too much detail for the navbar. Perhaps the 2nd option would scale down better?

[2019-05-29 19:58] pixelzoom commented on #91
@arouinfar said:

If we're voting, I also prefer a lighter gray.  Dark gray is great for the panels, but the dark gray button feels a little lost to me.

[2019-05-29 20:07] pixelzoom commented on #58
@arouinfar said:

Yes, I appreciate that.  But then things have a tendency to get out of sync with reality.  For example colors, or the lighting direction in some of your mockups above.   If we use the same code that is used to draw the things that appear in the sim, then this problem is avoided.

There's also the question of what to do in projector mode.  If you have an icon (like Diffusion) that

[2019-05-29 20:46] pixelzoom commented on #91
`rgb( 220, 220, 220 )` looks pretty good to me in both modes (not checked in):

<img width="1018" alt="screenshot_1220" src="https://user-images.githubusercontent.com/3046552/58590083-89902380-8220-11e9-97fc-ea60ba5554ba.png">

<img width="1008" alt="screenshot_1221" src="https://user-images.githubusercontent.com/3046552/58590089-8d23aa80-8220-11e9-98cf-e13da584b7aa.png">

[2019-05-29 20:50] pixelzoom commented on #92
Add `meeting:design` label for discussion at 5/29/19 design meeting.  We are waiting on feedback from @kathy-phet, specifically:

(1) Respond to @arouinfar's request for feedback on jitter values in https://github.com/phetsims/gas-properties/issues/92#issuecomment-495797423.

(2) Weight in on preference for the query parameter name.  It's currently `pressureNoiseOff`.

[2019-05-29 20:52] pixelzoom commented on #91
Added meeting:design label for discussion at 5/29/19 design meeting.    There appears to be consensus on location of the button.   For discussion is the button color, in both modes.  Please come prepared with your color preference.

[2019-05-29 20:53] pixelzoom commented on #90
Added `meeting:design` label for discussion at 5/29/19 design meeting.

We are waiting on feedback from @kathy-phet.

[2019-05-29 20:55] pixelzoom commented on #88
Added `meeting:design` label for discussion at 5/30/19 design meeting.  Please come to the meeting with the feedback requested in https://github.com/phetsims/gas-properties/issues/88#issuecomment-496725073.

[2019-05-29 20:56] pixelzoom commented on #58
Added `meeting:design` label for discussion at 5/30/19 design meeting.   Please review the mockups in this issue and come to the meeting with suggestions for icons.

[2019-05-29 21:01] pixelzoom commented on #30
Re this issue that we identified on 3/14/19:

There is no way that we can invert the model, and that is (in general) a bad design decision.   With the current implementation, we will need to save thousands of particles in order to save the state.  And similarly, we will need to save the location and velocities of thousands of particles on each time step in order to record/playback.   That will mos

[2019-05-29 21:01] pixelzoom commented on #30
Added `meeting:design` label for discussion at 5/30/19 design meeting.

We are waiting on feedback from @kathy-phet. Specifically, should we do some more initial thinking about PhET-iO now that the sim is feature complete?

[2019-05-29 21:03] pixelzoom commented on #96
Added meeting:design label for discussion at 5/30/19 design meeting.

[2019-05-30 01:57] ariel-phet commented on #91
I know my preference, but happy to be outvoted :)

[2019-05-30 02:57] ariel-phet commented on #96
From an aesthetic point of view, I really like the separator look as used in this sim. I think too many panels can start to look "choppy" for lack of a better word.

My understanding is that we have also accepted that iO clients will potentially make choices that compromise the aesthetic ideal of the sim (from out point of view). So I am personally not overly concerned about the potential blank sp

[2019-05-30 03:35] ariel-phet commented on #92
BTW, I would be fine with either jitter value, both add some jitter, which feels important to me, but I am fine with either level, but probably no more agressive than `?maxJitter=50`

[2019-05-30 06:06] pixelzoom commented on #87
OK, sounds good. I'll plan to refer the QA team to the design document for information on how to test this feature.

[2019-05-30 16:21] arouinfar commented on #91
I like @pixelzoom's suggestion of `rgb( 220, 220, 220 )`. Seems like a reasonable compromise.

[2019-05-30 16:53] arouinfar opened #99 "Items for Teacher Tips"
For #1.

Opening an issue to keep track of things that will need to be documented in the Teacher Tips. This list is a work in progress, and will be edited as I encounter/remember more issues.

- [x] Link to [model.md](https://github.com/phetsims/gas-properties/blob/master/doc/model.md) for more in-depth description.
- [x] Explore screen wall behavior, speed limit - #90
- [x] Constants: container h

[2019-05-30 18:10] arouinfar commented on #96
Thanks for the suggestion @pixelzoom.

Agreed @ariel-phet! I definitely prefer the look of fewer panels. It's a bit hard in this sim because there's a need for a lot of independent accordion boxes, so I'd be hesitant to make <i>even more</i> panels.

Currently there are 5 checkboxes appearing in 3 different groupings. It might make more sense to combine them into a separate panel if the checkboxes

[2019-05-30 18:11] arouinfar commented on #58
Understood. I'd also clean up colors and lighting before delivering assets. :)

No, I don't think it'd be necessary to adjust the icons in projector mode. Does joist even support adaptive screen icons?

[2019-05-30 18:16] pixelzoom commented on #96
Aesthetically, I also prefer the current implementation.

[2019-05-30 18:18] pixelzoom commented on #58
@arouinfar asked:

No, not directly.  It's possible (but not pretty) to handle to switch images for screen icons in sim-specific code.

[2019-05-30 19:31] kathy-phet commented on #58
For Ideal:
I like what is in phettest but would put maybe 3 blue balls in the box
For Energy:
I like what is there

For Diffusion:
I like the close up, but would keep the lower wall of the box. This idea:
![image](https://user-images.githubusercontent.com/5096804/58658895-d89c8e00-82de-11e9-94a0-2a765597934b.png)

For Explore:
Maybe close up of the left hand wall with the handle in a state where a

[2019-05-30 19:39] pixelzoom commented on #92
5/30/19 design meeting @arouinfar @ariel-phet @kathy-phet

* change default to `maxJitter=50`
* `pressureNoiseOff` is good

[2019-05-30 19:42] pixelzoom commented on #91
5/30/19 design meeting @ariel-phet @arouinfar @kathy-phet

`rgb( 220, 220, 220 )` works.

[2019-05-30 19:49] pixelzoom commented on #90
5/30/19 design meeting @arouinfar @ariel-phet @kathy-phet

* @kathy-phet suggested having no speed limit for making the container larger
* `wallSpeedLimit=800` looks good for making the container smaller

[2019-05-30 20:00] pixelzoom commented on #88
Design meeting 5/30/19 @arouinfar @ariel-phet @kathy-phet

* make heatCoolFactor proportional to `N * deltaT`.  Print `N * deltaT` to console, decide how to scale.
* other aspects and default values look good

[2019-05-30 20:10] pixelzoom commented on #58
5/30/19 design meeting @arouinfar @ariel-phet @kathy-phet

* put 3 particles in Ideal icon
* 10 more yMargin for Energy icon
* for Diffusion, try green solid line with 2 particles on left, 3 on right
* for Explore, try close up of handle, 2 particles against wall, 2 away from wall

[2019-05-30 20:24] pixelzoom commented on #96
5/30/19 design meeting @arouinfar @ariel-phet @kathy-phet

Consensus is to leave as is.  If they want to hide checkboxes, they can live with blank spaces.

[2019-05-30 20:24] #96 closed

[2019-05-30 20:26] pixelzoom commented on #91
Done, closing.

[2019-05-30 20:26] #91 closed

[2019-05-30 20:31] pixelzoom commented on #92
There was discussion about a "Basics" version of this sim, and that led to the realization that `pressureNoiseOff` should not be a flag.   Change to boolean `pressureNoise`, default `true.`

[2019-05-30 20:37] pixelzoom opened #100 "discuss spin-off versions of this sim"
From 5/30/19 design meeting, discuss a "Basics" version of this sim, and maybe a "Diffusion" sim.

High priority, since this needs to be done before dev testing begins.

[2019-05-30 20:42] pixelzoom commented on #100
5/30/19 design meeting @arouinfar @ariel-phet @kathy-phet

I should proceed with "Diffusion" sim, repo name `diffusion`.

[2019-05-30 20:58] pixelzoom commented on #92
Changes are done in master.  Summary:

* changed `maxJitter` to 50
* delete `maxJitter` and `minJitter` query parameters
* changed `pressureNoiseOff` (flag) to `pressureNoise` (boolean), default `true`
* added "Pressure Noise" checkbox to Options dialog, defaults to `?pressureNoise`

@arouinfar please review.

[2019-05-30 21:02] pixelzoom commented on #90
Speed limit now applies only when making the container smaller.  @arouinfar please review in master.

[2019-05-30 21:04] pixelzoom commented on #58
@arouinfar For the Energy icon, please let me know how many bins you'd like, and a value [0,1] for each bin.

[2019-05-30 22:01] pixelzoom commented on #58
@arouinfar I've made a quick first pass at today's design decisions, see screenshot below and master.  Let me know what you'd like to change.

<img width="929" alt="screenshot_1224" src="https://user-images.githubusercontent.com/3046552/58667769-312a5600-82f4-11e9-997f-d2b0eb731be3.png">

[2019-05-31 01:06] pixelzoom commented on #28
Credits were factored out into `GasPropertiesConstants.CREDIT` so that they can be shared with diffusion-main.js.

[2019-05-31 01:08] pixelzoom commented on #100
The diffusion repo is set up and the sim is feature complete.  Not bad for under 2 hours :)  Test drive at [1.0.0-dev.1](https://phet-dev.colorado.edu/html/diffusion/1.0.0-dev.1/phet/diffusion_en_phet.html);

[2019-05-31 01:11] pixelzoom commented on #30
5/30/19 design meeting @arouinfar @ariel-phet @kathy-phet

We briefly discussed issues with getting state of the particle system, record/playback, etc.  This sim will be a challenge to instrument.  It won't be as simple as just adding tandems and describing the API in Studio.  It will require some additional PhET-iO specific code.

Deferring this issue until we begin PhET-iO design.

[2019-05-31 23:11] kathy-phet commented on #100
Team - Diffusion looks great as a single sim! My only question about Diffusion screen is if a teacher might want a scale on the box, to help somehow have students take data and graph the center of mass marker positions away from center versus time. Not sure what this would look like - small ticks or something. (This would apply to it in the other sim too). Thoughts?

[2019-05-31 23:12] pixelzoom commented on #100
Thanks for the suggestion @kathy-phet.  I'm going to move that suggestion to its own issue, since it's a new feature that would apply to both sims.

[2019-05-31 23:13] pixelzoom opened #101 "add a scale to Diffusion screen"
In https://github.com/phetsims/gas-properties/issues/100#issuecomment-497886651, @kathy-phet suggested a new feature:

[2019-05-31 23:15] pixelzoom commented on #101
@kathy-phet Could you clarify what you mean by "scale"?  Do you mean a width indicator, like what is shown via the "Width" checkbox in the _Ideal_ screen?

[2019-05-31 23:36] pixelzoom commented on #101
If the tick marks are labeled with values...  Unfortunately the container is 15 nm wide, so the divider (center) is at 7.5 nm, instead of a nice integer value.

[2019-05-31 23:45] pixelzoom commented on #101
If it would be advantageous to have the center at an integer value, we have some options:

* Increase the container width to 16nm. It looks like there's enough space on either side of the container to do this.
* Reduce the container width to 14 nm.

In both cases, we could also change the scale factor in the model-view transform to make the container appear to be the same size (pixel width) that i

[2019-06-01 14:28] pixelzoom commented on #58
I had used the wrong colors for particles in the Diffusion screen icon.  Fixed in the above commit and pushed to master.

[2019-06-01 14:33] pixelzoom commented on #58
@arouinfar Also note that the screen icons _do_ change in Projector mode.  You said that this wasn't a requirements, but by creating these icons programmatically, it came for free.  It can be turned off for the screen icons if desired, but as I play with it, it seems to make sense - especially since the icons depict what is shown on the screens.

[2019-06-01 20:54] pixelzoom commented on #88
The change request identified in https://github.com/phetsims/gas-properties/issues/88#issuecomment-497465179 has been implemented.  Some background information:

The heat/cool bucket shows flame/ice based on a number in the range [-1,1], were +1 is full flame, -1 is full ice, and 0 shows no flame or ice.  This number is referred to as the `heatCoolFactor`.

When Hold Constant is set to "Pressure T

[2019-06-01 20:55] pixelzoom commented on #88
Also note that as of 1.0.0-dev.33,`maxDeltaTN` is the only relevant query parameter for this issue .  The other query parameters described in https://github.com/phetsims/gas-properties/issues/88#issuecomment-496725073 have been removed.

[2019-06-03 20:40] arouinfar commented on #90
Looks great, thanks @pixelzoom!

[2019-06-03 20:40] #90 closed

[2019-06-03 20:42] arouinfar commented on #92
Everything's looking good @pixelzoom, thanks!

[2019-06-03 20:42] #92 closed

[2019-06-03 22:08] arouinfar commented on #58
@pixelzoom the icons are looking really nice! I think changing the icons in projector mode is also a nice touch.

For Energy, we had discussed using more bins with decaying heights, so let's try these values.

| Bin | Value |
| --- | --- |
| 1 | 0.80 |
| 2 | 1 |
| 3 | 0.85 |
| 4 | 0.53 |
| 5 | 0.33 |
| 6 | 0.21 |
| 7 | 0.13 |
| 8 | 0.08 |
| 9 | 0.05 |
| 10 | 0.03 |

The barrier in the Diffusion ic

[2019-06-03 22:16] pixelzoom commented on #58
@arouinfar requested changes were made, please verify in master.

[2019-06-03 22:51] arouinfar commented on #58
Thanks @pixelzoom. I think the icons are looking great.

@kathy-phet @ariel-phet any further thoughts?
![image](https://user-images.githubusercontent.com/8419308/58839655-dc524c80-861f-11e9-8f9d-344c634ac918.png)

[2019-06-03 23:14] arouinfar commented on #101
@kathy-phet were you thinking about something like this? I think tick marks like these could be helpful for plotting the center of mass position vs. time, though a `MeasuringTapeNode` would be more precise. Personally, I'd rather add a `MeasuringTapeNode`.

![image](https://user-images.githubusercontent.com/8419308/58839711-1cb1ca80-8620-11e9-82c6-5040ce91aa4d.png)
![image](https://user-images.git

[2019-06-03 23:30] pixelzoom commented on #101
I prefer the scale indicators in @arouinfar's mockup because a scale will be a lot less work than a measuring tape :)

We haven't discussed whether this is always on, but I'm guessing not, and we'll probably want a checkbox.  It's going to be tight, but it looks like we have room for a "Scale" or "Measuring Tape" checkbox in the control panel, below the "Stopwatch" checkbox.

Anyway, that's my 4 c

[2019-06-03 23:31] pixelzoom commented on #101
I prefer the scale indicators in @arouinfar's mockup because a scale will be a lot less work than a measuring tape :)

If we went with the top mockup (0 at center), then a measuring tape might be a little problematic if you wanted to take measurements for both center-of-mass indicators at the same time.

We haven't discussed whether this is always on, but I'm guessing not, and we'll probably want

[2019-06-04 00:07] arouinfar commented on #101
After some discussion with @kathy-phet, I'm also thinking scale indicators are the way to go. We iterated on the design a bit, and added a 1 nm scale bar instead of tick mark labels. This cleans things up a bit while still conveying the necessary information. How does this look @pixelzoom?

![image](https://user-images.githubusercontent.com/8419308/58841813-c7c68200-8628-11e9-9e7b-e9416d9d589d.png

[2019-06-04 00:08] arouinfar commented on #58
Met with @kathy-phet and she gave these icons a 👍

[2019-06-04 00:11] arouinfar commented on #88
Thanks @pixelzoom. @kathy-phet and I reviewed briefly, and the general behavior is looking good. I still need to tune `maxDeltaTN`, and it would be helpful to see `| deltaT * N |` printed to the console too. Can you push that to master?

[2019-06-04 00:20] pixelzoom commented on #88
@arouinfar `| deltaT * N |` has been added to the console output.

[2019-06-04 00:21] arouinfar commented on #100
Briefly discussed the gas law-focused spinoff with @kathy-phet, and we're thinking to split the sim into two screens.

1. Intro - Ideal screen from `gas-properties`, minus Hold Constant radio options. (Looks like Explore screen, but with magic wall of Ideal screen.)
2. Laws - Identical to Ideal screen in `gas-properties`

As for the sim name, these are the options we're considering
* Gas Laws
* Ga

[2019-06-04 00:32] pixelzoom commented on #101
Discussed with @arouinfar on Slack, and she added:

* `rgb(220,220,220)` in normal mode
* `black` or a dark gray in projector mode

[2019-06-04 06:56] ariel-phet commented on #100
I don't really like "Gas Properties: Basics"

I could certainly live with Gas Laws.

I think this is quite akin to our "Waves Intro" sim, so why not "Gases Intro"

[2019-06-04 06:59] ariel-phet commented on #58
Looks good to me, closing!

[2019-06-04 06:59] #58 closed

[2019-06-04 07:42] kathy-phet commented on #100
I like Gases Intro

Kathy

Sent from my iPhone

On Jun 4, 2019, at 12:56 AM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't really like "Gas Properties: Basics"

I could certainly live with Gas Laws.

I think this is quite akin to our "Waves Intro" sim, so why not "Gases Intro"

—
You are receiving this because you were mentioned.
Reply to this email directl

[2019-06-04 14:03] pixelzoom commented on #101
@arouinfar ready for review in master or [1.0.0-dev.34](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.34/phet/gas-properties_en_phet.html).  Screenshot with `?dev` below.

A few notes:
* I added an icon to the "Scale" checkbox, easy to remove or modify the icon.
* I placed the "Scale" checkbox _above_ the "Stopwatch" checkbox so that all options related to the container are grouped t

[2019-06-04 14:04] pixelzoom commented on #101
Part of me wants to put the "Scale" checkbox above the "Particle Flow Rate" checkbox, so the vertical layout of the checkboxes matches the vertical layout of the things that they control.  But maybe that's overthinking it.

[2019-06-04 14:08] pixelzoom commented on #100
No technical challenges with what's described in https://github.com/phetsims/gas-properties/issues/100#issuecomment-498472587.   There will be a little work to make the "Hold Constant" radio buttons optional, but it's straightforward.  Should be < 3 hours, and I can start as soon as the sim name solidifies (since that's needed to name the repo).

[2019-06-04 14:59] ariel-phet commented on #101
Just jumping in with an opinion here...Perhaps consider putting the scale on the top of the box? on the bottom I feel there is quite a bit going on, and the numerical position of the center of mass is not so important as the qualitative nature of it. If we really like it on the bottom, I am fine with that, but I think things might be cleaner with it on top.

[2019-06-04 15:05] pixelzoom commented on #101
I may not have this correct.  But the use case for this feature (as explained to me by @arouinfar) is that students would observer how far the center of mass is from the center of the box (1 tick, 2 ticks, 2.5 ticks, etc.)   So that's why it's on the bottom of the container.

[2019-06-04 15:07] ariel-phet opened #102 "Different image for "Oops" dialog possibly?"
This is extremely minor, and I have no qualms if we don't squeeze it in, but I was thinking the Oops dialog with PhET girl in shorts seems a little out of place.

@pixelzoom is the image used in the Oops dialog optional (as in could we set that up to have a few different image possibilities or image supplied)?

@arouinfar I was thinking PhET girl in a lab coat would be more appropriate, I know Mar

[2019-06-04 15:09] ariel-phet commented on #88
I am fine with whatever final decision @arouinfar makes here.

[2019-06-04 15:12] pixelzoom commented on #102
The image in the `OopsDialog` is currently not optional.  Relatively straightforward to do so, < 2 hours.

[2019-06-04 15:18] pixelzoom commented on #102
FYI, the current image is scenery-phet/images/phet-girl-wagging-finger.png, size 125x275, and it's scaled down to a height of 132 by `OopsDialog`.  If we provide an option to supply an alternate image (e.g. `options.image`), we could handle the scaling in `OopsDialog`, or make the client responsible for the scaling. I'm inclined to do the latter, so that we don't have an explosion of options for `

[2019-06-04 15:28] ariel-phet commented on #102
@pixelzoom I would say go ahead and at least make the image optional, then we at least have, well, the option. I could see in future Math sims or such giving her a "mathy" look.

[2019-06-04 15:32] pixelzoom commented on #102
I've added `options.iconNode` to `OopsDialog`, so it's all set to use a different "icon".

Here's an example of its usage in scenery-phet's demo app:

<img width="673" alt="screenshot_1228" src="https://user-images.githubusercontent.com/3046552/58892501-94790700-86ab-11e9-895c-67b7e41d6fd7.png">

[2019-06-04 15:44] ariel-phet commented on #102
Sweet!

[2019-06-04 15:59] arouinfar commented on #100
Thanks for the suggestion @ariel-phet. I also like "Gases Intro"!

@pixelzoom please proceed with `gases-intro`.

[2019-06-04 16:17] pixelzoom commented on #100
Sounds great, proceeding.

[2019-06-04 17:10] pixelzoom commented on #100
Gases Intro is up and running, see [1.0.0-dev.1]().  We'll need screen icons, but I'll create an issue in the gases-intro repository.

@arouinfar anything else here? If not, feel free to close.

[2019-06-04 18:01] arouinfar commented on #100
@pixelzoom that was quick! Looks like we forgot to specify the `pressureNoise` default as `false` for Gases Intro, so opened https://github.com/phetsims/gases-intro/issues/3.

I don't believe we have any other spin-off sims up our sleeves, so I'll go ahead and close.

[2019-06-04 18:01] #100 closed

[2019-06-04 21:57] pixelzoom commented on #60
We originally thought that we could ignore changes to controls while the sim is paused, and just require the user to press the step button (possibly multiple times!) to update.  But while working on histograms #52, I noticed that it seemed odd that the histograms did not update if the container was emptied while the sim was paused.  Ditto for the Average Speed display, thermometer, and pressure ga

[2019-06-04 22:28] pixelzoom commented on #102
@arouinfar You can email me .ai and .png files for the new images when you have them. I'll take care of putting them in GitHub, setting up the license file, etc.

[2019-06-04 23:12] pixelzoom commented on #52
Histograms have been mostly rewritten.

Query parameters:
* `?bins` is the number of bins in each histogram, default is 19
* `?speedBinWidth` is the bin width for the Speed histogram, default is 170 pm/ps
* `?keBinWidth` is the bin width for the Kinetic Energy histogram, default is 8E5 AMU * pm^2 / ps^2
* `?histogramSamplePeriod` is the sample period, default is 1 ps

Other information:
* Horizont

[2019-06-04 23:28] pixelzoom opened #103 "test for memory leaks"
Do memory profiling, similar to what was done in phetsims/equality-explorer#64.

Use a built version.

[2019-06-05 13:50] pixelzoom opened #104 "CT: y must be a finite number: NaN"
[code]

[2019-06-05 15:06] pixelzoom commented on #52
I noticed that with the max number of particles in the container, the horizontal lines can become pretty dense.  See screenshot below.  Maybe this is OK because it indicates "a lot of particles".   Or maybe we want to increase the spacing of the horizontal lines.

<img width="1018" alt="screenshot_1231" src="https://user-images.githubusercontent.com/3046552/58967264-1d0dab00-8771-11e9-9ce2-16267c6

[2019-06-05 15:10] pixelzoom commented on #104
The problem is manifesting in this section of LinePlotNode, line 62:

[code]

`this.chartSize` is a constant.

`yScaleProperty` has a validator `isValidValue: value => ( value >= 0 )`, and `NaN >=0` is `false`.

So if `y` is evaluating to `NaN`, then `binCount` must also be the culprit.

[2019-06-05 15:18] pixelzoom commented on #104
I have not been able to reproduce this manually or with `?fuzz`.  So in the above commit, I added an assertion to validate binCounts at the point where they are computed.  If my hypothesis is correct that `binCount` is the culprit, then CT should report the failure at this new assertion.

[2019-06-05 15:37] arouinfar commented on #102
I was able Frankenstein together lab coat-wearing PhET girl with the wagging finger PhET girl. I combined the art fairly quickly, so the underlying layer isn't so pretty. However, the image itself looks reasonable to me.

![oops-dialog](https://user-images.githubusercontent.com/8419308/58969224-94910980-8774-11e9-86d1-adab0fdbe069.png)

@pixelzoom here are the assets. The original artwork was crea

[2019-06-05 16:16] pixelzoom commented on #102
Love the new image.  I've integrated into master, see screenshot below.

Here's the license file entry:

[code]

Back to @arouinfar for review.

<img width="1018" alt="screenshot_1232" src="https://user-images.githubusercontent.com/3046552/58972464-dcb32a80-877a-11e9-8562-2f52163524f3.png">

[2019-06-05 16:24] arouinfar commented on #102
Looks awesome, thanks @pixelzoom!

[2019-06-05 16:24] #102 closed

[2019-06-05 17:23] arouinfar commented on #52
@pixelzoom I think the horizontal lines will need to be pretty dense when the container is full so that the scale is still useful for lower N.

That said, I think increasing the spacing to 25 particles would improve things a bit.

[2019-06-05 17:26] pixelzoom opened #105 "better name for HoldConstantEnum?"
`HoldConstantEnum` is an enumeration that describes the quantities that may be held constant in the model.   I'm a little foggy on the PhET naming conventions for enumerations, so I'll inquire on the Slack developer channel.

[2019-06-05 17:29] pixelzoom commented on #105
Summary of Slack discussion: PhET convention is to avoid suffixes "Enum" and "Enumeration", and consensus was that `HoldConstant` would be an appropriate name.

<details>
<summary>complete Slack discussion</summary>

Chris Malley [11:18 AM]
Gas Properties has an enumeration that describes the quantities that may be held constant in the model.  The enumeration is currently named `HoldConstantEnum`.

[2019-06-05 17:34] pixelzoom commented on #105
Name changed to `HoldConstant`, closing.

[2019-06-05 17:34] #105 closed

[2019-06-05 18:00] pixelzoom commented on #52
@arouinfar spacing of 25 doesn't look significantly better to me.  50 seems better for large N (see screenshot), and still seems to work for small N.  I've added the following query parameter for you to experiment with, default is 25.

[code]

<img width="1014" alt="screenshot_1233" src="https://user-images.githubusercontent.com/3046552/58978613-6cf86c00-8789-11e9-9ac5-5b7c175e721d.png">

[2019-06-05 20:32] arouinfar commented on #52
@pixelzoom thanks for setting up the query parameter. I agree -- 50 looks great, and it's still reasonable for low N, so let's go with 50.

[2019-06-05 20:48] pixelzoom commented on #52
Changed spacing to 50 and deleted `histogramLineSpacing` query parameter.

@arouinfar anything else here?  I wasn't sure if this was the only tweak, or if you have more to review.

[2019-06-05 21:04] pixelzoom opened #106 "better way of specifying particle locations for screen icons"
This is a "code polishing" issue, mainly for my benefit.

I'd like to find a better (or at least more uniform) way of specifying the locations of particles for screen icons.  For example, in GasPropertiesIconFactory `createDiffusionScreenIcon`, I currently have:

[code]

While this is in code that is unlikely to change and isn't related to anything else, it still feels a little fragile, and there

[2019-06-05 22:10] arouinfar commented on #52
Looks good to me @pixelzoom

[2019-06-05 22:10] #52 closed

[2019-06-05 22:15] arouinfar commented on #101
@pixelzoom the Scale icon, colors, and placement are all looking good to me. @ariel-phet I think it's pretty critical to keep the Scale and COM markers close together, since the goal is provide a way for students to quantify COM position vs. time.

I do like the idea of grouping Center of Mass and Scale, since those are meant to be used together. However, the goals for the Scale checkbox are a bit

[2019-06-05 22:15] #101 closed

[2019-06-05 22:39] arouinfar commented on #88
@pixelzoom let's double `maxDeltaTN` to 20000.

When testing things out at the default, I noticed a bit of a ceiling effect where `heatCoolFactor` was often 1. Increasing `maxDeltaTN` to 20000 allows for more dynamic range, and I haven't seen much saturation on the low or high end of `heatCoolFactor.`

[2019-06-05 22:55] pixelzoom commented on #88
I've increased to `maxDeltaTN: 20000`, and deleted the query parameter.  Looks nice to me.

@arouinfar please review in master.  Feel free to close if all is well.

[2019-06-06 00:43] pixelzoom commented on #104
I did reproduce this using `?fuzz`, and it's still failing at line 67 of `LinePlotNode`.  So previous hypothesis must be incorrect.

[2019-06-06 00:52] pixelzoom commented on #104
Anding an assertion after the computation of `y` tells me:

So the problem is that `yScaleProperty.value` is 0.   It should never be 0, so this validator is incorrect in HistogramsModel:

[code]

[2019-06-06 01:02] pixelzoom commented on #104
Fixed in the above commit.  I'll give CT a couple cycles before closing.

[2019-06-06 01:05] pixelzoom opened #107 "bad holdConstant state"
[code]

[2019-06-06 01:19] pixelzoom commented on #60
Major changes in the above commits, here's a summary.

Step button: When the step button is pressed, any "sample period" or "refresh period" is ignored, and everything is updated immediately.  This include the thermometer, pressure gauge, Average Speed display, histograms, Data accordion box, and center-of-mass indicators. (The particle flow rate indicators already update on every step.)

Change i

[2019-06-06 01:24] pixelzoom commented on #107
Stack trace for similar bad state:

[code]

[2019-06-06 02:02] pixelzoom commented on #107
Steps to reproduce manually:

1. Ideal screen
2. open Particles accordion box
3. add 50 heavy particles
4. wait for "Particle T"  radio button to enable, then select it
5. remove 50 heavy particles, making container empty. This displays Oops dialog and sets to "Nothing"
6. select "Particle T" radio button. Assertion fails.

The problem is that "Pressure V" and "Pressure T" radio buttons are not be

[2019-06-06 02:06] pixelzoom commented on #107
Fixed in above commit.  Verified using steps in https://github.com/phetsims/gas-properties/issues/107#issuecomment-499319951. Closing.

[2019-06-06 02:06] #107 closed

[2019-06-06 02:07] pixelzoom commented on #104
CT is happy, closing.

[2019-06-06 02:07] #104 closed

[2019-06-06 02:08] pixelzoom commented on #60
@arouinfar while you're reviewing, it would also be good to verify the parts of the table in https://github.com/phetsims/gas-properties/issues/60#issuecomment-488393966 that are still relevant.  Thanks.

[2019-06-06 03:40] pixelzoom commented on #60
@arouinfar I discovered another case that we hadn't considered.  If the container is resized while the size is paused, the model needs to be updated.  That is handled by the above commit.  Test drive in master or  [1.0.0-dev.36](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.36/phet/gas-properties_en_phet.html).

[2019-06-06 03:42] pixelzoom commented on #106
Think I'm going to leave this one "as is".  The documentation is clear, and I don't think there's an obviously superior way to do this that doesn't involve a lot of work.  So closing, and we'll see if it comes up in code review.

[2019-06-06 03:42] #106 closed

[2019-06-06 03:50] pixelzoom commented on #98
@arouinfar This is ready for your review.  You can use master or [1.0.0-dev.36](https://phet-dev.colorado.edu/html/gas-properties/1.0.0-dev.36/phet/gas-properties_en_phet.html).

The worst-case scenario is shown below: the _Energy_ screen with 2000 particles, all accordion boxes expanded, all 4 "species histogram" checkboxes checked (histograms are updated only when visible), and the stopwatch run

[2019-06-06 15:30] pixelzoom commented on #103
| Minutes | Heap Size (MB) |
| --- | --- |
| 0 | XX |
| 5 | XX |
| 10 | XX |
| 15 | XX |
| 20 | XX |
| 25 | XX |
| 30 | XX |
| 45 | XX |
| 60 | XX |

[2019-06-06 16:42] pixelzoom commented on #103
I asked @KatieWoe if the results in https://github.com/phetsims/gas-properties/issues/103#issuecomment-499545462 looked reasonable.  She said that the memory usage actually looks lower than expected, which is great.

@arouinfar @ariel-phet @kathy-phet FYI, memory testing is done, no issues, closing.

[2019-06-06 16:42] #103 closed

[2019-06-06 16:52] pixelzoom opened #108 "CT: openingLeft must be <= openingRight"
This refers to the container's lid.  `openingLeft` and `openingRight` are in pm and define the opening in the top of the container.  `openingLeft` should always be <= `openingRight`.  In this case, the left edge of the opening is 4672 pm to the _right_ of the container's right wall, no idea how that could be possible.

[code]

[2019-06-06 17:09] pixelzoom commented on #108
This starts in `compensateForHoldConstant` with `HoldConstant.PRESSURE_V`, where the container is resized immediately to hold pressure constant.

In GasPropertiesContainer, `lidWidthProperty` needs a validator, because it has a minimum positive value:

[code]

[2019-06-06 17:29] pixelzoom commented on #108
Looks like `lidWidthProperty` already had a validator, but it wasn't done through options. It's not handled in `isValidValue`:

[code]

[2019-06-06 17:56] pixelzoom commented on #108
Reproduced in master requirejs mode with `?ea&log&screens=1&fuzz`

Console output:

[code]

Stack trace:

[code]

[2019-06-06 18:13] pixelzoom commented on #108
Reproduced again, here's another data point.

Console:
[code]

Stack trace:

[code]

[2019-06-06 18:31] pixelzoom opened #109 "preliminary code review"
Discussed at 6/6/19 dev meeting.

The final code review will happen after dev testing, probably sometime in the first 2 weeks of July, see https://github.com/phetsims/gas-properties/issues/111.

In the meantime, @veillette and @brandonLi8 may do a preliminary code review,  focusing on the most important classes. This can be done at any time, but keep in mind that [model.md](https://github.com/phet

[2019-06-06 18:36] pixelzoom commented on #109
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with* ❌

PhET code-review checklist
=============

## Table of Contents
* [Build and Run Check](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md#build-and-run-checks)
* [Memory Leaks](https://github.com/phetsims/phet-info/blob

[2019-06-06 20:47] pixelzoom opened #110 "document magic numbers"
There are a few magic numbers in `GasPropertiesConstants` that are related to the non-standard units that we used in the model.  See below.  I think it would be good to provide the calculations somewhere - perhaps in model.md, or even just a scan of a piece of paper.  @arouinfar do you still have your notes for these computations?

[code]